<nav id="footer" class="col-lg-12 col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 footerFont text-left">
                <h4>卡卡貓</h4>
                <h5><a>開始了解</a></h5>
                <h5><a>照護中心</a></h5>
            </div>
            <div class="col-lg-3 col-md-3 footerFont text-left">
                <h4>聯絡我們</h4>
                <h5><a>0973284093</a></h5>
                <h5><a href="mailto:jjrptaiwan@gmail.com">jjrptaiwan@gmail.com</a></h5>
            </div>
            <div class="col-lg-3 col-md-3 footerFont text-left">
                <h4>關注我們</h4>
                <div class="row">
                    <div class="col-lg-3 col-md-3"><a><img src="../images/index/fb_icon.png"></a></div>
                    <div class="col-lg-3 col-md-3"><a><img src="../images/index/instagram_icon.png"></a></div>
                    <div class="col-lg-3 col-md-3"><a><img src="../images/index/line_icon.png"></a></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <img src="../images/favicon.png">
            </div>
        </div>
    </div>
    <br>
    <div class="text-center" style="background-color: #f1f1f2;font-size: 10px;">Copyright © 2018 CATCATMED All rights reserved.</div>
</nav>
<style>
    #footer{
        background-color: #f1f1f2;
        padding-top: 5vh;
    }
    #footer hr{
        margin: 0;
    }
    .footerItem{
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .footerFont h4{
        font-size: 1.2em;
    }
    .footerFont h5{
        font-size: 1em;
        font-weight: normal;
        color: gray;
        cursor: pointer;
    }
    .footerFont a{
        font-weight: normal;
        text-decoration: none;
        color: gray;
    }
    .footerFont a:hover{
        color: #D0D2D3;
    }
    .footerFont h5:hover{
        color: #D0D2D3;
    }
</style>