<!DOCTYPE html>
<html>
<head>
    <title>catcatmed| 智慧型寵物營養系統</title>
    <% include partials/head_layer1 %>
</head>
<body>
    <header class="row">
        <% include partials/nav %>
    </header>
    <body>
        
    </body>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
<script>
    
</script>