<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>

	<title>catcatmedHome</title>

	<link rel="stylesheet" type="text/css" href="stylesheets/algorithmResult.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/header.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="javascript/jquery/jquery_v-3-3-1.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
	
	<style>
		@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
		{
			font-family: 'Noto Sans TC';
		}
	</style>
</head>
<body>
	<!-- HEADER -->
	<div>
		<nav class="nav navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<ul class="nav navbar-nav navLogo">
						<li><a href="/testAlgo" class="navbar-brand">卡卡貓LOGO</a></li>
					</ul>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">					
					</ul>
					<ul class="nav navbar-nav navbar-right">	
						<li><a href="/">回首頁</a></li>
					</ul>
				</div>
			</div>
		</nav> 	
	</div>
	<!-- BODY -->
	<div class="body">
		<div class="container">
			<!-- SELECT -->
			<div class="col-lg-4 col-md-4">
				<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
					<div class="dropdown">
						<button class="dropbtn">篩選條件</button>
						<div class="dropdown-content">
							<p>品牌</p>
							<p>價格</p>
							<p>銷售</p>
						</div>
					</div>
				</div>
				<div class="product col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
					<div class="productItem">
						<div class="productItemImg">
						</div>
						<div class="productItemBar text-center">
							<h4>商品名稱</h4>
							<h5>NTD 250</h5>
						</div>
					</div>
				</div>
				<div class="product col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
					<div class="productItem">
						<div class="productItemImg">
						</div>
						<div class="productItemBar text-center">
							<h4>商品名稱</h4>
							<h5>NTD 250</h5>
						</div>
					</div>
				</div>
				<div class="product col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
					<div class="productItem">
						<div class="productItemImg">
						</div>
						<div class="productItemBar text-center">
							<h4>商品名稱</h4>
							<h5>NTD 250</h5>
						</div>
					</div>
				</div>
				<div class="product col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
					<div class="productItem">
						<div class="productItemImg">
						</div>
						<div class="productItemBar text-center">
							<h4>商品名稱</h4>
							<h5>NTD 250</h5>
						</div>
					</div>
				</div>
			</div>
			<!-- RESULT BLOCK -->
			<div class="col-lg-8 col-md-8">
				<div class="col-lg-8 col-md-7 col-lg-offset-2 col-md-offset-2">
				<div class="basicProductInfo_inner">
					<div class="basicImg basicImg-sm basicInfo">
					</div>
					<div class="basicInformation basicInformation-sm basicInfo text-center">
						<h3>套餐名稱</h3>			
						<h5>對於套餐的描述，沙丁魚、比目魚、銀鱈及岩魚，對於套餐的描述對於套餐的描述對於套餐的描述對於套餐的描述對於套餐描述。</h5>
					</div>
				</div>
				<div class="advancedProduct">
					<div class="advancedProduct_inner">
						<div class="advancedInfomationIcon text-center">
							<h3 class="advancedHead">好處</h3>
							<div class="icon">
							<img src="images/product/icon/heart.png"></div><div class="icon">
							<img src="images/product/icon/immu.png"></div><div class="icon">
							<img src="images/product/icon/stress.png"></div><div class="icon">
							<img src="images/product/icon/preg.png"></div>
							<div class="advancedInfo text-center">							
							<h5 class="advancedIntro">補充毛孩好心情的關鍵營養</h5>
							<h5 class="advancedIntro">由植物、酵母菌等濃縮萃取的天然胺基酸，幫助毛孩面對壓力，天天好心情</h5>
						</div>							
						</div>				
					</div>										
				</div>
				<div class="basicInformation text-center">
					<h4>NTD 250<span>     /   month</span></h4>								
				</div>
				<button class="basicInformationButton">放入購物車</button>
			</div>
		</div>		
	</div>
</body>
</html>