<!DOCTYPE html>
<html>
<head>
    <title>catcatmed| 暫時的後台</title>
    <% include partials/head_layer1 %>
</head>
<style>
    #body{
        background-color: #F6E3D6;
    }
</style>
<body id="body">
    <input type="text" id="pwd">
    <button onclick="Send()">send</button>
    <div id="result"></div>
</body>
</html>
<script>
    function Send(){
        $.ajax({
            method : 'POST',
            url : '/askEmailRecording',
            data : {
                pwd : $('#pwd').val()
            }
        }).done(function(data){
            if(data=='wrong'){
                //do nothing
            }else{
                var list = JSON.parse(data);
                var innerHTML = '';
                for(i=0;i<list.length;i++){
                    innerHTML += '<h5>'+list[i]+'</h5>'; 
                }
                document.getElementById('result').innerHTML = innerHTML;
            }
        });
    }
</script>