<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>

	<title>catcatmed| BackEndControl</title>

	<link rel="stylesheet" type="text/css" href="stylesheets/header.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="javascript/jquery/jquery_v-3-3-1.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- BODY -->
	<div class="body"></div>
	<div class="">		
        <span>ADMIN ID:</span>
        <input id="adminID" type="password">
        <br>
        <br>
        <span>ADMIN PWD:</span>
        <input id="adminPWD" type="password">
        <button onclick="AskData()">admin login</button>
        <button onclick="AdminLogout()">admin logout</button>   
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>userid</th>
                    <th>username</th>
                    <th>userphone</th>
                    <th>userhomeaddress</th>
                    <th>user711address</th>
                    <th>productCode</th>
                    <th>productName_ZH</th>
                    <th>orderstate</th>
                    <th>buildTime</th>
                    <th>checkTime</th>
                    <th>outgoingTime</th>
                    <th>deliveryTime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="showOrderList"></tbody>
        </table>
        <hr>
        <div class="container" id="changeOrderState">

        </div>
	</div>
</body>
</html>
<script>
    let D;
    function AdminLogout(){
        $.ajax({
            method : 'POST',
            url : '/adminLogout'
        }).done(function(data){
            alert('SUCCESS LOGOUT!');
            window.location.href = '/backendControlPanel';
        });
    }
    function AskData(){
        if($('#adminID').val()!='' && $('#adminPWD').val()!=''){
            $.ajax({
                method : 'POST',
                url : '/adminLogin',
                data : {
                    id : $('#adminID').val(),
                    pwd : $('#adminPWD').val()
                }
            }).done(function(data){
                if(data=='input error!') alert(data);
                else{
                    D = JSON.parse(data);
                    let innerHTML = '';
                    let color;
                    for(i=0;i<D.length;i++){
                        if(D[i].os=='1') color = 'bg-danger'; 
                        else if(D[i].os=='2') color = 'bg-warning';
                        else if(D[i].os=='3') color = 'bg-info';
                        else if(D[i].os=='4') color = 'bg-success';
                        else color = 'bg-primary';
                        innerHTML += '<tr id="'+D[i].id+'" class="'+color+'">';
                        innerHTML += '<th>'+D[i].id+'</th>';
                        innerHTML += '<th>'+D[i].uid+'</th>';
                        innerHTML += '<th>'+D[i].un+'</th>';
                        innerHTML += '<th>'+D[i].up+'</th>';
                        innerHTML += '<th>'+D[i].uha+'</th>';
                        innerHTML += '<th>'+D[i].u7a+'</th>';
                        innerHTML += '<th>'+D[i].pc+'</th>';
                        innerHTML += '<th>'+D[i].pnz+'</th>';
                        innerHTML += '<th>'+D[i].os+'</th>';
                        innerHTML += '<th>'+D[i].bt+'</th>';
                        innerHTML += '<th>'+D[i].ct+'</th>';
                        innerHTML += '<th>'+D[i].ot+'</th>';
                        innerHTML += '<th>'+D[i].dt+'</th>';
                        innerHTML += '<th><button onclick="ChangeOrderState(this.id)" id="'+D[i].id+'Button">更改</button></th>';
                        innerHTML += '</tr>';
                    }
                    document.getElementById('showOrderList').innerHTML = innerHTML;
                }
            });
        }
        else{
            alert('輸入admin id, pwd.');
        }
    }
    function ChangeOrderState(id){
        id = id.replace('Button','');
        idInt = parseInt(id);
        let innerHTML = '';
        innerHTML += '<h4>訂單編號 : '+id+'</h4>';
        innerHTML += '<h4>order state : '+D[idInt-1].os+'</h4>';
        innerHTML += '<input type="number" id="newos">';
        innerHTML += '<button onclick="SendNewOrderState('+id+')">Change</button>';
        document.getElementById('changeOrderState').innerHTML = innerHTML;
    }
    function SendNewOrderState(id){
        idInt = parseInt(id);
        if($('#newos').val()!=D[idInt-1].os+1){
            alert('不可以這樣操作!');
        }else{
            $.ajax({
                method : 'POST',
                url : '/sendnewos',
                data : {
                    id : id,
                    newos : $('#newos').val()                    
                }
            }).done(function(data){
                AskData();
                document.getElementById('changeOrderState').innerHTML = '';
            });
        }
    }
</script>