<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>

	<title>catcatmed| BackEndControl</title>

	<link rel="stylesheet" type="text/css" href="stylesheets/header.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="javascript/jquery/jquery_v-3-3-1.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- BODY -->
	<div class="body"></div>
	<div style="overflow:auto">		
        <span>ADMIN ID:</span>
        <input id="adminID" type="password">
        <br>
        <br>
        <span>ADMIN PWD:</span>
        <input id="adminPWD" type="password">
        <button onclick="AskData()">admin login</button>  
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>name</th>
                    <th>username</th>
                    <th>BKN_name</th>
                    <th>BKN_age</th>
                    <th>BKN_sex</th>
                    <th>BCN</th>
                    <th>BCS</th>
                    <th>BCA_ageYear</th>
                    <th>BCA_ageMonth</th>
                    <th>BSP</th>
                    <th>BNU</th>
                    <th>BPR</th>
                    <th>BPT</th>
                    <th>BFN</th>
                    <th>BFA_kittyNum</th>
                    <th>BFA_week</th>
                    <th>BCW_kilo</th>
                    <th>BCW_gram</th>
                    <th>BEF</th>
                    <th>BSI</th>
                    <th>BBC</th>
                    <th>weight_control</th>
                    <th>select_icon</th>
                    <th>joint_now</th>
                    <th>joint_med</th>
                    <th>joint_below</th>
                    <th>joint_jump</th>
                    <th>joint_daily</th>
                    <th>heart_now</th>
                    <th>heart_behave</th>
                    <th>heart_avgtemp</th>
                    <th>mouth_now</th>
                    <th>mouth_behave</th>
                    <th>mouth_brush</th>
                    <th>fur_freq</th>
                    <th>fur_behave</th>
                    <th>fur_tie</th>
                    <th>immu_now</th>
                    <th>immu_behave</th>
                    <th>immu_behave_before</th>
                    <th>immu_spirit</th>
                    <th>immu_med</th>
                    <th>kidney_now</th>
                    <th>kidney_urine</th>
                    <th>kidney_health</th>
                    <th>urinary_now</th>
                    <th>urinary_behave</th>
                    <th>urinary_together</th>
                    <th>urinary_water</th>
                    <th>stoma_problem</th>
                    <th>stoma_bathroom</th>
                    <th>stoma_strange</th>
                    <th>melt_freq</th>
                    <th>stress_now</th>
                    <th>stress_enviornment</th>
                    <th>stress_enviornment_out</th>
                    <th>stress_lifestyle</th>
                    <th>extra_eatinghabit</th>
                    <th>extra_eatingfreq</th>
                    <th>extra_weekcan</th>
                    <th>extra_freshflesh</th>
                    <th>extra_minifish</th>
                    <th>extra_killbugs</th>
                    <th>extra_vacci</th>
                    <th>extra_alergent</th>
                    <th>extra_drinking</th>
                    <th>extra_cooking</th>
                    <th>extra_strangehabit</th>
                    <th>extra_place</th>
                    <th>extra_knowhow</th>
                </tr>
            </thead>
            <tbody id="showOrderList"></tbody>
        </table>
        <hr>
        <div class="container" id="changeOrderState">

        </div>
	</div>
</body>
</html>
<script>
    var result;
    function AskData(){
        if($('#adminID').val()!='' && $('#adminPWD').val()!=''){
            $.ajax({
                method : 'POST',
                url : '/backendQNList',
                data : {
                    id : $('#adminID').val(),
                    pwd : $('#adminPWD').val()
                }
            }).done(function(data){
                if(data=='input error!') alert(data);
                else{
                    result = JSON.parse(data);
                    var innerHTML = '';
                    for(i=0;i<result.length;i++){
                        innerHTML += '<tr>';
                        innerHTML += '<th>'+result.name+'</th>';
                        innerHTML += '<th>'+result.username+'</th>';
                        innerHTML += '<th>'+result.BKN_name+'</th>';
                        innerHTML += '<th>'+result.BKN_age+'</th>';
                        innerHTML += '<th>'+result.BKN_sex+'</th>';
                        innerHTML += '<th>'+result.BCN+'</th>';
                        innerHTML += '<th>'+result.BCS+'</th>';
                        innerHTML += '<th>'+result.BCA_ageYear+'</th>';
                        innerHTML += '<th>'+result.BCA_ageMonth+'</th>';
                        innerHTML += '<th>'+result.BSP+'</th>';
                        innerHTML += '<th>'+result.BNU+'</th>';
                        innerHTML += '<th>'+result.BPR+'</th>';
                        innerHTML += '<th>'+result.BPT+'</th>';
                        innerHTML += '<th>'+result.BFN+'</th>';
                        innerHTML += '<th>'+result.BFA_kittyNum+'</th>';
                        innerHTML += '<th>'+result.BFA_week+'</th>';
                        innerHTML += '<th>'+result.BCW_kilo+'</th>';
                        innerHTML += '<th>'+result.BCW_gram+'</th>';
                        innerHTML += '<th>'+result.BEF+'</th>';
                        innerHTML += '<th>'+result.BSI+'</th>';
                        innerHTML += '<th>'+result.BBC+'</th>';
                        innerHTML += '<th>'+result.weight_control+'</th>';
                        innerHTML += '<th>'+result.select_icon+'</th>';
                        innerHTML += '<th>'+result.joint_now+'</th>';
                        innerHTML += '<th>'+result.joint_med+'</th>';
                        innerHTML += '<th>'+result.joint_below+'</th>';
                        innerHTML += '<th>'+result.joint_jump+'</th>';
                        innerHTML += '<th>'+result.joint_daily+'</th>';
                        innerHTML += '<th>'+result.heart_now+'</th>';
                        innerHTML += '<th>'+result.heart_behave+'</th>';
                        innerHTML += '<th>'+result.heart_avgtemp+'</th>';
                        innerHTML += '<th>'+result.mouth_now+'</th>';
                        innerHTML += '<th>'+result.mouth_behave+'</th>';
                        innerHTML += '<th>'+result.mouth_brush+'</th>';
                        innerHTML += '<th>'+result.fur_freq+'</th>';
                        innerHTML += '<th>'+result.fur_behave+'</th>';
                        innerHTML += '<th>'+result.fur_tie+'</th>';
                        innerHTML += '<th>'+result.immu_now+'</th>';
                        innerHTML += '<th>'+result.immu_behave+'</th>';
                        innerHTML += '<th>'+result.immu_behave_before+'</th>';
                        innerHTML += '<th>'+result.immu_spirit+'</th>';
                        innerHTML += '<th>'+result.immu_med+'</th>';
                        innerHTML += '<th>'+result.kidney_now+'</th>';
                        innerHTML += '<th>'+result.kidney_urine+'</th>';
                        innerHTML += '<th>'+result.kidney_health+'</th>';
                        innerHTML += '<th>'+result.urinary_now+'</th>';
                        innerHTML += '<th>'+result.urinary_behave+'</th>';
                        innerHTML += '<th>'+result.urinary_together+'</th>';
                        innerHTML += '<th>'+result.urinary_water+'</th>';
                        innerHTML += '<th>'+result.stoma_problem+'</th>';
                        innerHTML += '<th>'+result.stoma_bathroom+'</th>';
                        innerHTML += '<th>'+result.stoma_strange+'</th>';
                        innerHTML += '<th>'+result.melt_freq+'</th>';
                        innerHTML += '<th>'+result.stress_now+'</th>';
                        innerHTML += '<th>'+result.stress_enviornment+'</th>';
                        innerHTML += '<th>'+result.stress_enviornment_out+'</th>';
                        innerHTML += '<th>'+result.stress_lifestyle+'</th>';
                        innerHTML += '<th>'+result.extra_eatinghabit+'</th>';
                        innerHTML += '<th>'+result.extra_eatingfreq+'</th>';
                        innerHTML += '<th>'+result.extra_weekcan+'</th>';
                        innerHTML += '<th>'+result.extra_freshflesh+'</th>';
                        innerHTML += '<th>'+result.extra_minifish+'</th>';
                        innerHTML += '<th>'+result.extra_killbugs+'</th>';
                        innerHTML += '<th>'+result.extra_vacci+'</th>';
                        innerHTML += '<th>'+result.extra_alergent+'</th>';
                        innerHTML += '<th>'+result.extra_drinking+'</th>';
                        innerHTML += '<th>'+result.extra_cooking+'</th>';
                        innerHTML += '<th>'+result.extra_strangehabit+'</th>';
                        innerHTML += '<th>'+result.extra_place+'</th>';
                        innerHTML += '<th>'+result.extra_knowhow+'</th>';
                        innerHTML += '</tr>';
                    }
                    document.getElementById('showOrderList').innerHTML = innerHTML;
                }
            });
        }
        else{
            alert('輸入admin id, pwd.');
        }
    }
</script>