<!DOCTYPE html>
<html>
<head>
    <title>catcatmed| 智慧型寵物營養系統</title>
    <% include partials/head_layer1 %>
</head>
<body id="body">
    <style>
        .firstBanner{
            height: 100vh;
            padding-top: 25vh;
            margin: 0;
        }
        video{
            position: fixed;
            width: 100%;
        }
        .firstBanner h1{
            margin: 30px 0;
            font-size: 3em;
            color: rgba(0,0,0,0);
            animation-name: firstBanner_animation1;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
        .firstBanner h5{
            margin: 30px 0;
            color: rgba(0,0,0,0);
            animation-name: firstBanner_animation1;
            animation-duration: 1s;
            animation-delay: 0.6s;
            animation-fill-mode: forwards;
        }
        .firstBanner_button{
            border: rgba(0,0,0,0) 1px solid;
            color: rgba(0,0,0,0);
            font-size: 1em;
            background-color: rgba(0,0,0,0);
            padding: 1em 3em;
            border-radius: 40px;
            margin-top: 2em;
            cursor: pointer;
            outline: none !important;
            animation-name: firstBanner_animation2;
            animation-duration: 1s;
            animation-delay: 1.2s;
            animation-fill-mode: forwards;
        }
        .firstBanner_button_after{
            border: black 1px solid;
            color: black;
            font-size: 1em;
            background-color: rgba(0,0,0,0);
            padding: 1em 3em;
            border-radius: 40px;
            margin-top: 2em;
            cursor: pointer;
            outline: none !important;
        }
        .bubble{
            border: black 1px solid;
            color: black;
            font-size: 1em;
            background-color: rgba(0,0,0,0);
            padding: 1em 3em;
            border-radius: 40px;
            margin-top: 2em;
            cursor: pointer;
            outline: none !important;
            animation-name: firstBanner_animationBubble;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
        .banner{
            height: 85vh;
        }
        /* animation part */
        @keyframes firstBanner_animation1{
            0% {color: rgba(0,0,0,0);margin:60px}
            100% {color: black;margin:30px}
        }
        @keyframes firstBanner_animation2{
            0% {border: rgba(0,0,0,0) 1px solid;color: rgba(0,0,0,0);margin:60px}
            100% {border: black 1px solid;color: black;margin:30px}
        }
        @keyframes firstBanner_animationBubble{
            0% {font-size: 1em;padding: 1em 3em;margin-top: 2em}
            30% {font-size: 1em;padding: 1.3em 4em;margin-top: 1.7em;}
            100% {font-size: 1em;padding: 1em 3em;margin-top: 2em;}
        }
    </style>
    <!--This video is made by : Cat in the grass in the sun By MattiaMc - Lo Bianco Mattia-->
    <video src="images/index/cat_in_the_sun.mp4" autoplay></video>
    <header class="row">
        <% include partials/nav %>
    </header>
    <body>
        <div class="row firstBanner">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h1>三分鐘找出貓小孩完整營養需求</h1>
                <h5>讓卡卡貓專業獸醫團隊，為您把關貓咪的健康</h5>
                <button class="firstBanner_button" id="firstBanner_button" onclick="window.location.href = '/questionnaire'">開始了解</button>
            </div>
        </div>
    </body>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
<script>
    var navBackground = true;
    var firstBanner_button = true;
    $(window).scroll(function(){
        if($(window).scrollTop()>=100 && navBackground){
            navBackground = false;
            $('#navigationBar').toggleClass('navigationBarLeave');
        }
        if($(window).scrollTop()<100 && !navBackground){
            navBackground = true;
            $('#navigationBar').toggleClass('navigationBarLeave');
        }
    });
    $('#firstBanner_button').hover(
        function(){
            $('#firstBanner_button').toggleClass('bubble');
            if(firstBanner_button){
                $('#firstBanner_button').toggleClass('firstBanner_button');
                firstBanner_button = false;
            }
            else if(!firstBanner_button){
                $('#firstBanner_button').toggleClass('firstBanner_button_after');
            }
        },function(){
            $('#firstBanner_button').toggleClass('bubble firstBanner_button_after');
        }
    );
</script>