<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title> catcatmed| index</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="stylesheets/index_mobile.css">
    <style>
        @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
        h3{
            font-family: 'Noto Sans TC';
            font-weight: bold;
        }
        h5{
            font-family: 'Noto Sans TC';
            font-weight: bold;
        }
        p{font-family: 'Noto Sans TC',monospace;}
        a{font-family: 'Noto Sans TC',monospace;}
        span{font-family: 'Noto Sans TC';}
        button{font-family: 'Noto Sans TC';}
    </style>
</head>

<body>

    
    <nav id="nav_bar" class="navbar navbar-toggleable-sm navbar-light bg-faded">
            
            <a class="navbar-brand" href="#">
                <img id="top_logo" src="./images/index/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="questionnaire">開始懂牠</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" onclick="UnfunctionalPart()">營養知識</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" href="#" onclick="UnfunctionalPart()">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="UnfunctionalPart()">購物商場</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(name){ %>
                    <li class="nav_item">
                        <a class="nav_link" href="logout">登出</a>
                    </li>
                <% }else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="login">登入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup">註冊</a>
                    </li>
                <% } %>
                
            </ul>
            </div>
    </nav>
    <div id="nav_top_block"></div>
    <div class="row" id=image_slide_block>
        <div id="carouselExampleIndicators" class="carousel slide col-md-12" data-ride="carousel" >
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 image_slide" src="./images/index/image_slide1.jpg" alt="First slide">
                    <!-- <div id="image_slide_block1">
                        <div id="image_slide_exp1"><p>貓咪到底適不適合現在的飼料？</p></div>
                        <br>
                        <div class="d-flex flex-row">
                            <div class="col-md-6"></div>
                            <button href="#" id="slide_button1" type="button" class="slide_button">開始瞭解 >></button>
                        </div>
                    </div> -->
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./images/index/image_slide2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./images/index/image_slide3.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="text-center container" id="gif_block">
        <br>
        <br>
        <h5>
            簡易明瞭的飲食習慣
        </h5>
        <br>
        <div id="gif_bar_block" class="col-md-12 d-flex flex-column justify-content-center">
            <div class=" d-flex flex-row align-items-end gif_bar">
                <!-- <div class="col-md-12" style="height: 20%;"></div> -->
                <div class=" gif_col">
                    <br>
                    <a href="#"><img class="gif_img" src="./images/index/gif1_1.gif" alt="gif tmp"></a>
                    <br>
                    <br>
                    <p>建立完整身體資料</p>
                </div>
                <div class=" gif_col">
                    <br>
                    <a href="#"><img class="gif_img" src="./images/index/gif2_2.gif" alt="gif tmp"></a>
                    <br>
                    <br>
                    <p>選購推薦清單之資料</p>
                </div>
            </div>
            <div class=" d-flex flex-row align-items-end gif_bar">
                <div class=" gif_col">
                    <br>
                    <a href="#"><img class="gif_img" src="./images/index/gif3_3.gif" alt="gif tmp"></a>
                    <br>
                    <br>
                    <p>寄送月費型卡吃卡吃桶</p>
                </div>
                <div class=" gif_col"> 
                    <br>
                    <a href="#"><img class="gif_img" src="./images/index/gif4_4.gif" alt="gif tmp"></a>
                    <br>
                    <br>
                    <p>填寫飲食狀態回饋</p>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion" class="container">
        <br>
        <br>
        <h5 class="text-center">為什麼要選卡卡貓</h5>
        <br>
        <div id="why_block" class="d-flex flex-column">
            <div class="card ">
                <div class="card-header" id="headingOne">
                    <img class="why_expression_img" src="./images/index/why1.png">
                    <button class="btn btn-link collapsed why_topic" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            預防醫學
                    </button>
                </div>
                
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                        <p>依照貓咪的品種、年齡，和身體需求，給予最合適的營養需求及照護建議，從危機預防到尋找徵兆，從早期發現到早期治療，居家搭建完整防護網。</p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <img class="why_expression_img" src="./images/index/why2.png">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            貓咪心理照護
                    </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                        <p>貓咪情感細膩，對身邊的人和事非常敏感，也容易緊張、有壓力。貓咪的壓力可大可小，但心理會影響生理，嚴重更會致病，提供完整貓咪的心理照護資訊，不只照顧貓咪的身體，更能讓貓咪更開心。</p>
                </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header" id="headingThree">
                    <img class="why_expression_img" src="./images/index/why3.png">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            清楚營養記錄，最適健康調整
                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                       <p>依照貓咪的身體變化及飼主的回饋，隨時進行飲食菜單的調整，不僅是飲食的更換，更能針對貓咪及飼主的互動進行餵養方式的調整，讓每位毛爸毛媽放心，更能讓每位毛孩吃得健康。</p>
                </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header" id="headingFour">
                    <img class="why_expression_img" src="./images/index/why4.png">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            一建更換，不用擔心吃不慣
                    </button>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                        <p>月費式的消費模式能夠讓飼主馬上更換相同價位區間的飼料，讓毛孩能補充多樣微量元素，自由的選擇品牌搭配，給毛孩更多的選擇，且獸醫也建議貓咪至少每2~3個月需要更換一次飼料。</p>
                </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header" id="headingFive">
                    <img class="why_expression_img" src="./images/index/why5.png">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            線上營養照護系統
                    </button>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                        <p>網上的健檢諮詢就能獲得醫師所需的身理資訊，不需將寶貝毛孩帶出門奔波就能獲得飲食營養推薦及居家照護建議，省去飼主麻煩，減少貓咪外出壓力。</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div id="promise_block" class="container">
        <br>
        <br>
        <h5 class="text-center">我們一諾千金</h5>
        <br>
        <div id="promise_card_block" class="d-flex flex-column">
            <div class="card">
                <img class="card-img-top" src="./images/index/promise1.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">沒有業績銷售壓力，完全針對每隻毛孩的身體狀況，以最誠實、無偏見的方式呈現出最合適的飼料。</p>
                </div>
            </div>
            <br>
            <div class="card">
                <img class="card-img-top" src="./images/index/promise2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">整合國內外學界、研究單位及業界最新的寵物資訊，打造最正確、完善的健康飲食菜單。</p>
                </div>
            </div>
            <br>
            <div class="card">
                <img class="card-img-top" src="./images/index/promise3.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">不僅是身理，卡卡貓也注重毛孩的心理健康，針對毛孩的特殊狀況都有可能是心理所引起的反應。</p>
                </div>
            </div>
            <br>
            <div class="card">
                <img class="card-img-top" src="./images/index/promise4.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">透過專業的獸醫團隊及營養師團隊定期更新醫療界知識，確保每隻毛孩都能吃到最安心的選擇。</p>
                </div>
            </div>
            
            <!-- ---- -->
        </div>
    </div>
    <div id="white_block">
            
    </div>
    <footer id="footer">
        <div id="footer_block" class="d-flex flex-row justify-content-around "></div>
        <div class="d-flex flex-row justify-content-around col-12 col-sm-12">
            <!-- <div class="d-flex flex-column ">
                <a href="#"><img id="bottom_logo" src="./images/index/logo.png" alt="logo"></a>
            </div> -->
            <div class="d-flex flex-column text-center col-5 col-sm-5" style="padding: 0;">
                    <p class="bottom_header">卡卡貓</p>
                <div class="d-flex flex-row justify-content-center">
                    <div class="flex-column " style="padding: 0;">
                        <a class="bottom_link nav-item nav-link" href="#">團對介紹</a>
                        <a class="bottom_link nav-item nav-link" href="#">合作伙伴</a>
                        <a class="bottom_link nav-item nav-link" href="#">開始懂牠</a>
                        <a class="bottom_link nav-item nav-link" href="#">常見問題</a>
                    </div>
                    <div class="flex-column " style="padding: 0;">
                        <a class="bottom_link nav-item nav-link" href="#">購物商場</a>
                        <a class="bottom_link nav-item nav-link" href="#">營養知識</a>
                        <a class="bottom_link nav-item nav-link" href="#">會員中心</a>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column  text-center col-4 col-sm-4" style="padding: 0;">
                <p class="bottom_header">聯絡我們</p>
                <div class="flex-column ">
                    <a class="bottom_link nav-item nav-link">04-12345678</a>
                    <!-- <a class="nav-item nav-link">test@gmail.com</a> -->
                    <a class="bottom_link nav-item nav-link" href="mailto:test@gmail.com">test@gmail.com</a>
                </div>
            </div>
            <div class="d-flex flex-column text-center col-3 col-sm-3" style="padding: 0;">
                <p class="bottom_header">關注我們</p>
                <br>
                <div class="d-flex flex-row">
                    <!-- <div class="col-md-3"></div> -->
                    <!-- <div class="col-2"></div> -->
                    <div class="col-4 justify-content-center" style="padding: 0;">
                        <input type="button" id="line_button">
                    </div>
                    <div class="col-4 justify-content-center" style="padding: 0;">
                        <input type="button" id="instagram_button">
                    </div>
                    <div class="col-4 justify-content-center" style="padding: 0;">
                        <input type="button" id="fb_button">
                    </div>
                    <!-- <div class="col-sm-2 col-1"></div> -->
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>