<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CatCatMed Library</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
<link rel="apple-touch-icon" href="../stylesheets/Library_package/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../stylesheets/Library_package/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../stylesheets/Library_package/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="../stylesheets/Library_package/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/Library_package/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="../stylesheets/Library_package/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
      {
          font-family: 'Noto Sans TC';
      }
      h1{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
      h2{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
      h3{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
      h4{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
      h5{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
      span{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
      p{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
      a{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
      button{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
      th{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
      input{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
      select{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
      li{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: normal;}
      /* scroll bar */
      /* width */
      ::-webkit-scrollbar {
          width: 5px;
          border-radius: 100px;
      }
      /* Track */
      ::-webkit-scrollbar-track {
          background: white; 
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
          background: gray;
          border-radius: 100px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
          background: #555;
      }
      body{
          overflow-x: hidden;
          margin:0;
          padding:0;
      }
      /* Tooltip container */
      .tooltip {
          position: relative;
          display: inline-block;
      }

      /* Tooltip text */
      .tooltip .tooltiptext_bottom {
          visibility: hidden;
          min-width: 150%;
          background-color: rgba(0, 0, 0, 0.8);
          color: #fff;
          text-align: left;
          padding: 5px 5px;
          border-radius: 6px;
          top: 100%;
          left: 50%;
          margin-left: -50%;
      
          /* Position the tooltip text - see examples below! */
          position: absolute;
          z-index: 1;
      }
      /* Show the tooltip text when you mouse over the tooltip container */
      .tooltip:hover .tooltiptext_bottom {
          visibility: visible;
      }
  </style>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="/"><i class="fa fa-bookmark-o"></i> 回首頁</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about" class="page-scroll">書籍</a></li>
        <li><a href="#services" class="page-scroll">論文</a></li>
        <li><a href="#pricing" class="page-scroll">文章</a></li>
        <li><a href="#contact" class="page-scroll">聯絡我們</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>the Library</h1>
            <h2>卡卡貓文獻總整理</h2>
            <p>該科學研究僅供參考。研究結果不一定發生在所有個體中，訊息僅供參考。</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- 書籍 -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>書籍</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h3>1. Small Animal Clinical Nutrition</h3>
          <h5>Hand Thatcher Remillard Rouldebush Novotmy</h5>
          <h3>2. Basic Animal Nutrition and Feeding</h3>
          <h5>D. C. Church</h5>
          <h3>3. Principles of Companion Animal Nutrition</h3>
          <h5>John P. McNamara</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 文獻參考 -->
<div id="services">
  <div class="container">
    <div class="section-title text-center center">
      <h2>文獻參考</h2>
      <hr>
      <h3><i class="fa fa-spoon" style="font-size: 45px"></i>飲食營養&nbsp;&nbsp;&nbsp;<i class="fa fa-heart" style="font-size: 35px"></i>健康長照&nbsp;&nbsp;&nbsp;<i class="fa fa-stethoscope" style="font-size: 45px"></i>疾病研究</h3>
    </div>
    <div class="row">
        <div class="services-text">
          <h3><i class="fa fa-spoon" style="font-size:20px;"></i>&nbsp; &nbsp;Obesity in Caged Cockatiel <small> //Cheryl L. Dikeman, Department of Nutrition, 2016</small></h3>
          <h3><i class="fa fa-stethoscope" style="font-size:20px;"></i>&nbsp;Chronic Diarrhea in a Cat<small>//Deborah J. Davenport, Hill's Pet Nutrition Center, 2016</small></h3>
          <h3><i class="fa fa-spoon" style="font-size:20px;"></i>&nbsp;&nbsp;Inappropriate Urination in a Cat <small> //S. Dru Forrester, Hill's Pet Nutrition, 2012</small></h3>
          <h3><i class="fa fa-spoon" style="font-size:20px;"></i>&nbsp;&nbsp;Comparison and interpretation of diagnostic tests for feline immuno- deficiency virus infection.<small> //MC Barr, MB Pough, RH JacobsonMC Barr, MB Pough, RH Jacobson, 2012</small></h3>
          <h3><i class="fa fa-heart" style="font-size:15px;"></i>&nbsp;Inappropriate Urination in a Cat <small> //S. Dru Forrester, Hill's Pet Nutrition, 2012</small></h3>
          <h3><i class="fa fa-stethoscope" style="font-size:20px;"></i>&nbsp;Macronutrients in feline health<small>//C Villaverde, AJ Fascetti 2014</small></h3>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- 文章 -->
<div id="pricing" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>文章</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="pricing-table">
          <div class="plan-price">
            <img src="../stylesheets/Library_package/img/cateating.png" class="img-responsive thumbnail">
          </div>
          <div class="plan-list">
            <ul>
              <li><h4>貓咪福音！</h4> 5種可以代替化毛膏的天然食物！</li>
            </ul>
          </div>
          <div class="plan-signup"> <a href="http://maoup.com.tw/?p=5377" target="_blank" class="btn-system">閱讀更多</a> </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="pricing-table highlight-plan">
          <div class="plan-price">
            <img src="../stylesheets/Library_package/img/care.jpg" class="img-responsive thumbnail">
          </div>
          <div class="plan-list">
            <ul>
              <li><h4>主子有潔癖？</h4>貓咪過度舔毛的常見症狀</li>
            </ul>
          </div>
          <div class="plan-signup"> <a href="http://maoup.com.tw/?p=20578" target="_blank" class="btn-system border-btn">閱讀更多</a> </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="pricing-table">
          <div class="plan-price">
            <img src="../stylesheets/Library_package/img/vetcat.png" class="img-responsive thumbnail">
          </div>
          <div class="plan-list">
            <ul>
              <li><h4>貓咪也會得香港腳？</h4>3大原因報你知！</li>
            </ul>
          </div>
          <div class="plan-signup"> <a href="http://maoup.com.tw/?p=17029" target="_blank" class="btn-system">閱讀更多</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 聯絡我們 -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>聯絡我們</h2>
      <hr>
      <p>呼魯呼魯，卡卡貓在聽！</p>
    <div class="col-md-8 col-md-offset-2">
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="姓名" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="e-mail" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="訊息" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">完成</button>
      </form>
      <div class="social">
        <ul>
          <li><a href="https://www.facebook.com/profile.php?id=100002619845042"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/catcatmed/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-google"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Copyright &copy; 2018 CatCatMed卡卡貓</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="../stylesheets/Library_package/js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="../stylesheets/Library_package/js/bootstrap.js"></script> 
<script type="text/javascript" src="../stylesheets/Library_package/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="../stylesheets/Library_package/js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="../stylesheets/Library_package/js/contact_me.js"></script> 
<script type="text/javascript" src="../stylesheets/Library_package/js/main.js"></script>
</body>
</html>