<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>

	<title>catcatmedLogin</title>

	<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- AJAX -->
	<script type="text/javascript">
		function showErrMsg(errMsg){
			if(errMsg=="errAccountIsntExist") alert("錯誤的帳號！");
			if(errMsg=="errInput") alert("錯誤的輸入格式！");
			if(errMsg=="errWrongPassword") alert("錯誤的密碼！");
		}
	</script>
</head>
<body>
	<% if (errMsg) {%>
		<script>
			showErrMsg("<%= errMsg %>");
		</script>		
	<% } %>
	<div class="col-lg-3"></div>
	<div class="loginblock col-lg-6">
		<div class="col-lg-6">
			<a href="/#">sign in with facebook</a>
		</div>
		<div class="col-lg-6">
			<form action="/logincheck" method="post">
			<h3>帳號：</h3>
			<input type="text" name="username" id="username">
			<br>
			<br>
			<h3>密碼：</h3>
			<input type="password" name="password" id="password">
			<br>
			<br>
		 	<input type="submit" value="submit" id="submit">
			</form> 
			<a href="/signup">if you don't have account</a>
		</div>		
	</div>
	<div class="col-lg-3"></div>	
</body>
</html>