<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>

	<title>catcatmed</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<!--
		MUST CHECK : "id = catNamex" uncorrect number will lead to error.
	-->
	<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosanstc.css">
	<style>
		@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
		{
			font-family: 'Noto Sans TC';
		}
	</style>	
	<!--禁止右鍵與反白 for UX-->
	<script type="text/javascript"> 	 
		function clickIE4(){
			if (event.button==2){
				return false;    
			}  
		}
		function clickNS4(e){
			if (document.layers || document.getElementById && !document.all){
				if (e.which==2 || e.which==3){
					return false;      
				}	    
			}  
		}
		function OnDeny(){    
			if (event.ctrlKey || event.keyCode==78 && event.ctrlKey || event.altKey || event.altKey && event.keyCode==115){
				return false;    
			}  
		}
		if (document.layers){
			document.captureEvents(Event.MOUSEDOWN);
			document.onmousedown = clickNS4;
			document.onkeydown = OnDeny();  
		}
		else if (document.all && !document.getElementById){
			document.onmousedown = clickIE4;    
			document.onkeydown = OnDeny();  
		}		 
		document.oncontextmenu = new Function("return false");  	 
		//----------------------------------
		// TOOLTIP
		//----------------------------------
		$(document).ready(function(){
			$('#ARC_SPE').tooltip({title: "<span class='smallSpan'>貓咪有特殊疾病需要多加照護</span>", html: true, placement: "bottom", delay:{show: 100, hide: 0}});
			$('#ARC_DAE').tooltip({title: "<span class='smallSpan'>加強我家貓貓的身體健康</span>", html: true, placement: "bottom", delay:{show: 100, hide: 0}});
			$('#ARC_KNO').tooltip({title: "<span class='smallSpan'>想先了解有沒有能幫上貓貓的地方</span>", html: true, placement: "bottom", delay:{show: 100, hide: 0}});
		});
		//species
		function chooseSpecies(id){
			if(id=="no1") {species = "no1";document.getElementById("modalSpecies").innerHTML = "「 加 拿 大 無 毛 貓 」";}
			if(id=="sh1") {species = "sh1";document.getElementById("modalSpecies").innerHTML = "「 英 短 」";}
			if(id=="sh2") {species = "sh2";document.getElementById("modalSpecies").innerHTML = "「 美 短 」";}
			if(id=="sh3") {species = "sh3";document.getElementById("modalSpecies").innerHTML = "「 異 短 」";}
			if(id=="sh4") {species = "sh4";document.getElementById("modalSpecies").innerHTML = "「 歐 短 」";}
			if(id=="sh5") {species = "sh5";document.getElementById("modalSpecies").innerHTML = "「 藍 貓 」";}
			if(id=="sh6") {species = "sh6";document.getElementById("modalSpecies").innerHTML = "「 暹 羅 」";}
			if(id=="sh7") {species = "sh7";document.getElementById("modalSpecies").innerHTML = "「 狸 花 」";}
			if(id=="sh8") {species = "sh8";document.getElementById("modalSpecies").innerHTML = "「 埃 及 貓 」";}
			if(id=="sh9") {species = "sh9";document.getElementById("modalSpecies").innerHTML = "「 雪 鞋 貓 」";}
			if(id=="sh10") {species = "sh10";document.getElementById("modalSpecies").innerHTML = "「 曼 赤 肯 」";}
			if(id=="sh11") {species = "sh11";document.getElementById("modalSpecies").innerHTML = "「 新 加 坡 貓 」";}
			if(id=="sh12") {species = "sh12";document.getElementById("modalSpecies").innerHTML = "「 日 本 短 尾 」";}
			if(id=="sh13") {species = "sh13";document.getElementById("modalSpecies").innerHTML = "「 蘇 格 蘭 折 耳 」";}
			if(id=="sh14") {species = "sh14";document.getElementById("modalSpecies").innerHTML = "「 阿 比 西 尼 亞 」";}
			if(id=="sh15") {species = "sh15";document.getElementById("modalSpecies").innerHTML = "「 孟 加 拉 貓 」";}
			if(id=="lo1") {species = "lo1";document.getElementById("modalSpecies").innerHTML = "「 波 斯 貓 」";}
			if(id=="lo2") {species = "lo2";document.getElementById("modalSpecies").innerHTML = "「 布 偶 貓 」";}
			if(id=="lo3") {species = "lo3";document.getElementById("modalSpecies").innerHTML = "「 伯 曼 貓 」";}
			if(id=="lo4") {species = "lo4";document.getElementById("modalSpecies").innerHTML = "「 緬 因 貓 」";}
			if(id=="lo5") {species = "lo5";document.getElementById("modalSpecies").innerHTML = "「 金 吉 拉 」";}
			if(id=="lo6") {species = "lo6";document.getElementById("modalSpecies").innerHTML = "「 挪 威 森 林 」";}
			if(id=="lo7") {species = "lo7";document.getElementById("modalSpecies").innerHTML = "「 西 伯 利 亞 」";}
			if(id=="lo8") {species = "lo8";document.getElementById("modalSpecies").innerHTML = "「 喜 馬 拉 雅 」";}
			if(id=="lo9") {species = "lo9";document.getElementById("modalSpecies").innerHTML = "「 索 馬 利 貓 」";}
			if(id=="lo10") {species = "lo10";document.getElementById("modalSpecies").innerHTML = "「 長 毛 暹 羅 貓 」";}
			if(id=="lo11") {species = "lo11";document.getElementById("modalSpecies").innerHTML = "「 塞 爾 凱 克 捲 毛 貓 」";}
		}
	</script>
	<script src="javascript/questionnaire/transformPage.js"></script>
	<script src="javascript/questionnaire/itemControl_multiSelect.js"></script>
	<script src="javascript/questionnaire/transformForOnlyAnimationPage.js"></script>
	<script src="javascript/questionnaire/enumData.js"></script>
	<script src="javascript/questionnaire/createIconList.js"></script>
	<script src="javascript/questionnaire/onloadSave.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/questionnaire.css">
</head>
<body class="container" onselectstart="return false">
	<script>
		onloadWebUpdateInfo();
	</script>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<nav class="col-lg-2 col-lg-offset-10 col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-6 col-xs-6 col-xs-offset-6">
			<div class="navBlock">
				<p onClick="sendCurrentDataToServer(1);" class="navLink">儲存並回首頁</p>
			</div>
		</nav>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBlock"></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questionnaireInner">			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- say hi to customer -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BHELLO">
					<span>這是來自爆肝工程師的招呼，請等待兩秒</span>
				</div>
				<!-- questionnaire here -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BKN">
					<div class="question">
						<span>請 問 您 的 名 字 ？</span>
					</div>
					<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
						<input type="text" id="BKNEnter" onkeypress="enterPress(this.id,event)">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<button id="BKNButton" onclick="addToList(this.id);">下 一 題</button>
					</div>
				</div>		
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BCN">
					<div class="question">
						<span>請 問 貓 貓 的 名 字 ？</span>
					</div>
					<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
						<input type="text" id="BCNEnter" onkeypress="enterPress(this.id,event)">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<button id="BCNButton" onclick="addToList(this.id);">下 一 題</button>
					</div>	
				</div>
				<!-- show some information -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BNICEMEET">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="BNICE_A">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="BNICE_B">
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BKS">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請 問 你 是 爸 爸 還 是 媽 媽 ？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">					
						<div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3">
							<div class="placeholder" onclick="addToList(this.id);" id="BKS_boy">
								<span>爸 爸</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" onclick="addToList(this.id);" id="BKS_girl">
								<span>媽 媽</span>
							</div>
						</div>
					</div>				
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BCS">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span id="catName1">貓貓</span>						
						<span>是 男 生 還 是 女 生 呢 ？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3">
							<div class="placeholder" onclick="addToList(this.id);" id="BCS_boy">
								<span>男 生</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" onclick="addToList(this.id);" id="BCS_girl">
								<span>女 生</span>
							</div>
						</div>
					</div>				
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BKA">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">					
						<span>請問您幾歲？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="placeholder" onclick="addToList(this.id);" id="BKA_18-">
								<span>18歲以下</span>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="placeholder" onclick="addToList(this.id);" id="BKA_18-25">
								<span>18-25歲</span>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="placeholder" onclick="addToList(this.id);" id="BKA_26-35">
								<span>26-35歲</span>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="placeholder" onclick="addToList(this.id);" id="BKA_36-45">
								<span>36-45歲</span>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="placeholder" onclick="addToList(this.id);" id="BKA_46-65">
								<span>46-65歲</span>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="placeholder" onclick="addToList(this.id);" id="BKA_65+">
								<span>65歲以上</span>
							</div>
						</div>
					</div>				
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BCA">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span id="catName2">貓貓</span>						
						<span>幾 歲 了 呢 ？</span>
					</div>
					<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
						<input type="number" id="BCAEnter" onkeypress="enterPress(this.id,event)">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<button id="BCAButton" onclick="addToList(this.id);">下 一 題</button>
					</div>
				</div>
				<!-- show some information -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BAGECAL">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="BAGE_A">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="BAGE_B">
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BSP">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span id="catName3">貓貓</span>						
						<span>的 品 種 是 </span>
						<span id="modalSpecies">？</span>
					</div>
					<!--ADD MODAL HERE-->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="placeholder" data-toggle="modal" data-target="#nohairModal">
								<span>無 毛 貓</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="placeholder" data-toggle="modal" data-target="#shorthairModal">
								<span>短 毛 貓</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="placeholder" data-toggle="modal" data-target="#longhairModal">
								<span>長 毛 貓</span>
							</div>
						</div>
					</div>
					<div class="modal fade" id="nohairModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<span class="modal-title">無 毛 貓</span>
								</div>
								<div class="modal-body">
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="no1" onclick="chooseSpecies(this.id)">加 拿 大 無 毛 貓</button>
								</div>							
							</div>
						</div>
					</div>
					<div class="modal fade" id="shorthairModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<span class="modal-title">短 毛 貓</span>
								</div>
								<div class="modal-body">
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh1" onclick="chooseSpecies(this.id)">英 短</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh2" onclick="chooseSpecies(this.id)">美 短</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh3" onclick="chooseSpecies(this.id)">異 短</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh4" onclick="chooseSpecies(this.id)">歐 短</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh5" onclick="chooseSpecies(this.id)">藍 貓</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh6" onclick="chooseSpecies(this.id)">暹 羅</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh7" onclick="chooseSpecies(this.id)">狸 花</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh8" onclick="chooseSpecies(this.id)">埃 及 貓</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh9" onclick="chooseSpecies(this.id)">雪 鞋 貓</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh10" onclick="chooseSpecies(this.id)">曼 赤 肯</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh11" onclick="chooseSpecies(this.id)">新 加 坡 貓</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh12" onclick="chooseSpecies(this.id)">日 本 短 尾</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh13" onclick="chooseSpecies(this.id)">蘇 格 蘭 折 耳</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh14" onclick="chooseSpecies(this.id)">阿 比 西 尼 亞</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="sh15" onclick="chooseSpecies(this.id)">孟 加 拉 貓</button>
								</div>							
							</div>
						</div>
					</div>
					<div class="modal fade" id="longhairModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<span class="modal-title">長 毛 貓</span>
								</div>
								<div class="modal-body">
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="lo1" onclick="chooseSpecies(this.id)">波 斯 貓</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="lo2" onclick="chooseSpecies(this.id)">布 偶 貓</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="lo3" onclick="chooseSpecies(this.id)">伯 曼 貓</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="lo4" onclick="chooseSpecies(this.id)">緬 因 貓</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="lo5" onclick="chooseSpecies(this.id)">金 吉 拉</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="lo6" onclick="chooseSpecies(this.id)">挪 威 森 林</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="lo7" onclick="chooseSpecies(this.id)">西 伯 利 亞</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="lo8" onclick="chooseSpecies(this.id)">喜 馬 拉 雅</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="lo9" onclick="chooseSpecies(this.id)">索 馬 利 貓</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="lo10" onclick="chooseSpecies(this.id)">長 毛 暹 羅 貓</button>
									<button type="button" class="btn btn-default speciesButton" data-dismiss="modal" id="lo11" onclick="chooseSpecies(this.id)">塞 爾 凱 克 捲 毛 貓</button>
								</div>							
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<button id="BSPButton" onclick="addToList(this.id);">下 一 題</button>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BNU">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span id="catName4">貓貓</span>						
						<span>是 否 結 紮 了 呢 ？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3">
							<div class="placeholder" onclick="addToList(this.id);" id="BNU_yes">
								<span>是</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" onclick="addToList(this.id);" id="BNU_no">
								<span>否</span>
							</div>
						</div>	
					</div>				
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BPR">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span id="catName5">貓貓</span>						
						<span>現 在 有 懷 孕 嗎 ？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3">
							<div class="placeholder" onclick="addToList(this.id);" id="BPR_yes">
								<span>是</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" onclick="addToList(this.id);" id="BPR_no">
								<span>否</span>
							</div>
						</div>
					</div>				
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BPT">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span id="catName6">貓貓</span>						
						<span>懷 孕 多 久 了 呢 ？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<div class="placeholder" onclick="addToList(this.id);" id="BPT_1to3">
								<span>1~3週</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<div class="placeholder" onclick="addToList(this.id);" id="BPT_3to6">
								<span>3~6週</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<div class="placeholder" onclick="addToList(this.id);" id="BPT_6up">
								<span>6週以上</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<div class="placeholder" onclick="addToList(this.id);" id="BPT_unsure">
								<span>不確定</span>
							</div>
						</div>
					</div>
				</div>
				<!-- show some information -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BPREGPAGE">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="BPREGPAGE_A">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="BPREGPAGE_B">
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BCW">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span id="catName7">貓貓</span>						
						<span>最 近 一 次 測 量 的 體 重 為 ？</span>
					</div>
					<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
						<input type="number" id="BCWEnter" onkeypress="enterPress(this.id,event)">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<button id="BCWButton" onclick="addToList(this.id);">下 一 題</button>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BEF">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>玩樂對貓咪而言就是一個運動的方式，請問</span>
						<span id="catName8">貓貓</span>						
						<span>運動的頻率？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" onclick="addToList(this.id);" id="BEF_highFreq">
								<span>高</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" onclick="addToList(this.id);" id="BEF_medFreq">
								<span>中</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" onclick="addToList(this.id);" id="BEF_lowFreq">
								<span>低</span>
							</div>
						</div>
					</div>				
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BSI">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請 問</span>
						<span id="catName9">貓貓</span>						
						<span>是 室 內 貓 還 是 室 外 貓 ？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" onclick="addToList(this.id);" id="BSI_inside">
								<span>室 內</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" onclick="addToList(this.id);" id="BSI_outside">
								<span>室 外</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" onclick="addToList(this.id);"id="BSI_medside">
								<span>一 半 一 半</span>
							</div>
						</div>
					</div>				
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BBC">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請 問</span>
						<span id="catName10">貓貓</span>						
						<span>的 體 態 長 得 像 下 列 哪 一 個 ？</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BBC_tooThin">
							<span>過瘦</span>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BBC_aLittleThin">
							<span>稍瘦</span>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BBC_medium">
							<span>適中</span>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BBC_aLittleFat">
							<span>稍胖</span>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);"  id="BBC_tooFat">
							<span>過胖</span>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="ARC">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問您來卡卡貓為了...</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="placeholder" onclick="addToList(this.id);" id="ARC_SPE">
								<span>特 定 需 求</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="placeholder" onclick="addToList(this.id);" id="ARC_DAE">
								<span>日 常 保 健</span>
							</div>							
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="placeholder"  onclick="addToList(this.id);" id="ARC_KNO">
								<span>知 識 了 解</span>
							</div>							
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="ANM">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問</span>
						<span id="catName13">貓貓</span>
						<span>目前是否有在吃處方飼料？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" onclick="addToList(this.id);" id="ANM_yes">
								<span>有</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" onclick="addToList(this.id);" id="ANM_no">
								<span>沒有</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="AWM">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問是在吃哪一種處方飼料呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
							<input type="text" id="AWMEnter" onkeypress="enterPress(this.id,event)">
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 text-center">					
								<button id="AWM_unsure" onclick="addToList(this.id);">不 確 定</button>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
								<button id="AWMButton" onclick="addToList(this.id);">下 一 步</button>
							</div>
						</div>					
					</div>
				</div>
				<!-- show some information -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="ASPECIALFOOD">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="ASPECIALFOOD_A">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="ASPECIALFOOD_B">
					</div>
				</div>
				<!-- show some information end -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="AIC">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>這次想特別</span>
						<span id="LinkBetweenARC_AIC">base on 16's answer</span>
						<span>的項目為何呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<!--ICON SELECT HERE (CAN MULTI)-->
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2">
							<div class="icon" id="AIC_IMMU" onclick="iconClick(this.id)">
								<span>免疫力</span>
							</div>						
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2">
							<div class="icon" id="AIC_HEART" onclick="iconClick(this.id)">
								<span>心臟</span>
							</div>						
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2" id="AIC_MEHAIR_TOP">
							<div class="icon" id="AIC_MEHAIR" onclick="iconClick(this.id)">
								<span>化毛</span>
							</div>						
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2" id="AIC_LIHAIR_TOP">
							<div class="icon" id="AIC_LIHAIR" onclick="iconClick(this.id)">
								<span>亮毛</span>
							</div>						
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2" id="AIC_LOHAIR_TOP">
							<div class="icon" id="AIC_LOHAIR" onclick="iconClick(this.id)">
								<span>脫毛</span>
							</div>						
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2">
							<div class="icon" id="AIC_SKIN" onclick="iconClick(this.id)">
								<span>皮膚</span>
							</div>						
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2">
							<div class="icon" id="AIC_JOINT" onclick="iconClick(this.id)">
								<span>關節</span>
							</div>						
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2">
							<div class="icon" id="AIC_BONE" onclick="iconClick(this.id)">
								<span>骨頭</span>
							</div>						
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2 elementInVisable" id="AIC_ADDWEI_TOP">
							<div class="icon" id="AIC_ADDWEI" onclick="iconClick(this.id)">
								<span>增重</span>
							</div>						
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2 elementInVisable" id="AIC_OVERWEI_TOP">
							<div class="icon" id="AIC_OVERWEI" onclick="iconClick(this.id)">
								<span>過胖</span>
							</div>						
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2">
							<div class="icon" id="AIC_STOMA" onclick="iconClick(this.id)">
								<span>腸胃</span>
							</div>							
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2">
							<div class="icon" id="AIC_STRESS" onclick="iconClick(this.id)">
								<span>壓力</span>
							</div>						
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2">
							<div class="icon" id="AIC_MOUTH" onclick="iconClick(this.id)">
								<span>口腔</span>
							</div>						
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="AICButton">
						<button id="AICButton" onclick="addToList(this.id)">下 一 題</button>
					</div>
				</div>
				<!--優先考量-->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="AWI">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問當中哪一項是您的優先考量呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_IMMU" onclick="addToList(this.id)">
							<div class="placeholder"><span>免疫力</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_HEART" onclick="addToList(this.id)">
							<div class="placeholder"><span>心臟</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_MEHAIR" onclick="addToList(this.id)">
							<div class="placeholder"><span>化毛</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_LIHAIR" onclick="addToList(this.id)">
							<div class="placeholder"><span>亮毛</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_LOHAIR" onclick="addToList(this.id)">
							<div class="placeholder"><span>脫毛</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_SKIN" onclick="addToList(this.id)">
							<div class="placeholder"><span>皮膚</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_JOINT" onclick="addToList(this.id)">
							<div class="placeholder"><span>關節</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_BONE" onclick="addToList(this.id)">
							<div class="placeholder"><span>骨頭</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_ADDWEI" onclick="addToList(this.id)">
							<div class="placeholder"><span>增重</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_OVERWEI" onclick="addToList(this.id)">
							<div class="placeholder"><span>過胖</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_STOMA" onclick="addToList(this.id)">
							<div class="placeholder"><span>腸胃</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_STRESS" onclick="addToList(this.id)">
							<div class="placeholder"><span>壓力</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="AWI_MOUTH" onclick="addToList(this.id)">
							<div class="placeholder"><span>口腔</span></div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="AEM">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問您的email是？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
							<input type="text" id="AEMEnter" onkeypress="enterPress(this.id,event)">						
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<button id="AEMButton" onclick="addToList(this.id)">下 一 題</button>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IFE">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問</span>
						<span id="catName14">貓貓</span>
						<span>目前有沒有感冒？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3">
							<div class="placeholder" id="IFE_yes"  onclick="addToList(this.id)">
								<span>有</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="IFE_no"  onclick="addToList(this.id)">
								<span>沒有</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IFF">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問</span>
						<span id="catName15">貓貓</span>
						<span>感冒的頻率？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IFF_RARE" onclick="addToList(this.id)">
								<span>幾乎沒有</span>
							</div>						
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IFF_ONEPERMON" onclick="addToList(this.id)">
								<span>一個月一次</span>
							</div>						
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IFF_HIGHFREQ" onclick="addToList(this.id)">
								<span>一個月一次以上</span>
							</div>						
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IEI">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>是否有覺得</span>
						<span id="catName16">貓貓</span>
						<span>需要額外的免疫力保健呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="IEI_yes" onclick="addToList(this.id)">
								<span>需要</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="IEI_no" onclick="addToList(this.id)">
								<span>不需要</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IHE">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問</span>
						<span id="catName17">貓貓</span>
						<span>有無任何心血管病史？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="IHE_yes" onclick="addToList(this.id)">
								<span>有</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="IHE_no" onclick="addToList(this.id)">
								<span>無</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IWC">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問</span>
						<span id="catName18">貓貓</span>
						<span>平均一週梳幾次毛？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IWC_RARE" onclick="addToList(this.id)">
								<span>幾乎沒有</span>
							</div>						
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IWC_1TO2" onclick="addToList(this.id)">
								<span>1-2次</span>
							</div>						
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IWC_3UP" onclick="addToList(this.id)">
								<span>3次以上</span>
							</div>						
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IDC">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>是否每天梳毛之後，掉毛現象還是很嚴重呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="IDC_yes" onclick="addToList(this.id)">
								<span>是</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="IDC_no" onclick="addToList(this.id)">
								<span>否</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IHH">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問在幫</span>
						<span id="catName19">貓貓</span>
						<span>梳毛時，毛髮當中有硬塊嗎？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="IHH_yes" onclick="addToList(this.id)">
								<span>有</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="IHH_no" onclick="addToList(this.id)">
								<span>沒有</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="ILH">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問</span>
						<span id="catName20">貓貓</span>
						<span>有無脫毛現象？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="ILH_yes" onclick="addToList(this.id)">
								<span>有</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="ILH_no" onclick="addToList(this.id)">
								<span>沒有</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="ILP">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問</span>
						<span id="catName21">貓貓</span>
						<span>脫毛的部位為：</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="ILP_FRONT" onclick="addToList(this.id)">
								<span>前段</span>
							</div>						
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="ILP_MID" onclick="addToList(this.id)">
								<span>中段</span>
							</div>						
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="ILP_BACK" onclick="addToList(this.id)">
								<span>後段</span>
							</div>						
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IHS">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問</span>
						<span id="catName22">貓貓</span>
						<span>的毛髮摸起來：</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IHS_DRY" onclick="addToList(this.id)">
								<span>乾澀無光澤</span>
							</div>						
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IHS_HEALTH" onclick="addToList(this.id)">
								<span>健康</span>
							</div>						
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IHS_ROUGH" onclick="addToList(this.id)">
								<span>粗糙打結</span>
							</div>						
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IPO">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>貓咪理毛時，毛髮容易進入到貓咪的身體，請問</span>
						<span id="catName23">貓貓</span>
						<span>的排泄物中是否可以看到毛呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="IPO_yes" onclick="addToList(this.id)">
								<span>是</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="IPO_no" onclick="addToList(this.id)">
								<span>否</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="ICV">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問</span>
						<span id="catName24">貓貓</span>
						<span>近兩個禮拜是否有吐毛呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="ICV_yes" onclick="addToList(this.id)">
								<span>是</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="ICV_no" onclick="addToList(this.id)">
								<span>否</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="ISR">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問近兩個禮拜</span>
						<span id="catName25">貓貓</span>
						<span>身體皮膚是否有紅腫現象？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="ISR_yes" onclick="addToList(this.id)">
								<span>是</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="ISR_no" onclick="addToList(this.id)">
								<span>否</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="INR">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問目前還有皮膚紅腫的情形嗎？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="INR_yes" onclick="addToList(this.id)">
								<span>有</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="INR_no" onclick="addToList(this.id)">
								<span>沒有</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IEB">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>是否有覺得</span>
						<span id="catName26">貓貓</span>
						<span>需要額外的關節保健呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="IEB_yes" onclick="addToList(this.id)">
								<span>是</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="IEB_no" onclick="addToList(this.id)">
								<span>否</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IBC">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問獸醫師是否有推薦</span>
						<span id="catName27">貓貓</span>
						<span>補充軟骨素或是葡萄糖胺呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="IBC_yes" onclick="addToList(this.id)">
								<span>是</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="IBC_no" onclick="addToList(this.id)">
								<span>否</span>
							</div>
						</div>
					</div>
				</div>			
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IEF">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問</span>
						<span id="catName28">貓貓</span>
						<span>是否有平常很好動，突然不喜歡動，活動力下降的現象？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="IEF_yes" onclick="addToList(this.id)">
								<span>是</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="IEF_no" onclick="addToList(this.id)">
								<span>否</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IJF">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問</span>
						<span id="catName29">貓貓</span>
						<span>是否有跳躍力變差的現象？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="IJF_yes" onclick="addToList(this.id)">
								<span>是</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="IJF_no" onclick="addToList(this.id)">
								<span>否</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IVO">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問近兩個禮拜，</span>
						<span id="catName30">貓貓</span>
						<span>是否有嘔吐或是拉肚子的問題？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="IVO_yes" onclick="addToList(this.id)">
								<span>是</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="IVO_no" onclick="addToList(this.id)">
								<span>否</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IVA">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問消化系統問題是偏向？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="placeholder" id="IVA_UP" onclick="addToList(this.id)">
								<span>嘔吐</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="placeholder" id="IVA_BOT" onclick="addToList(this.id)">
								<span>拉肚子</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="placeholder" id="IVA_BOTH" onclick="addToList(this.id)">
								<span>都有</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="placeholder" id="IVA_unsure" onclick="addToList(this.id)">
								<span>不確定</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IVN">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問目前還有</span>
						<span id="LinkBetweenIVA_IVN">base on 41's answer</span>
						<span>的情形嗎？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IVN_BETTER" onclick="addToList(this.id)">
								<span>逐漸好轉中</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IVN_FORAWHILE" onclick="addToList(this.id)">
								<span>目前還有持續</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IVN_unsure" onclick="addToList(this.id)">
								<span>不確定</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IBP">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問近兩個禮拜，</span>
						<span id="catName31">貓貓</span>
						<span>是否有發生血便的情形？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="IBP_yes" onclick="addToList(this.id)">
								<span>有</span>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="IBP_no" onclick="addToList(this.id)">
								<span>沒有</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IBN">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問目前還有血便的情形嗎？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IBN_BETTER" onclick="addToList(this.id)">
								<span>逐漸好轉中</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IBN_FORAWHILE" onclick="addToList(this.id)">
								<span>目前還有持續</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IBN_unsure" onclick="addToList(this.id)">
								<span>不確定</span>
							</div>
						</div>
					</div>
				</div>
				<!--IPR 複選-->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IPR">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span id="catName32">貓貓</span>
						<span>是否有下列問題？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="IPR_STRA" onclick="iconClick(this.id)">
								<span>過度理毛</span>
							</div>
						</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="IPR_STRB" onclick="iconClick(this.id)">
								<span>來回踱步</span>
							</div>
						</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="IPR_STRC" onclick="iconClick(this.id)">
								<span>四處躲藏</span>
							</div>
						</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="IPR_STRD" onclick="iconClick(this.id)">
								<span>食慾下降</span>
							</div>
						</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="IPR_STRE" onclick="iconClick(this.id)">
								<span>隨地便溺</span>
							</div>
						</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="IPR_no" onclick="iconClick(this.id)">
								<span>無</span>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<button id="IPRButton" onclick="addToList(this.id)">下 一 題</button>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IMO">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span id="catName33">貓貓</span>
						<span>是否有下列問題？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IMO_BS" onclick="addToList(this.id)">
								<span>口臭</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IMO_OVERSWEAT" onclick="addToList(this.id)">
								<span>過度流口水</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="IMO_no" onclick="addToList(this.id)">
								<span>無</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="IAW">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="IAW_A">
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="ILW">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="ILW_A">
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EEH">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">				
						<span>飲食可以解決貓咪健康8成以上的身體問題，你願意為了</span>
						<span id="catName34">貓貓</span>
						<span>的飲食健康而努力嗎？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EEH_STRIKE" onclick="addToList(this.id)">
								<span>全力以赴</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EEH_HARD" onclick="addToList(this.id)">
								<span>正在努力中</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EEH_FROMNOW" onclick="addToList(this.id)">
								<span>現在開始</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EKL">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">				
						<span>說到飼育貓咪您是個： </span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EKL_EXP" onclick="addToList(this.id)">
								<span>專家</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EKL_STU" onclick="addToList(this.id)">
								<span>學習中</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EKL_BEG" onclick="addToList(this.id)">
								<span>新手</span>
							</div>
						</div>
					</div>
				</div>
				<!-- show some information -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EKEEPEXP">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="EKEEPEXP_A">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="EKEEPEXP_B">
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="ENL">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">				
						<span>說到貓咪營養您是個： </span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="ENL_EXP" onclick="addToList(this.id)">
								<span>專家</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="ENL_STU" onclick="addToList(this.id)">
								<span>學習中</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="ENL_BEG" onclick="addToList(this.id)">
								<span>新手</span>
							</div>
						</div>
					</div>
				</div>
				<!-- show some information -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="ENUTRIEXP">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="ENUTRIEXP_A">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="ENUTRIEXP_B">
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EFB">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>請問</span>
						<span id="catName35">貓貓</span>
						<span>近期吃的飼料品牌為何？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
							<input type="text" id="EFBEnter" onkeypress="enterPress(this.id,event)">
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 text-center">					
								<button id="EFB_unsure" onclick="addToList(this.id);">不 確 定</button>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
								<button id="EFBButton" onclick="addToList(this.id);">下 一 題</button>
							</div>
						</div>					
					</div>			
				</div>
				<!--EFI 複選-->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EFI">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">					
						<span>那主成分是下列哪些呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="EFI_BEEF" onclick="iconClick(this.id)"><span>牛肉</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="EFI_SLAM" onclick="iconClick(this.id)"><span>羊肉</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="EFI_CHIC" onclick="iconClick(this.id)"><span>雞肉</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="EFI_DUCK" onclick="iconClick(this.id)"><span>鴨肉</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="EFI_TURK" onclick="iconClick(this.id)"><span>火雞</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="EFI_FISH" onclick="iconClick(this.id)"><span>魚</span></div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="icon" id="EFI_DEER" onclick="iconClick(this.id)"><span>鹿</span></div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="icon" id="EFI_PIG" onclick="iconClick(this.id)"><span>豬</span></div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="icon" id="EFI_unsure" onclick="iconClick(this.id)"><span>不知道</span></div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<button id="EFIButton" onclick="addToList(this.id)">下 一 題</button>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EFG">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">				
						<span>是有穀還是無穀呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EFG_yes" onclick="addToList(this.id)">
								<span>有穀</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EFG_no" onclick="addToList(this.id)">
								<span>無穀</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EFG_unsure" onclick="addToList(this.id)">
								<span>不確定</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EEC">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">				
						<span>請問</span>
						<span id="catName36">貓貓</span>
						<span>是吃buffet還是定時定量呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="EEC_CONTROL" onclick="addToList(this.id)">
								<span>定時定量</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="EEC_FULL" onclick="addToList(this.id)">
								<span>吃到飽飽喔</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="ECM">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">				
						<span>請問您一天餵</span>
						<span id="catName37">貓貓</span>
						<span>吃幾餐呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="ECM_ONCE" onclick="addToList(this.id)">
								<span>一餐</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="ECM_TWICE" onclick="addToList(this.id)">
								<span>兩餐</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="ECM_UP" onclick="addToList(this.id)">
								<span>三餐以上</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EES">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">				
						<span id="catName38">貓貓</span>
						<span>吃飼料的速度？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EES_SOON" onclick="addToList(this.id)">
								<span>馬上吃光光</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EES_SLOW" onclick="addToList(this.id)">
								<span>慢慢吃，過兩三小時才會吃完</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EES_NEVER" onclick="addToList(this.id)">
								<span>吃一整天都吃不完</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EAA">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">				
						<span id="catName39">貓貓</span>
						<span>是否有吃保健食品呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="EAA_yes" onclick="addToList(this.id)">
								<span>有</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="EAA_no" onclick="addToList(this.id)">
								<span>無</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EAB">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">				
						<span id="catName40">貓貓</span>
						<span>一個月使用幾次化毛膏呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EAB_NEVER" onclick="addToList(this.id)">
								<span>從未</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EAB_ONCE" onclick="addToList(this.id)">
								<span>一兩次</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EAB_FORTHUP" onclick="addToList(this.id)">
								<span>四次以上</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EAC">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">				
						<span id="catName41">貓貓</span>
						<span>一週吃幾次罐頭呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="placeholder" id="EAC_NEVER" onclick="addToList(this.id)">
								<span>從未</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="placeholder" id="EAC_ONCE" onclick="addToList(this.id)">
								<span>一次</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="placeholder" id="EAC_TWICE" onclick="addToList(this.id)">
								<span>兩三次</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="placeholder" id="EAC_EACHDAY" onclick="addToList(this.id)">
								<span>幾乎每天</span>
							</div>
						</div>
					</div>
				</div>
				<!--EAD 複選-->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EAD">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">			
						<span id="catName42">貓貓</span>
						<span>是否有對什麼食物過敏呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="EAD_BEEF" onclick="iconClick(this.id)"><span>牛肉</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="EAD_SLAM" onclick="iconClick(this.id)"><span>羊肉</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="EAD_CHIC" onclick="iconClick(this.id)"><span>雞肉</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="EAD_DUCK" onclick="iconClick(this.id)"><span>鴨肉</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="EAD_TURK" onclick="iconClick(this.id)"><span>火雞</span></div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="icon" id="EAD_FISH" onclick="iconClick(this.id)"><span>魚</span></div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="icon" id="EAD_DEER" onclick="iconClick(this.id)"><span>鹿</span></div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="icon" id="EAD_PIG" onclick="iconClick(this.id)"><span>豬</span></div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="icon" id="EAD_no" onclick="iconClick(this.id)"><span>沒有</span></div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="icon" id="EAD_unsure" onclick="iconClick(this.id)"><span>不知道</span></div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<button id="EADButton" onclick="addToList(this.id)">下 一 題</button>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EAE">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">				
						<span id="catName43">貓貓</span>
						<span>一天的喝水頻率高還是低呢？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3">
							<div class="placeholder" id="EAE_HIGHFREQ" onclick="addToList(this.id)">
								<span>頻率高</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="placeholder" id="EAE_LOWFREQ" onclick="addToList(this.id)">
								<span>頻率低</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EAF">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>您是否有煮東西給</span>
						<span id="catName44">貓貓</span>
						<span>的習慣？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="placeholder" id="EAF_NEVER" onclick="addToList(this.id)">
								<span>從來沒有</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="placeholder" id="EAF_YESBUTHATE" onclick="addToList(this.id)">
								<span>有，不愛吃</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="placeholder" id="EAF_ONCE" onclick="addToList(this.id)">
								<span>一週一兩次</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="placeholder" id="EAF_THIRD" onclick="addToList(this.id)">
								<span>一週三次以上</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EBA">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">
						<span>天氣也是卡卡貓重要的審視資訊之一，請問</span>
						<span id="catName45">貓貓</span>
						<span>居住的地方為：</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<select id="EBA_PLACE">
							<option value="0"></option>
							<option value="台北">台北</option>
							<option value="新竹">新竹</option>
							<option value="台南">台南</option>
							<option value="高雄">高雄</option>
							<option value="澎湖">澎湖</option>
							<option value="太平島">太平島</option>
							<option value="墾丁">墾丁</option>
						</select>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBotBlock"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<button id="EBAButton" onclick="addToList(this.id)">下 一 題</button>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EBB">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">					
						<span>如果有可靠的貓咪最新研究您希望？</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EBB_FIRST" onclick="addToList(this.id)">
								<span>第一手拿到</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EBB_WANTTOKNOW" onclick="addToList(this.id)">
								<span>想了解看看</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="placeholder" id="EBB_DONTWANT" onclick="addToList(this.id)">
								<span>不想知道</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="EBC">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question">				
						<span>請問您怎麼知道我們的？ </span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="placeholder" id="EBC_INTER" onclick="addToList(this.id)">
								<span>網路</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="placeholder" id="EBC_FB_IG" onclick="addToList(this.id)">
								<span>FB / IG</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="placeholder" id="EBC_FRIEND" onclick="addToList(this.id)">
								<span>朋友介紹</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="placeholder" id="EBC_OTHER" onclick="addToList(this.id)">
								<span>其他</span>
							</div>
						</div>
					</div>
				</div>
				<!-- show the RESEULT page -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="RESULT">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="RESULT_A">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="RESULT_B">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="RESULT_C">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center elementInVisable" id="RESULT_D">
					</div>
				</div>
				<!-- BACK WELCOME -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BWELCOMEBACK">
					<span>先等待三秒讓伺服器畫好你之前填的東西辣</span>
				</div>
				<!-- WHILE BACK -->
				<div id="temp"></div>
				<!-- questionnaire up -->
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBlock"></div>
		<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
			<div class="backBlock elementInVisable" id="backButton_TOP" onclick="addToList(this.id);">
				<span class="smallSpan">back</span>
			</div>			
		</div>
	</div>	
</body>
</html>