<!DOCTYPE html>
<html>
<head>
    <!-- Web Page Setting-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <!-- Web Describe -->
    <title>卡卡貓catcatmed| 飲食推薦系統</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129519422-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-129519422-1');
    </script>
    <script type="text/javascript">
        testExp = new RegExp('Android|webOS|iPhone|iPad|' +
                        'BlackBerry|Windows Phone|'  +
                        'Opera Mini|IEMobile|Mobile' , 
                       'i');
       
       if (testExp.test(navigator.userAgent))
           window.location.href="/questionnaire_result_m";
   </script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- development version, includes helpful console warnings (Vue.js)-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Common CSS Setting -->
    <style>
        @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
        {
            font-family: 'Noto Sans TC';
        }
        h1{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        h2{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        h3{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        h4{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        h5{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        span{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        p{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        a{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        button{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        th{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        input{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        select{font-family: 'Noto Sans TC', Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        /* scroll bar */
        /* width */
        ::-webkit-scrollbar {
            width: 5px;
            border-radius: 100px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
            background: white; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: gray;
            border-radius: 100px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        body{
            overflow-x: hidden;
            margin:0;
            padding:0;
        }
        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
        }

        /* Tooltip text */
        .tooltip .tooltiptext_bottom {
            visibility: hidden;
            min-width: 150%;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            text-align: left;
            padding: 5px 5px;
            border-radius: 6px;
            top: 100%;
            left: 50%;
            margin-left: -50%;
        
            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }
        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext_bottom {
            visibility: visible;
        }
    </style>
</head>
<body>
    <style>
        /* Common */
        .container{
            width:80%;
            margin:0 10%;
        }
        /* navbar */
        .navBar{
            width:100%;
            background-color: #F1F1F2;
            margin:0;
            position: fixed;
            /* navbar height */
            height:10vh;
            box-shadow: 0px 1px 20px rgba(0,0,0,0.1);
            z-index: 10;
        }
        .navBarPadding{
            height:10vh;
        }
        /* basic information */
        .basicInformationBar{
            width:100%;
            background-color: #3D5BA8;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
        }
        .basicInformationInnerBlock{
            width:80%;
            background-color:#F1F1F2;
            border-radius:3px;
            display: inline-block;
            padding: 0;
        }
        .basicInformationInnerBlock p{
            font-size: 1em;
            margin:1px 5px;
        }
        .package{
            border:white 1px solid;
        }
        .package:hover{
            transition: 200ms;
            border:#87A7D6 1px solid;
        }
        .package_select{
            border:#EF5981 1px solid;
        }
        .centralize{
            display:flex;
            align-items:center;
            justify-content:center;
        }
        a{
            text-decoration: none;
            color: #3D5BA8;
            font-weight: normal;
        }
    </style>
    <!-- Navigation Bar -->
    <nav>
        <div class="navBar container">
            <div style="width:40%;float:left;height: 10vh;" class="centralize">
                <a href="/questionnaire">開始了解</a>
            </div>
            <div style="width:20%;float:left;text-align: center;">
                <a href="/"><img src="images/index/logo.png" style="height:8vh;margin:1vh auto;"></a>
            </div>
            <div style="width:15%;float:left;height: 10vh;" class="centralize">
                <a href="/library">文獻資料</a>
            </div>
            <div style="width:15%;float:left;height: 10vh;" class="centralize">
                <a href="/aboutus">關於我們</a>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="navBarPadding"></div>
    </nav>
    <!-- Cat Basic Information Block -->
    <div class="basicInformationBar">
        <div class="container">
            <div style="width:20%;float: left;text-align: center;color:white">
                <h1 style="margin:0"><%= name %></h1>
            </div>
            <div class="basicInformationInnerBlock">
                <div style="width:25%;float: left;min-height: 20vh;">
                    <div><img src="images/product/element/boy.png" style="width:20%"></div>
                    <p>年齡： <span id="ageyear">6</span>歲<span id="agemonth">3</span>個月</p>
                    <p>體重： <span id="kilo">5</span>.<span id="gram">5</span>公斤</p>
                    <p>品種： <span id="bsp">波斯貓</span></p>
                    <p>狀態： <span id="bnu">未結紮</span></p>
                    <p>體態： <span id="bbc">適中</span></p>
                </div>
                <div style="width:50%;float: left;min-height: 20vh;border-right: 1px solid #3D5BA8;border-left:1px solid #3D5BA8;" id="iconInformation">
                    
                </div>
                <div style="width:23%;float: left;min-height: 20vh;margin-left:1%;" class="tooltip">
                    <span class="tooltiptext_bottom">根據AAFCO及研究數據演算，您貓咪的最適合主要營養攝取為此區間內，得以達成長期保健之目的。</span>
                    <p>最適營養攝取區間</p>
                    <br>
                    <!-- progress bar -->
                    <h5 style="margin:0;font-weight:normal !important;">蛋白質</h5>
                    <div style="width:100%;background-color:#F1F1F2;" id="protein_range">
                        <div style="text-align: center;line-height: 1.8vh;color:white;width:7%;height:1.8vh;background-color:#C1CEE1;float: left;"></div>
                        <div style="text-align: center;line-height: 1.8vh;color:white;width:35%;height:1.8vh;background-color:#3D5BA8;float: left;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">7-42%</p></div>
                        <div style="text-align: center;line-height: 1.8vh;color:white;width:58%;height:1.8vh;background-color:#C1CEE1;float: left;"></div>
                        <div style="clear:both;"></div>
                    </div>
                    <br>
                    <h5 style="margin:0;font-weight:normal !important;">脂質</h5>
                    <div style="width:100%;background-color:#F1F1F2;" id="fat_range">
                        <div style="text-align: center;line-height: 1.8vh;color:white;width:35%;height:1.8vh;background-color:#C1CEE1;"></div>
                    </div>
                    <br>
                    <h5 style="margin:0;font-weight:normal !important;">纖維素</h5>
                    <div style="width:100%;background-color:#F1F1F2;" id="fiber_range">
                        <div style="text-align: center;line-height: 1.8vh;color:white;width:35%;height:1.8vh;background-color:#C1CEE1;"></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- Information Here -->
    <div>
        <div class="container" style="padding: 2vh 0;">
            <!-- 篩選 -->
            <div style="width:30%;float: left;">
                <div style="width:98%;margin:0 1%;background-color:#87A7D6;text-align: center;color: white;padding: 1vh 0;border: gray 1px solid;border-bottom: none;box-shadow: 0 0 20px rgba(0,0,0,0.15);">
                    <h4 style="margin:0;">篩選條件</h4>
                </div>
                <div style="width:98%;margin:0 1%;border: 1px solid gray;border-top:none;">
                    <!-- 包裝 -->
                    <div style="display:flex;
                    align-items:center;
                    ">
                        <img src="images/product/element/box_size.png" style="width:15%;float: left;margin-left:25%;">
                        <p style="color:gray;font-size: 1.3em;"> 包裝大小 </p>
                    </div>
                    <div>
                        <img src="images/product/element/bag1.png" style="width:12%;cursor: pointer;margin-left:1%;" class="package" id="package_xs" onclick="ChangePackageSizeByPic(this.id)">
                        <img src="images/product/element/bag2.png" style="width:15%;cursor: pointer;" class="package" id="package_s" onclick="ChangePackageSizeByPic(this.id)">
                        <img src="images/product/element/bag3.png" style="width:18%;cursor: pointer;" class="package" id="package_m" onclick="ChangePackageSizeByPic(this.id)">
                        <img src="images/product/element/bag4.png" style="width:20%;cursor: pointer;" class="package" id="package_l" onclick="ChangePackageSizeByPic(this.id)">
                        <img src="images/product/element/bag5.png" style="width:21%;cursor: pointer;" class="package" id="package_xl" onclick="ChangePackageSizeByPic(this.id)">
                    </div>
                    <hr>
                    <!-- 價格區間 -->
                    <div style="display:flex;
                    align-items:center;
                    ">
                        <img src="images/product/element/price_range.png" style="width:15%;float: left;margin-left:25%;">
                        <p style="color:gray;font-size: 1.3em;"> 價格分佈 </p>
                    </div>
                    <div style="text-align:center;">
                        <select style="width:90%;margin:0 5%;" id="priceSelector" onchange="ChangePriceRange()"></select>
                    </div>
                    <hr>
                    <!-- or無穀 -->
                    <div style="display:flex;
                    align-items:center;
                    ">
                        <img src="images/product/element/grain.png" style="width:15%;float: left;margin-left:25%;">
                        <p style="color:gray;font-size: 1.3em;"> 穀類成分 </p>
                    </div>
                    <div style="text-align:left;width:90%;margin-left:5%;">
                        <label class="">
                            <input type="radio" name="radio" id="grand_yes" onchange="DrawCatfoodBlock()">
                            <span class="checkmark"></span>
                            <span>有穀飼料</span>
                        </label>
                        <br>
                        <label class="">
                            <input type="radio" name="radio" id="grand_no" onchange="DrawCatfoodBlock()">
                            <span class="checkmark"></span>
                            <span>無穀飼料</span>
                            <span style="font-size:0.7em;color:gray;">飼料<span>不會</span>包含小麥、玉米...等成分</span>
                        </label>
                        <br>
                        <label class="">
                            <input type="radio" checked="checked" name="radio" id="grand_both" onchange="DrawCatfoodBlock()">
                            <span class="checkmark"></span>
                            <span>兩種皆顯示</span>
                        </label>
                    </div>
                    <hr>
                    <!-- 進階篩選 -->
                    <div style="display:flex;
                    align-items:center;
                    ">
                        <img src="images/product/element/advance.png" style="width:15%;float: left;margin-left:20%;">
                        <p style="color:gray;font-size: 1.3em;"> 蛋白質與代謝能 </p>
                    </div>
                    <div style="text-align:left;width:90%;margin-left:5%;">
                        <p style="color:gray;font-size:0.7em;">您可以進一步將飼料做更嚴謹的篩選，但是由於條件稍為嚴格，飼料的種類可能會非常稀少！</p>
                        <label class="">
                            <input type="checkbox" id="DailyProtein" onchange="DrawCatfoodBlock()">
                            <span class="checkmark"></span>
                            <span>AAFCO蛋白質篩選</span>
                        </label>
                        <br>
                        <label class="">
                            <input type="checkbox" id="Metabolism" onchange="DrawCatfoodBlock()">
                            <span class="checkmark"></span>
                            <span>NRC代謝能篩選</span>
                        </label>
                        <div style="height:1vh;"></div>
                    </div>
                </div>
            </div>

            <!-- 飼料資訊 -->
            <div style="width:70%;float: left;position: relative;">
                <!-- 排序 -->
                <div style="width:25%;margin-left:75%;position: relative;">
                    <select style="width:100%;position:relative;" id="sorting_method" onchange="DrawCatfoodBlock()">
                        <option value="match">最適合程度</option>
                        <option value="score">評價由高到低</option>
                        <option value="price_HL">價格由高到低</option>
                        <option value="price_LH">價格由低到高</option>
                    </select>
                </div>
                <!-- 飼料 -->
                <div id="CatFood">
                    <div style="width:98%;margin:1vh 0;margin-left:2%;background-color:white;box-shadow: 0 0 5px rgba(0,0,0,0.2);padding: 1vh 0;">
                        <div style="width:25%;float: left;">
                            <img src="images/product/product/0003.png" style="width:96%;margin:0 2%;">
                            <div style="display:flex;align-items:center;justify-content:center;">
                                <h5 style="margin:1vh 0;font-family:Impact !important">飼主評價：3.8</h5>
                            </div>
                            <div style="display:flex;align-items:center;justify-content:center;">
                                <i class="fas fa-star" style="color:#EF5981;"></i>
                                <i class="fas fa-star" style="color:#EF5981;"></i>
                                <i class="fas fa-star" style="color:#EF5981;"></i>
                                <i class="fas fa-star-half-alt" style="color:#EF5981;"></i>
                                <i class="far fa-star" style="color:#EF5981;"></i>
                            </div>
                        </div>
                        <div style="width:75%;float: left;">
                            <h3 style="margin:0;">紐崔崔 火雞凍乾好好吃飼料</h3>
                            <img src="images/product/element/flags/美國.png" style="width:10%;">
                            <br>
                            <div style="width:66%;border-right: 1px #D0D2D3 solid;float: left;">
                                <img src="images/product/element/icons_select/hair.png" style="width:15%;">
                                <img src="images/product/element/icons_select/hair.png" style="width:15%;">
                                <img src="images/product/element/icons_select/hair.png" style="width:15%;">
                                <img src="images/product/element/icons_select/hair.png" style="width:15%;">
                                <img src="images/product/element/icons_select/hair.png" style="width:15%;">
                                <img src="images/product/element/icons_select/hair.png" style="width:15%;">
                                <br>
                                <br>
                                <div>
                                    <!-- progress bar -->
                                    <h5 style="margin:0;font-weight:normal !important;">蛋白質</h5>
                                    <div style="width:90%;background-color:#F1F1F2;border-radius: 20px;">
                                        <div style="text-align: center;line-height: 1.8vh;color:white;width:35%;height:1.8vh;background-color:#C1CEE1;border-radius: 20px;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">35%</p></div>
                                    </div>
                                    <br>
                                    <h5 style="margin:0;font-weight:normal !important;">脂質</h5>
                                    <div style="width:90%;background-color:#F1F1F2;border-radius: 20px;">
                                        <div style="text-align: center;line-height: 1.8vh;color:white;width:35%;height:1.8vh;background-color:#C1CEE1;border-radius: 20px;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">35%</p></div>
                                    </div>
                                    <br>
                                    <h5 style="margin:0;font-weight:normal !important;">纖維素</h5>
                                    <div style="width:90%;background-color:#F1F1F2;border-radius: 20px;">
                                        <div style="text-align: center;line-height: 1.8vh;color:white;width:35%;height:1.8vh;background-color:#C1CEE1;border-radius: 20px;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">35%</p></div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div style="width:33%;float: left;">
                                <h5 style="margin:0 5%;text-align: center;">最適每日飲食量</h5>
                                <div style="width:100%;display:flex;
                                align-items:center;
                                justify-content:center;">
                                    <img src="images/product/element/Minus_icon.png" style="width:15%;cursor: pointer;">
                                    <p style="width:40%;margin:0;text-align: center;"><span>40</span>g</p>
                                    <img src="images/product/element/Plus_icon.png" style="width:15%;cursor: pointer;">
                                </div>
                                <br>
                                <div style="width:100%;display:flex;
                                align-items:center;
                                justify-content:center;">
                                    <img src="images/product/element/KG.png" style="width:15%;">
                                    <p style="width:40%;margin:0;text-align: center"><span>1.5</span>KG</p>
                                    <div style="width:15%;text-align: center;" title="此包飼料公斤數"><i class="far fa-question-circle"></i></div>
                                </div>
                                <div style="width:100%;display:flex;
                                align-items:center;
                                justify-content:center;">
                                    <img src="images/product/element/date.png" style="width:15%;">
                                    <p style="width:40%;margin:0;text-align: center"><span>31</span>天</p>
                                    <div style="width:15%;text-align: center;" title="推測可食用天數"><i class="far fa-question-circle"></i></div>
                                </div>
                                <br>
                                <h5 style="margin:0 5%;text-align: center;">前往商城</h5>
                                <div style="width:90%;margin:0 5%;background-color:#EF5981;border-top-left-radius: 5px;border-top-right-radius: 5px;border:1px solid #EF5981;display:flex;
                                align-items:center;
                                justify-content:center;">
                                    <img src="images/product/element/price_range.png" style="width:15%;">
                                    <p style="margin:0;">$1233</p>
                                </div>
                                <div  style="width:90%;margin:0 5%;border:1px solid #EF5981;padding:1vh 0;">
                                    <div style="display:flex;align-items:center;justify-content:center;">
                                        <img src="images/product/element/market/pchome.png" style="width:30%;">
                                        <a href="#" style="width:50%;text-align:center;">$1233</i></a>
                                        <a style="width:10%;text-align:left;"><i class="fas fa-angle-right"></i></a>
                                    </div>
                                    <div style="display:flex;align-items:center;justify-content:center;">
                                        <img src="images/product/element/market/力奇.png" style="width:30%;">
                                        <a href="#" style="width:50%;text-align:center;">$1333</a>
                                        <a style="width:10%;text-align:left;"><i class="fas fa-angle-right"></i></a>
                                    </div>
                                    <div style="display:flex;align-items:center;justify-content:center;">
                                        <img src="images/product/element/market/愛寵.png" style="width:30%;">
                                        <a href="#" style="width:50%;text-align:center;">$1433</a>
                                        <a style="width:10%;text-align:left;"><i class="fas fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    //
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</body>
</html>
<script>
    // for Draw() parameters
    var packageSize = 'xs';
    var listA, listB, listC, listD, listE;
    var select_icon;
    var priceUpperBound = 300, priceLowerBound = 200;
    var grand = 'both';
    var protein = 'off', metabolism = 'off';
    var sort = 'match';
    // Change Package Size
    function ChangePackageSizeByPic(id){
        id = id.split("_");
        if(id[1]==packageSize){} // do nothing
        else{
            $('#package_'+packageSize).toggleClass("package_select package");
            packageSize = id[1];
            $('#package_'+packageSize).toggleClass("package_select package");
            // go to change price tag, refresh selector and redraw products
            ChangePriceSelector();
            $('#sort_method').val('match');
        }
    }
    // Generate Price Selector
    function ChangePriceSelector(){
        var innerHTML = '';
        if(packageSize=='xs'){
            innerHTML += '<option value="A">每公斤 200-300元</option>';
            innerHTML += '<option value="B">每公斤 300-500元</option>';
            innerHTML += '<option value="C">每公斤 500-650元</option>';
            innerHTML += '<option value="D">每公斤 650-800元</option>';
            innerHTML += '<option value="E">每公斤 800+元</option>';
            priceUpperBound = 300;
            priceLowerBound = 200;
        }
        if(packageSize=='s'){
            innerHTML += '<option value="A">每公斤 200-300元</option>';
            innerHTML += '<option value="B">每公斤 300-450元</option>';
            innerHTML += '<option value="C">每公斤 450-600元</option>';
            innerHTML += '<option value="D">每公斤 600-750元</option>';
            innerHTML += '<option value="E">每公斤 750+元</option>';
            priceUpperBound = 300;
            priceLowerBound = 200;
        }
        if(packageSize=='m'){
            innerHTML += '<option value="A">每公斤 200-300元</option>';
            innerHTML += '<option value="B">每公斤 300-400元</option>';
            innerHTML += '<option value="C">每公斤 400-500元</option>';
            innerHTML += '<option value="D">每公斤 500-600元</option>';
            innerHTML += '<option value="E">每公斤 600+元</option>';
            priceUpperBound = 300;
            priceLowerBound = 200;
        }
        if(packageSize=='l'){
            innerHTML += '<option value="A">每公斤 100-200元</option>';
            innerHTML += '<option value="B">每公斤 200-300元</option>';
            innerHTML += '<option value="C">每公斤 300-400元</option>';
            innerHTML += '<option value="D">每公斤 400-500元</option>';
            innerHTML += '<option value="E">每公斤 500+元</option>';
            priceUpperBound = 200;
            priceLowerBound = 100;
        }
        if(packageSize=='xl'){
            innerHTML += '<option value="A">每公斤 100-150元</option>';
            innerHTML += '<option value="B">每公斤 150-200元</option>';
            innerHTML += '<option value="C">每公斤 200-250元</option>';
            innerHTML += '<option value="D">每公斤 250+元</option>';
            priceUpperBound = 150;
            priceLowerBound = 100;
        }
        document.getElementById('priceSelector').innerHTML = innerHTML;
        DrawCatfoodBlock();
    }
    function ChangePriceRange(){
        if(packageSize=='xs'){
            if($('#priceSelector').val()=='A') {priceUpperBound = 300; priceLowerBound = 200;}
            if($('#priceSelector').val()=='B') {priceUpperBound = 500; priceLowerBound = 300;}
            if($('#priceSelector').val()=='C') {priceUpperBound = 650; priceLowerBound = 500;}
            if($('#priceSelector').val()=='D') {priceUpperBound = 800; priceLowerBound = 650;}
            if($('#priceSelector').val()=='E') {priceUpperBound = 10000; priceLowerBound = 800;}
        }else if(packageSize=='s'){
            if($('#priceSelector').val()=='A') {priceUpperBound = 300; priceLowerBound = 200;}
            if($('#priceSelector').val()=='B') {priceUpperBound = 450; priceLowerBound = 300;}
            if($('#priceSelector').val()=='C') {priceUpperBound = 600; priceLowerBound = 450;}
            if($('#priceSelector').val()=='D') {priceUpperBound = 750; priceLowerBound = 600;}
            if($('#priceSelector').val()=='E') {priceUpperBound = 10000; priceLowerBound = 750;}
        }else if(packageSize=='m'){
            if($('#priceSelector').val()=='A') {priceUpperBound = 300; priceLowerBound = 200;}
            if($('#priceSelector').val()=='B') {priceUpperBound = 400; priceLowerBound = 300;}
            if($('#priceSelector').val()=='C') {priceUpperBound = 500; priceLowerBound = 400;}
            if($('#priceSelector').val()=='D') {priceUpperBound = 600; priceLowerBound = 500;}
            if($('#priceSelector').val()=='E') {priceUpperBound = 10000; priceLowerBound = 600;}
        }else if(packageSize=='l'){
            if($('#priceSelector').val()=='A') {priceUpperBound = 200; priceLowerBound = 100;}
            if($('#priceSelector').val()=='B') {priceUpperBound = 300; priceLowerBound = 200;}
            if($('#priceSelector').val()=='C') {priceUpperBound = 400; priceLowerBound = 300;}
            if($('#priceSelector').val()=='D') {priceUpperBound = 500; priceLowerBound = 400;}
            if($('#priceSelector').val()=='E') {priceUpperBound = 10000; priceLowerBound = 500;}
        }else if(packageSize=='xl'){
            if($('#priceSelector').val()=='A') {priceUpperBound = 150; priceLowerBound = 100;}
            if($('#priceSelector').val()=='B') {priceUpperBound = 200; priceLowerBound = 150;}
            if($('#priceSelector').val()=='C') {priceUpperBound = 250; priceLowerBound = 200;}
            if($('#priceSelector').val()=='D') {priceUpperBound = 10000; priceLowerBound = 250;}
        }else{
            // error handler
        }
        DrawCatfoodBlock();
    }
    // Draw food blocks
    function DrawCatfoodBlock(){
        // Need to be rewriten by VUE or REACT someday.
        var innerHTML = '', list = [];
        // condition for draw
        if(packageSize=='xs') for(i=0;i<listA.length;i++) list.push(listA[i]);
        if(packageSize=='s')  for(i=0;i<listB.length;i++) list.push(listB[i]);
        if(packageSize=='m')  for(i=0;i<listC.length;i++) list.push(listC[i]);
        if(packageSize=='l')  for(i=0;i<listD.length;i++) list.push(listD[i]);
        if(packageSize=='xl') for(i=0;i<listE.length;i++) list.push(listE[i]);
        if($('#sorting_method').val()=='score'){
            list = list.sort(function(a,b){
				return a.score/(a.scorecount+1) > b.socre/(b.scorecount+1) ? -1 : 1; 
			});
        }
        if($('#sorting_method').val()=='price_HL'){
            list = list.sort(function(a,b){
				return parseInt(a.APrice) > parseInt(b.APrice) ? -1 : 1; 
			});
        }
        if($('#sorting_method').val()=='price_LH'){
            list = list.sort(function(a,b){
				return parseInt(a.APrice) > parseInt(b.APrice) ? 1 : -1; 
			});
        }
        innerHTML = Draw(list);
        if(innerHTML==''){
            innerHTML += '<div style="width:98%;margin:1vh 0;margin-left:2%;background-color:white;box-shadow: 0 0 5px rgba(0,0,0,0.2);padding: 1vh 0;text-align:center">';
            innerHTML += '<p>此價格與包裝區間沒有適合您貓咪的飼料喔~您可以嘗試選取其他的包裝+價格組合來查看更多飼料！</p>';
            innerHTML += '</div>';
        }
        document.getElementById('CatFood').innerHTML = innerHTML;
    }
    function Draw(list){
        var innerHTML = '';
        for(i=0;i<list.length;i++){
            if(list[i].APrice/list[i].kilogram>priceLowerBound && list[i].APrice/list[i].kilogram<priceUpperBound){
                if(list[i].Cereals!=1 && $('#grand_yes').is(":checked"))    continue;
                if(list[i].Cereals!=0 && $('#grand_no').is(":checked")) continue;
                if(list[i].Metabolism==0 && $("#Metabolism").is(":checked")) continue;
                if(list[i].DailyProtein==0 && $("#DailyProtein").is(":checked"))  continue;
                innerHTML += '<div style="width:98%;margin:1vh 0;margin-left:2%;background-color:white;box-shadow: 0 0 5px rgba(0,0,0,0.2);padding: 1vh 0;">';
                innerHTML += '<div style="width:25%;float: left;text-align:center;" class="">';
                // product img
                innerHTML += '<img src="images/product/product/'+list[i].productCode.slice(3,7)+'.png" style="max-width:96%;max-height:20vh;">';
                // product score (with stars)
                if(list[i].score==0)   innerHTML += '<div class="centralize"><h5 style="margin:1vh 0;font-family:Impact !important">飼主評價：尚無評價</h5></div>';
                else{
                    var scoreavg = Math.round(list[i].score/list[i].scorecount);
                    innerHTML += '<div class="centralize"><h5 style="margin:1vh 0;font-family:Impact !important">飼主評價：'+scoreavg+'</h5></div>';
                    innerHTML += '<div class="centralize">';
                    if(scoreavg==5){
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                    }else if(scoreavg<5 && scoreavg>4){
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star-half-alt" style="color:#EF5981;"></i>';
                    }else if(scoreavg==4){
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                    }else if(scoreavg<4 && scoreavg>3){
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star-half-alt" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                    }else if(scoreavg==3){
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                    }else if(scoreavg<3 && scoreavg>2){
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star-half-alt" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                    }else if(scoreavg==2){
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                    }else if(scoreavg<2 && scoreavg>1){
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="fas fa-star-half-alt" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                    }else if(scoreavg==1){
                        innerHTML += '<i class="fas fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                    }else if(scoreavg<1 && scoreavg>=0){
                        innerHTML += '<i class="fas fa-star-half-alt" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                        innerHTML += '<i class="far fa-star" style="color:#EF5981;"></i>';
                    }
                    innerHTML += '</div>';
                }            
                innerHTML += '</div>';
                // product name
                innerHTML += '<div style="width:75%;float: left;"><h3 style="margin:0;">'+list[i].brand_zh+' '+list[i].name_zh+'</h3>';
                // flag
                innerHTML += '<img src="images/product/element/flags/'+list[i].original+'.png" style="width:10%;"><br>';
                innerHTML += '<div style="width:66%;border-right: 1px #D0D2D3 solid;float: left;">';
                // icon
                if(list[i].immu==1){
                    if(select_icon.includes('E')) innerHTML += '<img src="images/product/element/icons_select/immu.png" style="width:15%;">';
                    else innerHTML += '<img src="images/product/element/icons/immu.png" style="width:15%;">';
                }
                if(list[i].heart==1){
                    if(select_icon.includes('B')) innerHTML += '<img src="images/product/element/icons_select/heart.png" style="width:15%;">';
                    else innerHTML += '<img src="images/product/element/icons/heart.png" style="width:15%;">';
                }
                if(list[i].hair==1){
                    if(select_icon.includes('D')) innerHTML += '<img src="images/product/element/icons_select/hair.png" style="width:15%;">';
                    else innerHTML += '<img src="images/product/element/icons/hair.png" style="width:15%;">';
                }
                if(list[i].mehair==1){
                    if(select_icon.includes('I')) innerHTML += '<img src="images/product/element/icons_select/mehair.png" style="width:15%;">';
                    else innerHTML += '<img src="images/product/element/icons/mehair.png" style="width:15%;">';
                }
                if(list[i].joint==1){
                    if(select_icon.includes('A')) innerHTML += '<img src="images/product/element/icons_select/joint.png" style="width:15%;">';
                    else innerHTML += '<img src="images/product/element/icons/joint.png" style="width:15%;">';
                }
                if(list[i].stoma==1){
                    if(select_icon.includes('H')) innerHTML += '<img src="images/product/element/icons_select/stoma.png" style="width:15%;">';
                    else innerHTML += '<img src="images/product/element/icons/stoma.png" style="width:15%;">';
                }
                if(list[i].urinary==1){
                    if(select_icon.includes('H') || select_icon.includes('F')) innerHTML += '<img src="images/product/element/icons_select/urinary.png" style="width:15%;">';
                    else innerHTML += '<img src="images/product/element/icons/urinary.png" style="width:15%;">';
                }
                if(list[i].mouth==1){
                    if(select_icon.includes('G')) innerHTML += '<img src="images/product/element/icons_select/mouth.png" style="width:15%;">';
                    else innerHTML += '<img src="images/product/element/icons/mouth.png" style="width:15%;">';
                }
                if(list[i].alergent==1){
                    innerHTML += '<img src="images/product/element/icons/alergent.png" style="width:15%;">';
                }
                innerHTML += '<br><br><div>';
                //progress bar
                innerHTML += '<h5 style="margin:0;font-weight:normal !important;">蛋白質</h5><div style="width:90%;background-color:#F1F1F2;border-radius: 20px;"><div style="text-align: center;line-height: 1.8vh;color:white;width:'+list[i].protein*2+'%;height:1.8vh;background-color:#C1CEE1;border-radius: 20px;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">'+list[i].protein+'%</p></div></div><br>';
                innerHTML += '<h5 style="margin:0;font-weight:normal !important;">脂質</h5><div style="width:90%;background-color:#F1F1F2;border-radius: 20px;"><div style="text-align: center;line-height: 1.8vh;color:white;width:'+list[i].fat*3+'%;height:1.8vh;background-color:#C1CEE1;border-radius: 20px;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">'+list[i].fat+'%</p></div></div><br>';
                innerHTML += '<h5 style="margin:0;font-weight:normal !important;">纖維素</h5><div style="width:90%;background-color:#F1F1F2;border-radius: 20px;"><div style="text-align: center;line-height: 1.8vh;color:white;width:'+list[i].fiber*3+'%;height:1.8vh;background-color:#C1CEE1;border-radius: 20px;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">'+list[i].fiber+'%</p></div></div><br>';
                innerHTML += '</div></div><div style="width:33%;float: left;"><h5 style="margin:0 5%;text-align: center;">最適每日飲食量</h5>';
                // dailygram
                innerHTML += '<div class="centralize"><img src="images/product/element/Minus_icon.png" style="width:15%;cursor: pointer;"><p style="width:40%;margin:0;text-align: center;"><span>'+list[i].dailyNeedGram+'</span>g</p><img src="images/product/element/Plus_icon.png" style="width:15%;cursor: pointer;"></div><br>';
                // kilo
                innerHTML += '<div class="centralize"><img src="images/product/element/KG.png" style="width:15%;"><p style="width:40%;margin:0;text-align: center"><span>'+list[i].kilogram+'</span>KG</p><div style="width:15%;text-align: center;" title="此包飼料公斤數"><i class="far fa-question-circle"></i></div></div>';
                // days
                innerHTML += '<div style="width:100%;" class="centralize"><img src="images/product/element/date.png" style="width:15%;"><p style="width:40%;margin:0;text-align: center"><span>'+Math.round(list[i].kilogram*1000/list[i].dailyNeedGram)+'</span>天</p><div style="width:15%;text-align: center;" title="推測可食用天數"><i class="far fa-question-circle"></i></div></div><br>';
                // lowest price
                innerHTML += '<h5 style="margin:0 5%;text-align: center;">前往商城</h5><div style="width:90%;margin:0 5%;background-color:#EF5981;border-top-left-radius: 5px;border-top-right-radius: 5px;border:1px solid #EF5981;display:flex;align-items:center;justify-content:center;"><img src="images/product/element/price_range.png" style="width:15%;"><p style="margin:0;">$'+list[i].APrice+'</p></div><div  style="width:90%;margin:0 5%;border:1px solid #EF5981;padding:1vh 0;">';
                // price and link
                innerHTML += '<div class="centralize"><img src="images/product/element/market/'+list[i].A+'.png" style="width:30%;"><a id="'+list[i].productCode+'@A" onclick="SendLinkToServer(this.id)" href="'+list[i].ALink+'" target="_blank" style="width:50%;text-align:center;">$'+list[i].APrice+'</i></a><a style="width:10%;text-align:left;"><i class="fas fa-angle-right"></i></a></div>';
                if(list[i].B!='')   innerHTML += '<div class="centralize"><img src="images/product/element/market/'+list[i].B+'.png" style="width:30%;"><a id="'+list[i].productCode+'@B" onclick="SendLinkToServer(this.id)" href="'+list[i].BLink+'" target="_blank" style="width:50%;text-align:center;">$'+list[i].BPrice+'</i></a><a style="width:10%;text-align:left;"><i class="fas fa-angle-right"></i></a></div>';
                if(list[i].C!='')   innerHTML += '<div class="centralize"><img src="images/product/element/market/'+list[i].C+'.png" style="width:30%;"><a id="'+list[i].productCode+'@C" onclick="SendLinkToServer(this.id)" href="'+list[i].CLink+'" target="_blank" style="width:50%;text-align:center;">$'+list[i].CPrice+'</i></a><a style="width:10%;text-align:left;"><i class="fas fa-angle-right"></i></a></div>';
                // end
                innerHTML += '</div></div><div style="clear:both;"></div></div><div style="clear:both;"></div></div>';
            }
        }
        return innerHTML;
    }
    // send to record link
    function SendLinkToServer(productCode){
        var code = productCode.split('@');
        $.ajax({
            method: 'POST',
            url: 'recordLinkToDB',
            data:{
                link: code[0]
            }
        });
    }
    // Initial
    $(document).ready(function(){
        $.ajax({
            method: 'POST',
            url: 'questionnaire_result'
        }).done(function(data){
            // handle data
            if(data=='/questionnaire'){
                // error occur
                window.location.href = data;
            }else{
                var splitdata = data.split('#');
                // packageSize first change
                packageSize = JSON.parse(splitdata[0]);
                $('#package_'+packageSize).toggleClass("package_select package");
                // store list
                listA = JSON.parse(splitdata[1]);
                listB = JSON.parse(splitdata[2]);
                listC = JSON.parse(splitdata[3]);
                listD = JSON.parse(splitdata[4]);
                listE = JSON.parse(splitdata[5]);
                // record select icon
                select_icon = JSON.parse(splitdata[6]);
                // Draw cat food Block
                ChangePriceSelector();
                DrawCatfoodBlock();
                // Draw range
                var proteinUp = parseInt(JSON.parse(splitdata[7]));
                var proteinDown = parseInt(JSON.parse(splitdata[8]));
                var proteinMinus = (50 - proteinUp)*2;
                var proteinMinus2 = (proteinUp - proteinDown)*2;
                var fatUp = parseInt(JSON.parse(splitdata[9]));
                var fatDown = parseInt(JSON.parse(splitdata[10]));
                var fatMinus = (50-fatUp)*2;
                var fatMinus2 = (fatUp-fatDown)*2;
                var fiberUp = parseInt(JSON.parse(splitdata[11]));
                var fiberDown = parseInt(JSON.parse(splitdata[12]));
                var fiberMinus = (50-fiberUp)*2;
                var fiberMinus2 = (fiberUp-fiberDown)*2;
                document.getElementById('protein_range').innerHTML = '<div style="text-align: center;line-height: 1.8vh;color:white;width:'+proteinDown*2+'%;height:1.8vh;background-color:#C1CEE1;float: left;"></div><div style="text-align: center;line-height: 1.8vh;color:white;width:'+proteinMinus2+'%;height:1.8vh;background-color:#3D5BA8;float: left;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">'+proteinDown+'-'+proteinUp+'%</p></div><div style="text-align: center;line-height: 1.8vh;color:white;width:'+proteinMinus+'%;height:1.8vh;background-color:#C1CEE1;float: left;"></div><div style="clear:both;"></div>';
                document.getElementById('fat_range').innerHTML = '<div style="text-align: center;line-height: 1.8vh;color:white;width:'+fatDown*2+'%;height:1.8vh;background-color:#C1CEE1;float: left;"></div><div style="text-align: center;line-height: 1.8vh;color:white;width:'+fatMinus2+'%;height:1.8vh;background-color:#3D5BA8;float: left;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">'+fatDown+'-'+fatUp+'%</p></div><div style="text-align: center;line-height: 1.8vh;color:white;width:'+fatMinus+'%;height:1.8vh;background-color:#C1CEE1;float: left;"></div><div style="clear:both;"></div>';
                document.getElementById('fiber_range').innerHTML = '<div style="text-align: center;line-height: 1.8vh;color:white;width:'+fiberDown*2+'%;height:1.8vh;background-color:#C1CEE1;float: left;"></div><div style="text-align: center;line-height: 1.8vh;color:white;width:'+fiberMinus2+'%;height:1.8vh;background-color:#3D5BA8;float: left;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">'+fiberDown+'-'+fiberUp+'%</p></div><div style="text-align: center;line-height: 1.8vh;color:white;width:'+fiberMinus+'%;height:1.8vh;background-color:#C1CEE1;float: left;"></div><div style="clear:both;"></div>';
            }
        });
        // post to server to ask basic information, and draw it.  
        $.ajax({
            method: 'POST',
            url: 'askInformation'
        }).done(function(data){
            if(data=='error'){
                // error occur
                alert('Oops!看來您在填寫問卷的時候發生了一些問題...\n麻煩您回到問卷的部分稍作確認，有任何的問題都可以向卡卡貓的客服反映！\n卡卡貓感謝您~');
            }else{
                var splitdata = data.split('@');
                var BCS = JSON.parse(splitdata[0]);
                var BCA_ageYear = JSON.parse(splitdata[1]);
                var BCA_ageMonth = JSON.parse(splitdata[2]);
                var BCW_kilo = JSON.parse(splitdata[3]);
                var BCW_gram = JSON.parse(splitdata[4]);
                var BSP = JSON.parse(splitdata[5]);
                var BNU = JSON.parse(splitdata[6]);
                var BBC = JSON.parse(splitdata[7]);
                var iconlist = JSON.parse(splitdata[8]);
                var iconlist_split;
                var innerHTML = '';
                iconlist_split = iconlist[0].split('#');
                innerHTML += '<p>根據您所選取的項目</p>';
                innerHTML += '<div style="width:33%;float: left;margin-bottom:1vh;" class="tooltip">';
                innerHTML += '<span class="tooltiptext_bottom">'+iconlist_split[3]+'</span>';
                innerHTML += '<div class="centralize"><img src="images/product/element/icons/'+iconlist_split[0]+'.png" style="width:40%;float: left;position: relative;margin:0 10%;"><p style="width:40%;margin:0;display: inline-block;display:flex;align-items:center;justify-content:center;color:#3D5BA8;">'+iconlist_split[1]+'</p></div>';
                innerHTML += '<br style="clear:both;"><div style="width:100%;"><img src="images/product/element/meter_'+iconlist_split[2]+'.png" style="width:60%;margin: 0 20%;"></div><div style="width:100%;text-align: center;"><p style="font-size:0.7em;color:#3D5BA8;">建議重視程度</p></div></div>';
                if(iconlist.length>=2){
                    iconlist_split = iconlist[1].split('#');
                    innerHTML += '<div style="width:33%;float: left;margin-bottom:1vh;border-left:1px solid gray;" class="tooltip">';
                    innerHTML += '<span class="tooltiptext_bottom">'+iconlist_split[3]+'</span>';
                    innerHTML += '<div class="centralize"><img src="images/product/element/icons/'+iconlist_split[0]+'.png" style="width:40%;float: left;position: relative;margin:0 10%;"><p style="width:40%;margin:0;display: inline-block;display:flex;align-items:center;justify-content:center;color:#3D5BA8;">'+iconlist_split[1]+'</p></div>';
                    innerHTML += '<br style="clear:both;"><div style="width:100%;"><img src="images/product/element/meter_'+iconlist_split[2]+'.png" style="width:60%;margin: 0 20%;"></div><div style="width:100%;text-align: center;"><p style="font-size:0.7em;color:#3D5BA8;">建議重視程度</p></div></div>';
                }
                if(iconlist.length==3){
                    iconlist_split = iconlist[2].split('#');
                    innerHTML += '<div style="width:33%;float: left;margin-bottom:1vh;border-left:1px solid gray;" class="tooltip">';
                    innerHTML += '<span class="tooltiptext_bottom">'+iconlist_split[3]+'</span>';
                    innerHTML += '<div class="centralize"><img src="images/product/element/icons/'+iconlist_split[0]+'.png" style="width:40%;float: left;position: relative;margin:0 10%;"><p style="width:40%;margin:0;display: inline-block;display:flex;align-items:center;justify-content:center;color:#3D5BA8;">'+iconlist_split[1]+'</p></div>';
                    innerHTML += '<br style="clear:both;"><div style="width:100%;"><img src="images/product/element/meter_'+iconlist_split[2]+'.png" style="width:60%;margin: 0 20%;"></div><div style="width:100%;text-align: center;"><p style="font-size:0.7em;color:#3D5BA8;">建議重視程度</p></div></div>';
                }
                innerHTML += '<div style="clear:both;"></div>';
                document.getElementById('iconInformation').innerHTML = innerHTML;
                document.getElementById('ageyear').innerHTML = BCA_ageYear;
                document.getElementById('agemonth').innerHTML = BCA_ageMonth;
                document.getElementById('kilo').innerHTML = BCW_kilo;
                document.getElementById('gram').innerHTML = BCW_gram;
                document.getElementById('bsp').innerHTML = BSP;
                if(BNU=='yes')  document.getElementById('bnu').innerHTML = '已結紮';
                if(BNU=='no')  document.getElementById('bnu').innerHTML = '未結紮';
                if(BBC=='A') document.getElementById('bbc').innerHTML = '過瘦';
                if(BBC=='B') document.getElementById('bbc').innerHTML = '稍瘦';
                if(BBC=='C') document.getElementById('bbc').innerHTML = '適中';
                if(BBC=='D') document.getElementById('bbc').innerHTML = '稍胖';
                if(BBC=='E') document.getElementById('bbc').innerHTML = '過胖';
            }
        });
    })
</script>