<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>

	<title>catcatmed</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--
		MUST CHECK : "id = catNamex" uncorrect number will lead to error.
	-->
	<script>
		var customBasicEnum = {
			boy:"男",
			girl:"女",
			_18_:"18歲以下",
			_18_25:"18-25",
			_26_35:"26-35",
			_36_45:"36-45",
			_46_65:"46-65",
			_65_:"65歲以上",
			yes:"是",
			no:"否",
			highFreq:"高",
			medFreq:"中",
			lowFreq:"低",
			inside:"室內",
			outside:"室外",
			medside:"一半一半",
			tooThin:"過瘦",
			aLittleThin:"稍瘦",
			medium:"適中",
			aLittleFat:"稍胖",
			tooFat:"過胖",
			_1to3:"一到三週",
			_3to6:"三到六週",
			_6up:"六週以上",
			unsure:"不確定",
		}
		var basicInformation = {
			name:"無資料",
			catName:"無資料",
			sex:"無資料",
			catSex:"無資料",
			age:"無資料",
			catAge:"無資料",
			species:"無資料",
			ligation:"無資料",
			pregnancy:"無資料",
			pregnancyTime:"無資料",
			catWeight:"無資料",
			catExerciseFreq:"無資料",
			catSide:"無資料",
			catSize:"無資料"
		}
		var customAdvancedEnum = {
			ARC_SPE:"特定需求",
			ARC_DAE:"日常保健",
			ARC_KNO:"知識了解",
			YES:"有",
			NO:"沒有",
			UNSURE:"不確定",
			AIC_IMMU:"免疫力",
			AIC_HEART:"心臟",
			AIC_MEHAIR:"化毛",
			AIC_LIHAIR:"亮毛",
			AIC_LOHAIR:"脫毛",
			AIC_SKIN:"皮膚",
			AIC_JOINT:"關節",
			AIC_BONE:"骨頭",
			AIC_ADDWEI:"增重",
			AIC_OVERWEI:"過胖",
			AIC_STOMA:"腸胃",
			AIC_STRESS:"壓力",
			AFF_RARE:"幾乎沒有",
			AFF_ONEPERMON:"一個月一次",
			AFF_HIGHFREQ:"一個月一次以上"			
		}
		var advancedInformation = {
			ARC:"無資料",
			ANM:"無資料",
			AWM:"無資料",
			AIC:"無資料",
			AWI:"無資料",
			AEM:"無資料",
			AFE:"無資料",
			AFF:"無資料",
			AEI:"無資料"
		}
		var customIconEnum = {
			YES:"有",
			NO:"沒有",
			UNSURE:"不確定",
			IWC_RARE:"幾乎沒有",
			IWC_1TO2:"一到兩次",
			IWC_3UP:"三次以上",
			ILP_FRONT:"前段",
			ILP_MID:"中段",
			ILP_BACK:"後段",
			IHS_DRY:"乾澀無光澤",
			IHS_HEALTH:"健康",
			IHS_ROUGH:"粗糙打結",
			IVA_UP:"上吐",
			IVA_BOT:"下瀉",
			IVA_BOTH:"都有",
			IVN_BETTER:"逐漸好轉中",
			IVN_FORAWHILE:"持續一陣子了",
			IBN_BETTER:"逐漸好轉中",
			IBN_FORAWHILE:"持續一陣子了",
			IPR_STRA:"過度理毛",
			IPR_STRB:"來回踱步",
			IPR_STRC:"四處躲藏",
			IPR_STRD:"食慾下降",
			IPR_STRD:"隨地便溺",
			IMO_BS:"口臭",
			IMO_OVERSWEAT:"過度流口水"
		}
		var iconInformation = {
			IHE:"無資料",
			IWC:"無資料",
			IDC:"無資料",
			IHH:"無資料",
			ILH:"無資料",
			ILP:"無資料",
			IHS:"無資料",
			IPO:"無資料",
			ICV:"無資料",
			ISR:"無資料",
			INR:"無資料",
			IBC:"無資料",
			IEB:"無資料",
			IEF:"無資料",
			IJF:"無資料",
			IVO:"無資料",
			IVA:"無資料",
			IVN:"無資料",
			IBP:"無資料",
			IBN:"無資料",
			IPR:"無資料",
			IMO:"無資料"
		}
		var customExtraEnum = {
			YES:"有",
			NO:"無",
			UNSURE:"不確定",
			EEH_STRIKE:"全力以赴",
			EEH_HARD:"正在努力中",
			EEH_FROMNOW:"現在開始",
			EKL_EXP:"專家",
			EKL_STU:"學習中",
			EKL_BEG:"新手",
			ENL_EXP:"專家",
			ENL_STU:"學習中",
			ENL_BEG:"新手",
			EFI_BEEF:"牛肉",
			EFI_SLAM:"羊肉",
			EFI_CHIC:"雞肉",
			EFI_DUCK:"鴨肉",
			EFI_TURK:"火雞",
			EFI_FISH:"魚",
			EFI_DEER:"鹿",
			EFI_PIG:"豬",
			EEC_CONTROL:"定時定量",
			EEC_FULL:"buffet",
			ECM_ONCE:"一餐",
			ECM_TWICE:"兩餐",
			ECM_UP:"三餐以上",
			EES_SOON:"馬上吃完",
			EES_SLOW:"慢慢吃",
			EES_NEVER:"吃不完",
			EAB_NEVER:"從未",
			EAB_ONCE:"一兩次",
			EAB_FORTHUP:"四次以上",
			EAC_NEVER:"從未",
			EAC_ONCE:"一次",
			EAC_TWICE:"兩次",
			EAC_EACHDAY:"幾乎每天",
			EAD_BEEF:"牛肉",
			EAD_GRAND:"穀類",
			EAD_EGG:"蛋",
			EAE_LOWFREQ:"頻率低",
			EAE_HIGHFREQ:"頻率高",
			EAF_NEVER:"從來沒有",
			EAF_YESBUTHATE:"有，不愛吃",
			EAF_ONCE:"一週一兩次",
			EAF_THIRD:"三次或以上",
			EBB_FIRST:"第一手拿到",
			EBB_WANTTOKNOW:"想了解看看",
			EBB_DONTWANT:"不想知道",
			EBC_INTER:"網路",
			EBC_FB_IG:"Facebook/IG",
			EBC_FRIEND:"朋友介紹",
			EBC_OTHER:"其他"
		}
		var extraInformation = {
			EEH:"無資料",
			EKL:"無資料",
			ENL:"無資料",
			EFB:"無資料",
			EFI:"無資料",
			EFG:"無資料",
			EEC:"無資料",
			ECM:"無資料",
			EES:"無資料",
			EAA:"無資料",
			EAB:"無資料",
			EAC:"無資料",
			EAD:"無資料",
			EAE:"無資料",
			EAF:"無資料",
			EBA:"無資料",
			EBB:"無資料",
			EBC:"無資料"
		}
		//GLOBAL VAR
		var icon = [0,0,0,0,0,0,0,0,0,0,0,0];
		//
		function iconClick(id){
			if(id=="AIC_IMMU"){
				icon[0] = inverse(icon[0]);
				var newID = "#" + id;
				$(newID).toggleClass("icon iconSelected");
			}
			if(id=="AIC_HEART"){
				icon[1] = inverse(icon[1]);
				var newID = "#" + id;
				$(newID).toggleClass("icon iconSelected");
			}
			if(id=="AIC_MEHAIR"){
				icon[2] = inverse(icon[2]);
				var newID = "#" + id;
				$(newID).toggleClass("icon iconSelected");
			}
			if(id=="AIC_LIHAIR"){
				icon[3] = inverse(icon[3]);
				var newID = "#" + id;
				$(newID).toggleClass("icon iconSelected");
			}
			if(id=="AIC_LOHAIR"){
				icon[4] = inverse(icon[4]);
				var newID = "#" + id;
				$(newID).toggleClass("icon iconSelected");
			}
			if(id=="AIC_SKIN"){
				icon[5] = inverse(icon[5]);
				var newID = "#" + id;
				$(newID).toggleClass("icon iconSelected");
			}
			if(id=="AIC_JOINT"){
				icon[6] = inverse(icon[6]);
				var newID = "#" + id;
				$(newID).toggleClass("icon iconSelected");
			}
			if(id=="AIC_BONE"){
				icon[7] = inverse(icon[7]);
				var newID = "#" + id;
				$(newID).toggleClass("icon iconSelected");
			}
			if(id=="AIC_ADDWEI"){
				icon[8] = inverse(icon[8]);
				var newID = "#" + id;
				$(newID).toggleClass("icon iconSelected");
			}
			if(id=="AIC_OVERWEI"){
				icon[9] = inverse(icon[9]);
				var newID = "#" + id;
				$(newID).toggleClass("icon iconSelected");
			}
			if(id=="AIC_STOMA"){
				icon[10] = inverse(icon[10]);
				var newID = "#" + id;
				$(newID).toggleClass("icon iconSelected");
			}
			if(id=="AIC_STRESS"){
				icon[11] = inverse(icon[11]);
				var newID = "#" + id;
				$(newID).toggleClass("icon iconSelected");
			}
		}
		function inverse(iconValue){
			if(iconValue==0) return 1;
			else return 1;
		}
		//
		function enterPress(id,event){
			var x = event.which || event.keyCode;
			var y = id.slice(0,3) + "Button";
			if(x==13)  document.getElementById(y).click();
		}
		function addToList(id){
			//BKN
			if(id=="BKNButton"){
				if($("#BKNEnter").val()!=""){
					basicInformation.name = $("#BKNEnter").val();
					$("#BKN").fadeOut(500,function(){
						$("#BCN").fadeIn(500,function(){
							$("#BCNEnter").focus();
						});
					});
				}
			}
			//BCN
			if(id=="BCNButton"){
				if($("#BCNEnter").val()!=""){
					basicInformation.catName = $("#BCNEnter").val();
					for(i=1;i<8;i++){
						var str = "catName" + i;
						document.getElementById(str).innerHTML = basicInformation.catName;
					}
					$("#BCN").fadeOut(500,function(){
						$("#BKS").fadeIn(500);
					});
				}
			}
			//BKS
			if(id=="BKS_girl"){
				basicInformation.sex = customBasicEnum.girl;
				$("#BKS").fadeOut(500,function(){
					$("#BCS").fadeIn(500);
				});
			}
			if(id=="BKS_boy"){
				basicInformation.sex = customBasicEnum.boy;
				$("#BKS").fadeOut(500,function(){
					$("#BCS").fadeIn(500);
				});
			}
			//BCS
			if(id=="BCS_girl"){
				basicInformation.catSex = customBasicEnum.girl;
				$("#BCS").fadeOut(500,function(){
					$("#BKA").fadeIn(500);
				});
			}
			if(id=="BCS_boy"){
				basicInformation.catSex = customBasicEnum.boy;
				$("#BCS").fadeOut(500,function(){
					$("#BKA").fadeIn(500);
				});
			}
			//BKA
			if(id=="BKA_18-"){
				basicInformation.age = customBasicEnum._18_;
				$("#BKA").fadeOut(500,function(){
					$("#BCA").fadeIn(500,function(){
						$("#BCAEnter").focus();
					});
				});
			}
			if(id=="BKA_18-25"){
				basicInformation.age = customBasicEnum._18_25;
				$("#BKA").fadeOut(500,function(){
					$("#BCA").fadeIn(500,function(){
						$("#BCAEnter").focus();
					});
				});
			}
			if(id=="BKA_26-35"){
				basicInformation.age = customBasicEnum._26_35;
				$("#BKA").fadeOut(500,function(){
					$("#BCA").fadeIn(500,function(){
						$("#BCAEnter").focus();
					});
				});
			}
			if(id=="BKA_36-45"){
				basicInformation.age = customBasicEnum._36_45;
				$("#BKA").fadeOut(500,function(){
					$("#BCA").fadeIn(500,function(){
						$("#BCAEnter").focus();
					});
				});
			}
			if(id=="BKA_46-65"){
				basicInformation.age = customBasicEnum._46_65;
				$("#BKA").fadeOut(500,function(){
					$("#BCA").fadeIn(500,function(){
						$("#BCAEnter").focus();
					});
				});
			}
			if(id=="BKA_65+"){
				basicInformation.age = customBasicEnum._65_;
				$("#BKA").fadeOut(500,function(){
					$("#BCA").fadeIn(500,function(){
						$("#BCAEnter").focus();
					});
				});
			}
			//BCA
			if(id=="BCAButton"){
				if($("#BCAEnter").val()!=""){
					basicInformation.catAge = $("#BCAEnter").val();
					$("#BCA").fadeOut(500,function(){
						$("#BSP").fadeIn(500);	
					});
				}
			}
			//BSP
			if(id=="BSPButton"){
				if($("#BSP_nohair").val()!="0"){
					basicInformation.species = $("#BSP_nohair").val();
				}
				if($("#BSP_shorthair").val()!="0"){
					basicInformation.species = $("#BSP_shorthair").val();
				}
				if($("#BSP_longhair").val()!="0"){
					basicInformation.species = $("#BSP_longhair").val();
				}
				$("#BSP").fadeOut(500,function(){
					$("#BNU").fadeIn(500);	
				});
			}
			//BNU
			if(id=="BNU_yes"){
				basicInformation.ligation = customBasicEnum.yes;
				$("#BNU").fadeOut(500,function(){
					$("#BCW").fadeIn(500,function(){
						$("#BCWEnter").focus();
					});	
				});
			}
			if(id=="BNU_no"){
				basicInformation.ligation = customBasicEnum.no;
				if(basicInformation.catSex==customBasicEnum.girl){
					$("#BNU").fadeOut(500,function(){
						$("#BPR").fadeIn(500);	
					});
				}else{
					$("#BNU").fadeOut(500,function(){
						$("#BCW").fadeIn(500,function(){
							$("#BCWEnter").focus();
						});	
					});
				}
			}
			//BPR
			if(id=="BPR_yes"){
				basicInformation.pregnancy = customBasicEnum.yes;
				$("#BPR").fadeOut(500,function(){
					$("#BPT").fadeIn(500);	
				});
			}
			if(id=="BPR_no"){
				basicInformation.pregnancy = customBasicEnum.no;
				$("#BPR").fadeOut(500,function(){
					$("#BCW").fadeIn(500,function(){
						$("#BCWEnter").focus();
					});	
				});
			}
			//BPT
			if(id=="BPT_1to3"){
				basicInformation.pregnancyTime = customBasicEnum._1to3;
				$("#BPT").fadeOut(500,function(){
					$("#BCW").fadeIn(500,function(){
						$("#BCWEnter").focus();
					});	
				});
			}
			if(id=="BPT_3to6"){
				basicInformation.pregnancyTime = customBasicEnum._3to6;
				$("#BPT").fadeOut(500,function(){
					$("#BCW").fadeIn(500,function(){
						$("#BCWEnter").focus();
					});	
				});
			}
			if(id=="BPT_6up"){
				basicInformation.pregnancyTime = customBasicEnum._6up;
				$("#BPT").fadeOut(500,function(){
					$("#BCW").fadeIn(500,function(){
						$("#BCWEnter").focus();
					});	
				});
			}
			if(id=="BPT_unsure"){
				basicInformation.pregnancyTime = customBasicEnum.unsure;
				$("#BPT").fadeOut(500,function(){
					$("#BCW").fadeIn(500,function(){
						$("#BCWEnter").focus();
					});	
				});
			}
			//BCW
			if(id=="BCWButton"){
				if($("#BCWEnter").val()!=""){
					basicInformation.catWeight = $("#BCWEnter").val();
					$("#BCW").fadeOut(500,function(){
						$("#BEF").fadeIn(500);	
					});
				}
			}
			//BEF
			if(id=="BEF_highFreq"){
				basicInformation.catExerciseFreq = customBasicEnum.highFreq;
				$("#BEF").fadeOut(500,function(){
					$("#BSI").fadeIn(500);	
				});
			}
			if(id=="BEF_medFreq"){
				basicInformation.catExerciseFreq = customBasicEnum.medFreq;
				if(basicInformation.pregnancy==customBasicEnum.yes){
					$("#BEF").fadeOut(500,function(){
						showResult();
						$("#result").fadeIn(500);	
					});
				}else{
					$("#BEF").fadeOut(500,function(){
						$("#BCC").fadeIn(500);	
					});
				}
			}
			if(id=="BEF_lowFreq"){
				basicInformation.catExerciseFreq = customBasicEnum.lowFreq;
				if(basicInformation.pregnancy==customBasicEnum.yes){
					$("#BEF").fadeOut(500,function(){
						showResult();
						$("#result").fadeIn(500);	
					});
				}else{
					$("#BEF").fadeOut(500,function(){
						$("#BCC").fadeIn(500);	
					});
				}
			}
			//BSI
			if(id=="BSI_inside"){
				basicInformation.catSide = customBasicEnum.inside;
				if(basicInformation.pregnancy==customBasicEnum.yes){
					$("#BSI").fadeOut(500,function(){
						showResult();
						$("#result").fadeIn(500);	
					});
				}else{
					$("#BSI").fadeOut(500,function(){
						$("#BCC").fadeIn(500);	
					});
				}
			}
			if(id=="BSI_outside"){
				basicInformation.catSide = customBasicEnum.outside;
				if(basicInformation.pregnancy==customBasicEnum.yes){
					$("#BSI").fadeOut(500,function(){
						showResult();
						$("#result").fadeIn(500);	
					});
				}else{
					$("#BSI").fadeOut(500,function(){
						$("#BCC").fadeIn(500);	
					});
				}
			}
			if(id=="BSI_medside"){
				basicInformation.catSide = customBasicEnum.medside;
				if(basicInformation.pregnancy==customBasicEnum.yes){
					$("#BSI").fadeOut(500,function(){
						showResult();
						$("#result").fadeIn(500);	
					});
				}else{
					$("#BSI").fadeOut(500,function(){
						$("#BCC").fadeIn(500);	
					});
				}
			}
			//BBC
			if(id=="BBC_tooThin"){
				basicInformation.catSize = customBasicEnum.tooThin;
				$("#BBC").fadeOut(500,function(){
					showResult();
				});
			}
			if(id=="BBC_aLittleThin"){
				basicInformation.catSize = customBasicEnum.aLittleThin;
				$("#BBC").fadeOut(500,function(){
					showResult();
				});
			}
			if(id=="BBC_medium"){
				basicInformation.catSize = customBasicEnum.medium;
				$("#BBC").fadeOut(500,function(){
					showResult();
				});
			}
			if(id=="BBC_aLittleFat"){
				basicInformation.catSize = customBasicEnum.aLittleFat;
				$("#BBC").fadeOut(500,function(){
					showResult();
				});
			}
			if(id=="BBC_tooFat"){
				basicInformation.catSize = customBasicEnum.tooFat;
				$("#BBC").fadeOut(500,function(){
					showResult();
				});
			}
		}
		function speciesCheck(id){
			if(id=="BSP_nohair"){
				$("#BSP_shorthair").val("0");
				$("#BSP_longhair").val("0");
			}
			if(id=="BSP_shorthair"){
				$("#BSP_nohair").val("0");
				$("#BSP_longhair").val("0");
			}
			if(id=="BSP_longhair"){
				$("#BSP_nohair").val("0");
				$("#BSP_shorthair").val("0");
			}
		}
		function showResult(){
			var resultInformation = "";
			resultInformation += "<h3>飼主姓名 : " + basicInformation.name + "</h3>";
			resultInformation += "<h3>貓貓姓名 : " + basicInformation.catName + "</h3>";
			resultInformation += "<h3>飼主性別 : " + basicInformation.sex + "</h3>";
			resultInformation += "<h3>貓貓性別 : " + basicInformation.catSex + "</h3>";
			resultInformation += "<h3>飼主年齡 : " + basicInformation.age + "</h3>";
			resultInformation += "<h3>貓貓年齡 : " + basicInformation.catAge + "</h3>";
			resultInformation += "<h3>貓貓品種 : " + basicInformation.species + "</h3>";
			resultInformation += "<h3>貓貓結紮 : " + basicInformation.ligation + "</h3>";
			resultInformation += "<h3>貓貓懷孕 : " + basicInformation.pregnancy + "</h3>";			
			resultInformation += "<h3>懷孕時間 : " + basicInformation.pregnancyTime + "</h3>";			
			resultInformation += "<h3>貓貓體重 : " + basicInformation.catWeight + "</h3>";
			resultInformation += "<h3>貓貓活動 : " + basicInformation.catExerciseFreq + "</h3>";
			resultInformation += "<h3>室內室外 : " + basicInformation.catSide + "</h3>";
			resultInformation += "<h3>貓貓體型 : " + basicInformation.catSize + "</h3>";
			document.getElementById("result").innerHTML = resultInformation;
		}
	</script>
</head>
<body class="container">
	<style>
		.navBlock{
			cursor: pointer;
			transition: 300ms;
		}
		.navBlock:hover{
			background-color: #EEEEEE;
		}
		.navLink{
			padding-top : 20px;
			padding-bottom : 20px;
			font-family: Microsoft JhengHei;
			font-size: 16px;
			font-weight: bold;
			text-align: center;
		}
		.questionBlock{
			
		}
		input{
			outline: none;
			width: 100%;
			padding: 0px;
			text-align: center;
		}
		span{
			font-size: 20px;
		}
		.placeholder {
		  width: 100%;
		  overflow: hidden;
		  background-color: pink;
		  border: solid 2px black;
		  padding: 0px;
		  cursor: pointer;
		}
		.placeholder:hover{
			background-color: yellow;
			transition: 500ms;
		}
		.icon{
			font-family: Microsoft JhengHei;
			font-size: 18px;
			background-color: #FFFF77;
			border: dashed black 2px;
			cursor: pointer;
		}
		.icon:hover{
			background-color: #FFCC22;
		}
		.iconSelected{			
			background-color: #FF5511;
			border: solid black 2px;
			cursor: pointer;
			font-family: Microsoft JhengHei;
			font-size: 18px;
		}
		.iconSelected:hover{
			background-color: red;
		}
	</style>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<nav class="col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 col-sm-4 col-sm-offset-8 col-xs-4 col-xs-offset-8">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navBlock">
				<p onClick="location.href='/'" class="navLink">儲存並回首頁</p>
			</div>
		</nav>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<!-- questionnaire here -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="BKN">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<span>請問您的名字</span>
				</div>
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
					<input type="text" id="BKNEnter" onkeypress="enterPress(this.id,event)">
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
					<button id="BKNButton" onclick="addToList(this.id);">></button>
				</div>
			</div>		
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BCN">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問貓貓的名字</span>
				</div>
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
					<input type="text" id="BCNEnter" onkeypress="enterPress(this.id,event)">
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
					<button id="BCNButton" onclick="addToList(this.id);">></button>
				</div>	
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BKS">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問你是媽媽還是爸爸？</span>
				</div>				
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BKS_girl">
						<span>媽媽</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BKS_boy">
						<span>爸爸</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BCS">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span id="catName1">貓貓</span>						
					<span>是男生還是女生呢？</span>
				</div>				
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BCS_boy">
						<span>男生</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BCS_girl">
						<span>女生</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BKA">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">					
					<span>請問您幾歲？</span>
				</div>				
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BKA_18-">
						<span>18以下</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BKA_18-25">
						<span>18-25</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BKA_26-35">
						<span>26-35</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BKA_36-45">
						<span>36-45</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BKA_46-65">
						<span>46-65</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BKA_65+">
						<span>65歲以上</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BCA">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span id="catName2">貓貓</span>						
					<span>幾歲了呢？</span>
				</div>
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
					<input type="number" id="BCAEnter" onkeypress="enterPress(this.id,event)">
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
					<button id="BCAButton" onclick="addToList(this.id);">></button>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BSP">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span id="catName3">貓貓</span>						
					<span>是什麼品種呢？</span>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<span>無毛貓</span>
					<select id="BSP_nohair" onchange="speciesCheck(this.id);">
						<option value="0"></option>
						<option value="加拿大無毛貓">加拿大無毛貓</option>
					</select>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<span>短毛貓</span>
					<select id="BSP_shorthair" onchange="speciesCheck(this.id);">
						<option value="0"></option>
						<option value="英短">英短</option>
						<option value="美短">美短</option>
						<option value="異短">異短</option>
						<option value="歐短">歐短</option>
						<option value="藍貓">藍貓</option>
						<option value="暹羅">暹羅</option>
						<option value="狸花">狸花</option>
						<option value="埃及貓">埃及貓</option>
						<option value="雪鞋貓">雪鞋貓</option>
						<option value="曼赤肯">曼赤肯</option>
						<option value="新加坡貓">新加坡貓</option>
						<option value="日本短尾">日本短尾</option>
						<option value="蘇格蘭折耳">蘇格蘭折耳</option>
						<option value="阿比西尼亞">阿比西尼亞</option>
						<option value="豹貓/孟加拉貓">豹貓/孟加拉貓</option>
					</select>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<span>長毛貓</span>
					<select id="BSP_longhair" onchange="speciesCheck(this.id);">
						<option value="0"></option>
						<option value="波斯貓">波斯貓</option>
						<option value="布偶貓">布偶貓</option>
						<option value="伯曼貓">伯曼貓</option>
						<option value="緬因貓">緬因貓</option>
						<option value="金吉拉">金吉拉</option>
						<option value="挪威森林">挪威森林</option>
						<option value="西伯利亞">西伯利亞</option>
						<option value="喜馬拉雅">喜馬拉雅</option>
						<option value="索馬利貓">索馬利貓</option>
						<option value="長毛暹羅貓">長毛暹羅貓</option>
						<option value="塞爾凱克捲毛貓">塞爾凱克捲毛貓</option>
					</select>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<button id="BSPButton" onclick="addToList(this.id);">></button>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BNU">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span id="catName3">貓貓</span>						
					<span>是否結紮了呢？</span>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BNU_yes">
						<span>是</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BNU_no">
						<span>否</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BPR">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span id="catName3">貓貓</span>						
					<span>現在有懷孕嗎？</span>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BPR_yes">
						<span>是</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BPR_no">
						<span>否</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BPT">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span id="catName3">貓貓</span>						
					<span>現在有懷孕嗎？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<div class="col-lg-12 col-md-12 col-sm-13 col-xs-12 placeholder" onclick="addToList(this.id);" id="BPT_1to3">
							<span>1~3週</span>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<div class="col-lg-12 col-md-12 col-sm-13 col-xs-12 placeholder" onclick="addToList(this.id);" id="BPT_3to6">
							<span>3~6週</span>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<div class="col-lg-12 col-md-12 col-sm-13 col-xs-12 placeholder" onclick="addToList(this.id);" id="BPT_6up">
							<span>6週以上</span>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<div class="col-lg-12 col-md-12 col-sm-13 col-xs-12 placeholder" onclick="addToList(this.id);" id="BPT_unsure">
							<span>不確定</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BCW">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span id="catName4">貓貓</span>						
					<span>最近一次測量的體重為？</span>
				</div>
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
					<input type="number" id="BCWEnter" onkeypress="enterPress(this.id,event)">
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
					<button id="BCWButton" onclick="addToList(this.id);">></button>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BEF">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>玩樂對貓咪而言就是一個運動的方式，請問</span>
					<span id="catName5">貓貓</span>						
					<span>運動的頻率？</span>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BEF_highFreq">
						<span>高</span>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BEF_medFreq">
						<span>中</span>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BEF_lowFreq">
						<span>低</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BSI">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問</span>
					<span id="catName6">貓貓</span>						
					<span>是室內貓還是室外貓？</span>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BSI_inside">
						<span>室內</span>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BSI_outside">
						<span>室外</span>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);"id="BSI_medside">
						<span>一半一半</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center questionBlock" id="BBC">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問</span>
					<span id="catName7">貓貓</span>						
					<span>的體態長得像下列哪一個？</span>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BBC_tooThin">
						<span>過瘦</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BBC_aLittleThin">
						<span>稍瘦</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BBC_medium">
						<span>適中</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);" id="BBC_aLittleFat">
						<span>稍胖</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder" onclick="addToList(this.id);"  id="BBC_tooFat">
						<span>過胖</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="ARC">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問您來卡卡貓為了...</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<h3>特定需求</h3>
							<h4>貓咪有特殊疾病需要多家照護</h4>
						</div>							
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<h3>日常保健</h3>
							<h4>加強<span id="catName8">貓貓</span>的身體健康</h4>
						</div>							
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<h3>知識了解</h3>
							<h4>想先了解看看是否有能幫上我<span id="catName9">貓貓</span>的地方</h4>
						</div>							
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="ANM">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問</span>
					<span id="catName10">貓貓</span>
					<span>目前是否有在吃處方飼料？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>有</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>沒有</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="AWM">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問是在吃哪一種處方飼料呢？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder">
							<span>不確定</span>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input type="text">
						<button>></button>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="AIC">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>這次想特別</span>
					<span id="LinkBetween16&19">base on 16's answer</span>
					<span>的項目為何呢？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<!--ICON SELECT HERE (CAN MULTI)-->
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 icon" id="AIC_IMMU" onclick="iconClick(this.id)">
						<span>免疫力</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 icon" id="AIC_HEART" onclick="iconClick(this.id)">
						<span>心臟</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 icon" id="AIC_MEHAIR" onclick="iconClick(this.id)">
						<span>化毛</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 icon" id="AIC_LIHAIR" onclick="iconClick(this.id)">
						<span>亮毛</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 icon" id="AIC_LOHAIR" onclick="iconClick(this.id)">
						<span>脫毛</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 icon" id="AIC_SKIN" onclick="iconClick(this.id)">
						<span>皮膚</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 icon" id="AIC_JOINT" onclick="iconClick(this.id)">
						<span>關節</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 icon" id="AIC_BONE" onclick="iconClick(this.id)">
						<span>骨頭</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 icon" id="AIC_ADDWEI" onclick="iconClick(this.id)">
						<span>增重</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 icon" id="AIC_OVERWEI" onclick="iconClick(this.id)">
						<span>過胖</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 icon" id="AIC_STOMA" onclick="iconClick(this.id)">
						<span>腸胃</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 icon" id="AIC_STRESS" onclick="iconClick(this.id)">
						<span>壓力</span>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="AICButton">
					<button>></button>
				</div>
			</div>
			<!--優先考量-->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="AWI">
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="AEM">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問您的email是？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<input type="text">
					<button>></button>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="AFE">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問</span>
					<span id="catName11">貓貓</span>
					<span>目前有沒有感冒？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>有</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>沒有</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="AFF">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問</span>
					<span id="catName11">貓貓</span>
					<span>感冒的頻率？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>幾乎沒有</span>
						</div>						
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>一個月一次</span>
						</div>						
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>一個月一次以上</span>
						</div>						
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="AEI">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>是否有覺得</span>
					<span id="catName11">貓貓</span>
					<span>需要額外的免疫力保健呢？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>需要</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>不需要</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IHE">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問</span>
					<span id="catName11">貓貓</span>
					<span>有無任何心血管病史？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>有</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>無</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IWC">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問</span>
					<span id="catName11">貓貓</span>
					<span>平均一週梳幾次毛？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>幾乎沒有</span>
						</div>						
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>1-2次</span>
						</div>						
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>3次以上</span>
						</div>						
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IDC">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>是否每天梳毛之後，掉毛現象還是很嚴重呢？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>是</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>否</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IHH">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問在幫</span>
					<span id="catName11">貓貓</span>
					<span>梳毛時，毛髮當中有硬塊嗎？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>有</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>沒有</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="ILH">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問在幫</span>
					<span id="catName11">貓貓</span>
					<span>有無脫毛現象？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>有</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>沒有</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="ILP">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問在幫</span>
					<span id="catName11">貓貓</span>
					<span>脫毛的部位為：</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>前段</span>
						</div>						
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>中段</span>
						</div>						
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>後段</span>
						</div>						
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IHS">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問</span>
					<span id="catName11">貓貓</span>
					<span>的毛髮摸起來：</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>乾澀無光澤</span>
						</div>						
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>健康</span>
						</div>						
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>粗糙打結</span>
						</div>						
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IPO">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>貓咪理毛時，毛髮容易進入到貓咪的身體，請問</span>
					<span id="catName11">貓貓</span>
					<span>的排泄物中是否可以看到毛呢？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>是</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>否</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="ICV">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問</span>
					<span id="catName11">貓貓</span>
					<span>近兩個禮拜是否有吐毛呢？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>是</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>否</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="ISR">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問近兩個禮拜</span>
					<span id="catName11">貓貓</span>
					<span>身體皮膚是否有紅腫現象？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>是</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>否</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="INR">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問目前還有皮膚紅腫的情形嗎？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>有</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>沒有</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IBC">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問獸醫師是否有推薦</span>
					<span id="catName11">貓貓</span>
					<span>補充軟骨素或是葡萄糖胺呢？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>是</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>否</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IEB">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>是否有覺得</span>
					<span id="catName11">貓貓</span>
					<span>需要額外的關節保健呢？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>是</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>否</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IEF">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問</span>
					<span id="catName11">貓貓</span>
					<span>是否有平常很好動，突然不喜歡動，活動力下降的現象？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>是</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>否</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IJF">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問</span>
					<span id="catName11">貓貓</span>
					<span>是否有跳躍力變差的現象？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>是</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>否</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IVO">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問近兩個禮拜，</span>
					<span id="catName11">貓貓</span>
					<span>是否有嘔吐或是拉肚子的問題？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>是</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>否</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IVA">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問消化系統問題是偏向？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<div class="placeholder">
							<span>上吐</span>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<div class="placeholder">
							<span>下瀉</span>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<div class="placeholder">
							<span>都有</span>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<div class="placeholder">
							<span>不確定</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IVN">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問目前還有</span>
					<span id="LinkBetween41&42">base on 41's answer</span>
					<span>的情形呢？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>逐漸好轉中</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>目前還有持續</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>不確定</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IBP">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問近兩個禮拜，</span>
					<span id="catName11">貓貓</span>
					<span>是否有發生血便的情形？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>有</span>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="placeholder">
							<span>沒有</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IBP">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問目前還有血便的情形嗎？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>逐漸好轉中</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>目前還有持續</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>不確定</span>
						</div>
					</div>
				</div>
			</div>
			<!--IPR 複選-->
			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="IBP">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span id="catName11">貓貓</span>
					<span>是否有下列問題？</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>口臭</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>過度流口水</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="placeholder">
							<span>無</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="result">
				
			</div>
			<!-- questionnaire up -->
		</div>
	</div>	
</body>
</html>