<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>

	<title>catcatmedHome</title>

	<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
		$(document).ready(function(){
			$("#question1_next").click(function(){
				$("#question1").fadeOut(500,function(){
					$("#question2").fadeIn(500);
				});				
			});
			$("#question2_next").click(function(){
				$("#question2").fadeOut(500,function(){
					$("#question3").fadeIn(500);
				});
			});
			$("#question2_prev").click(function(){
				$("#question2").fadeOut(500,function(){
					$("#question1").fadeIn(500);
				});
			});
			$("#question3_prev").click(function(){
				$("#question3").fadeOut(500,function(){
					$("#question2").fadeIn(500);
				});
			});
		});			
	</script>
</head>
<body>
	<div style="background-color:pink;padding-top:50px;height:150px;">
		<div class="col-lg-12 text-center" id="question1">
			<span>請問你家毛小孩的名字是?</span>
			<form>
				<input type="text" id="catName">
			</form>
			<button id="question1_next">next</button>
		</div>
		<div class="col-lg-12 text-center" id="question2" style="display:none;">
			<span>xxx的性別是?</span>
			<form>
				<select id="catSex">
					<option value="boy">男生</option>
					<option value="girl">女生</option>
				</select>
			</form>
			<button id="question2_prev">prev</button>
			<button id="question2_next">next</button>
		</div>
		<div class="col-lg-12 text-center" id="question3" style="display:none;">
			<span>xxx多大了?</span>
			<form>
				<select id="catAgeYear">
					<option value="0">不滿一年</option>
					<option value="1">一年</option>
					<option value="2">兩年</option>
					<option value="3">三年</option>
					<option value="4">四年</option>
					<option value="5">五年</option>
					<option value="6">六年</option>
					<option value="7">七年</option>
					<option value="8">八年</option>
					<option value="9">九年</option>
					<option value="10">十年</option>
					<option value="11">十一年</option>
					<option value="12">十二年</option>
					<option value="13">十三年</option>
					<option value="14">十四年</option>
					<option value="15">十五年</option>
					<option value="16">十六年</option>
					<option value="17">十七年</option>
					<option value="18">十八年</option>
					<option value="19">十九年</option>
					<option value="20">二十年</option>
				</select>
				又
				<select id="catAgeMonth">
					<option value="0">零個月</option>
					<option value="1">一個月</option>
					<option value="2">二個月</option>					
					<option value="3">三個月</option>					
					<option value="4">四個月</option>					
					<option value="5">五個月</option>					
					<option value="6">六個月</option>					
					<option value="7">七個月</option>					
					<option value="8">八個月</option>					
					<option value="9">九個月</option>					
					<option value="10">十個月</option>					
					<option value="11">十一個月</option>										
				</select>
				大
			</form>
			<button id="question3_prev">prev</button>
			<button id="question3_next">next</button>
		</div>
		<div class="col-lg-12 text-center" id="question4" style="display:none;">
			<span>xxx的體重是? (ex:3.8kg)</span>
			<form>
				<input type="text">
				.
				<input type="text">
			</form>
			<button id="question4_prev">prev</button>
			<button id="question4_next">next</button>
		</div>
		<div class="col-lg-12 text-center" id="question4" style="display:none;">
			<span>xxx的體型是?</span>
			<button>A</button>
			<button>B</button>
			<button>C</button>
			<button>D</button>
			<button>E</button>
			<br>
			<button id="question3_prev">prev</button>
			<button id="question3_prev">prev</button>
		</div>
		<div class="col-lg-12 text-center" id="question4" style="display:none;">
			<span>xxx結紮了嗎?</span>
			<form>
				<select>
					<option>已結紮</option>
					<option>未結紮</option>
				</select>
			</form>
			<button id="question3_prev">prev</button>
			<button id="question3_prev">prev</button>
		</div>
		<div class="col-lg-12 text-center" id="question4" style="display:none;">
			<span>xxx有懷孕嗎?</span>
			<form>
				<select>
					<option>已懷孕</option>
					<option>未懷孕</option>
				</select>
			</form>
			<button id="question3_prev">prev</button>
			<button id="question3_prev">prev</button>
		</div>
		<div class="col-lg-12 text-center" id="question4" style="display:none;">
			<span>xxx是什麼品種呢?</span>
			<form>
				<select>
					<option>米克斯</option>
					<option>不是米克斯</option>
				</select>
			</form>
			<button id="question3_prev">prev</button>
			<button id="question3_prev">prev</button>
		</div>
	</div>	
	<!--加入進度列表-->
</body>
</html>