<!DOCTYPE html>
<html>
<head>
    <!-- Web Page Setting-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <!-- Web Describe -->
    <title>catcatmed| 飲食推薦系統</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129519422-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-129519422-1');
    </script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Common CSS Setting -->
    <style>
        @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
        {
            font-family: 'Noto Sans TC';
        }
        h1{font-family: monospace, Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        h2{font-family: monospace, Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        h3{font-family: monospace, Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        h4{font-family: monospace, Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        h5{font-family: monospace, Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        span{font-family: monospace, Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        p{font-family: monospace, Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        a{font-family: monospace, Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        button{font-family: monospace, Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        th{font-family: monospace, Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        input{font-family: monospace, Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        select{font-family: monospace, Microsoft JhengHei, 'Noto Sans TC' !important;font-weight: bold;}
        /* scroll bar */
        /* width */
        ::-webkit-scrollbar {
            width: 5px;
            border-radius: 100px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
            background: white; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: gray;
            border-radius: 100px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        body{
            overflow-x: hidden;
            margin:0;
            padding:0;
        }
        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
        }

        /* Tooltip text */
        .tooltip .tooltiptext_bottom {
            visibility: hidden;
            min-width: 150%;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            text-align: left;
            padding: 5px 5px;
            border-radius: 6px;
            top: 100%;
            left: 50%;
            margin-left: -50%;
        
            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }
        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext_bottom {
            visibility: visible;
        }
    </style>
</head>
<body>
    <style>
        /* Common */
        .container{
            width:80%;
            margin:0 10%;
        }
        /* navbar */
        .navBar{
            width:100%;
            background-color: #F1F1F2;
            margin:0;
            position: fixed;
            /* navbar height */
            height:6vh;
            box-shadow: 0px 1px 20px rgba(0,0,0,0.1);
            z-index: 10;
        }
        .navBarPadding{
            height:6vh;
        }
        /* basic information */
        .basicInformationBar{
            width:100%;
            background-color: #3D5BA8;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
        }
        .basicInformationInnerBlock{
            width:80%;
            background-color:#F1F1F2;
            border-radius:3px;
            display: inline-block;
            padding: 0;
        }
        .basicInformationInnerBlock p{
            font-size: 1em;
            margin:1px 5px;
        }
        .package{
            border:white 1px solid;
        }
        .package:hover{
            transition: 200ms;
            border:#87A7D6 1px solid;
        }
        .package_select{
            border:#EF5981 1px solid;
        }
    </style>
    <!-- Navigation Bar -->
    <nav>
        <div class="navBar">this is navigation bar</div>
        <div class="navBarPadding"></div>
    </nav>
    <!-- Cat Basic Information Block -->
    <div class="basicInformationBar">
        <div class="container">
            <div style="width:20%;float: left;text-align: center;color:white">
                <h1 style="margin:0">Sally</h1>
            </div>
            <div class="basicInformationInnerBlock">
                <div style="width:25%;float: left;min-height: 20vh;">
                    <div><img src="images/product/element/boy.png" style="width:20%"></div>
                    <p>年齡： <span>6歲3月</span></p>
                    <p>體重： <span>5.5公斤</span></p>
                    <p>品種： <span>波斯貓</span></p>
                    <p>狀態： <span>未結紮</span></p>
                    <p>體態： <span>適中</span></p>
                </div>
                <div style="width:50%;float: left;min-height: 20vh;border-right: 1px solid #3D5BA8;border-left:1px solid #3D5BA8;">
                    <p>根據您所選取的項目</p>
                    <!-- 重視程度block(後兩個要加左方的border) -->
                    <div style="width:33%;float: left;margin-bottom:1vh;" class="tooltip">
                        <span class="tooltiptext_bottom">慢性口腔炎/牙齦炎<br>123</span>
                        <div style="width:100%;display:flex;
                        align-items:center;
                        justify-content:center;">
                            <img src="images/product/element/icons/joint.png" style="width:40%;float: left;position: relative;margin:0 10%;">
                            <p style="width:40%;margin:0;display: inline-block;display:flex;
                            align-items:center;
                            justify-content:center;color:#3D5BA8;">關節</p>
                        </div>
                        <br style="clear:both;">
                        <div style="width:100%;">
                            <img src="images/product/element/meter_high.png" style="width:60%;margin: 0 20%;">
                        </div>
                        <div style="width:100%;text-align: center;">
                            <p style="font-size:0.7em;color:#3D5BA8;">建議重視程度</p>
                        </div>
                    </div>
                </div>
                <div style="width:23%;float: left;min-height: 20vh;margin-left:1%;" class="tooltip">
                    <span class="tooltiptext_bottom">根據AAFCO及研究數據演算，您貓咪的最適合主要營養攝取為此區間內，得以達成長期保健之目的。</span>
                    <p>最適營養攝取區間</p>
                    <br>
                    <!-- progress bar -->
                    <h5 style="margin:0;font-weight:normal !important;">蛋白質</h5>
                    <div style="width:100%;background-color:#F1F1F2;">
                        <div style="text-align: center;line-height: 1.8vh;color:white;width:7%;height:1.8vh;background-color:#C1CEE1;float: left;"></div>
                        <div style="text-align: center;line-height: 1.8vh;color:white;width:35%;height:1.8vh;background-color:#3D5BA8;float: left;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">7-42%</p></div>
                        <div style="text-align: center;line-height: 1.8vh;color:white;width:58%;height:1.8vh;background-color:#C1CEE1;float: left;"></div>
                        <div style="clear:both;"></div>
                    </div>
                    <br>
                    <h5 style="margin:0;font-weight:normal !important;">脂質</h5>
                    <div style="width:90%;background-color:#F1F1F2;">
                        <div style="text-align: center;line-height: 1.8vh;color:white;width:35%;height:1.8vh;background-color:#C1CEE1;"></div>
                    </div>
                    <br>
                    <h5 style="margin:0;font-weight:normal !important;">纖維素</h5>
                    <div style="width:90%;background-color:#F1F1F2;">
                        <div style="text-align: center;line-height: 1.8vh;color:white;width:35%;height:1.8vh;background-color:#C1CEE1;"></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- Information Here -->
    <div>
        <div class="container" style="padding: 2vh 0;">
            <!-- 篩選 -->
            <div style="width:30%;float: left;">
                <div style="width:98%;margin:0 1%;background-color:#87A7D6;text-align: center;color: white;padding: 1vh 0;border: gray 1px solid;border-bottom: none;box-shadow: 0 0 20px rgba(0,0,0,0.15);">
                    <h4 style="margin:0;">篩選條件</h4>
                </div>
                <div style="width:98%;margin:0 1%;border: 1px solid gray;border-top:none;">
                    <!-- 包裝 -->
                    <div style="display:flex;
                    align-items:center;
                    ">
                        <img src="images/product/element/box_size.png" style="width:15%;float: left;margin-left:25%;">
                        <p style="color:gray;font-size: 1.3em;"> 包裝大小 </p>
                    </div>
                    <div>
                        <img src="images/product/element/bag1.png" style="width:12%;cursor: pointer;margin-left:1%;" class="package_select" id="package_xs" onclick="ChangePackageSizeByPic(this.id)">
                        <img src="images/product/element/bag2.png" style="width:15%;cursor: pointer;" class="package" id="package_s" onclick="ChangePackageSizeByPic(this.id)">
                        <img src="images/product/element/bag3.png" style="width:18%;cursor: pointer;" class="package" id="package_m" onclick="ChangePackageSizeByPic(this.id)">
                        <img src="images/product/element/bag4.png" style="width:20%;cursor: pointer;" class="package" id="package_l" onclick="ChangePackageSizeByPic(this.id)">
                        <img src="images/product/element/bag5.png" style="width:21%;cursor: pointer;" class="package" id="package_xl" onclick="ChangePackageSizeByPic(this.id)">
                    </div>
                    <div style="text-align:center;">
                        <select style="width:90%;margin:0 5%;" id="packageSize" onchange="ChangePackageSizeBySel()">
                            <option value="xs">1-1.8公斤</option>
                            <option value="s">1.8-3公斤</option>
                            <option value="m">3-6公斤</option>
                            <option value="l">6-10公斤</option>
                            <option value="xl">10+公斤</option>
                        </select>
                    </div>
                    <hr>
                    <!-- 價格區間 -->
                    <div style="display:flex;
                    align-items:center;
                    ">
                        <img src="images/product/element/price_range.png" style="width:15%;float: left;margin-left:25%;">
                        <p style="color:gray;font-size: 1.3em;"> 價格分佈 </p>
                    </div>
                    <div style="text-align:center;">
                        <select style="width:90%;margin:0 5%;" id="priceSelector">
                            <option value="A">每公斤 200-300元</option>
                            <option value="B">每公斤 300-500元</option>
                            <option value="C">每公斤 500-650元</option>
                            <option value="D">每公斤 650-800元</option>
                            <option value="E">每公斤 800+元</option>
                        </select>
                    </div>
                    <hr>
                    <!-- or無穀 -->
                    <div style="display:flex;
                    align-items:center;
                    ">
                        <img src="images/product/element/grain.png" style="width:15%;float: left;margin-left:25%;">
                        <p style="color:gray;font-size: 1.3em;"> 穀類成分 </p>
                    </div>
                    <div style="text-align:left;width:90%;margin-left:5%;">
                        <label class="">
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                            <span>有穀飼料</span>
                        </label>
                        <br>
                        <label class="">
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                            <span>無穀飼料</span>
                            <span style="font-size:0.7em;color:gray;">飼料<span>不會</span>包含小麥、玉米...等成分</span>
                        </label>
                        <br>
                        <label class="">
                            <input type="radio" checked="checked" name="radio">
                            <span class="checkmark"></span>
                            <span>兩種皆顯示</span>
                        </label>
                    </div>
                    <hr>
                    <!-- 進階篩選 -->
                    <div style="display:flex;
                    align-items:center;
                    ">
                        <img src="images/product/element/advance.png" style="width:15%;float: left;margin-left:20%;">
                        <p style="color:gray;font-size: 1.3em;"> 蛋白質與代謝能 </p>
                    </div>
                    <div style="text-align:left;width:90%;margin-left:5%;">
                        <p style="color:gray;font-size:0.7em;">您可以進一步將飼料做更嚴謹的篩選，但是由於條件稍為嚴格，飼料的種類可能會非常稀少！</p>
                        <label class="">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <span>AAFCO蛋白質篩選</span>
                        </label>
                        <br>
                        <label class="">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <span>NRC代謝能篩選</span>
                        </label>
                        <div style="height:1vh;"></div>
                    </div>
                </div>
            </div>

            <!-- 飼料資訊 -->
            <div style="width:70%;float: left;position: relative;">
                <!-- 排序 -->
                <div style="width:25%;margin-left:75%;position: relative;">
                    <select style="width:100%;position:relative;">
                        <option>最適合程度</option>
                        <option>評價由高到低</option>
                        <option>價格由高到低</option>
                        <option>價格由低到高</option>
                    </select>
                </div>
                <!-- 飼料 -->
                <div id="CatFood">
                    <div style="width:98%;margin:1vh 0;margin-left:2%;background-color:white;box-shadow: 0 0 5px rgba(0,0,0,0.2);padding: 1vh 0;">
                        <div style="width:25%;float: left;">
                            <img src="images/product/product/0003.png" style="width:96%;margin:0 2%;">
                            <div style="display:flex;align-items:center;justify-content:center;">
                                <h5 style="margin:1vh 0;font-family:Impact !important">飼主評價：3.8</h5>
                            </div>
                            <div style="display:flex;align-items:center;justify-content:center;">
                                <i class="fas fa-star" style="color:#EF5981;"></i>
                                <i class="fas fa-star" style="color:#EF5981;"></i>
                                <i class="fas fa-star" style="color:#EF5981;"></i>
                                <i class="fas fa-star-half-alt" style="color:#EF5981;"></i>
                                <i class="far fa-star" style="color:#EF5981;"></i>
                            </div>
                        </div>
                        <div style="width:75%;float: left;">
                            <h3 style="margin:0;">紐崔崔 火雞凍乾好好吃飼料</h3>
                            <img src="images/product/element/flags/AUS.png" style="width:10%;">
                            <br>
                            <div style="width:66%;border-right: 1px #D0D2D3 solid;float: left;">
                                <img src="images/product/element/icons_select/hair.png" style="width:15%;">
                                <img src="images/product/element/icons_select/hair.png" style="width:15%;">
                                <img src="images/product/element/icons_select/hair.png" style="width:15%;">
                                <img src="images/product/element/icons_select/hair.png" style="width:15%;">
                                <img src="images/product/element/icons_select/hair.png" style="width:15%;">
                                <img src="images/product/element/icons_select/hair.png" style="width:15%;">
                                <br>
                                <br>
                                <div>
                                    <!-- progress bar -->
                                    <h5 style="margin:0;font-weight:normal !important;">蛋白質</h5>
                                    <div style="width:90%;background-color:#F1F1F2;border-radius: 20px;">
                                        <div style="text-align: center;line-height: 1.8vh;color:white;width:35%;height:1.8vh;background-color:#C1CEE1;border-radius: 20px;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">35%</p></div>
                                    </div>
                                    <br>
                                    <h5 style="margin:0;font-weight:normal !important;">脂質</h5>
                                    <div style="width:90%;background-color:#F1F1F2;border-radius: 20px;">
                                        <div style="text-align: center;line-height: 1.8vh;color:white;width:35%;height:1.8vh;background-color:#C1CEE1;border-radius: 20px;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">35%</p></div>
                                    </div>
                                    <br>
                                    <h5 style="margin:0;font-weight:normal !important;">纖維素</h5>
                                    <div style="width:90%;background-color:#F1F1F2;border-radius: 20px;">
                                        <div style="text-align: center;line-height: 1.8vh;color:white;width:35%;height:1.8vh;background-color:#C1CEE1;border-radius: 20px;"><p style="margin:0;font-weight:normal !important;font-size: 1.5vh">35%</p></div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div style="width:33%;float: left;">
                                <h5 style="margin:0 5%;text-align: center;">最適每日飲食量</h5>
                                <div style="width:100%;display:flex;
                                align-items:center;
                                justify-content:center;">
                                    <img src="images/product/element/Minus_icon.png" style="width:15%;cursor: pointer;">
                                    <p style="width:40%;margin:0;text-align: center;"><span>40</span>g</p>
                                    <img src="images/product/element/Plus_icon.png" style="width:15%;cursor: pointer;">
                                </div>
                                <br>
                                <div style="width:100%;display:flex;
                                align-items:center;
                                justify-content:center;">
                                    <img src="images/product/element/KG.png" style="width:15%;">
                                    <p style="width:40%;margin:0;text-align: center"><span>1.5</span>KG</p>
                                    <div style="width:15%;text-align: center;" title="此包飼料公斤數"><i class="far fa-question-circle"></i></div>
                                </div>
                                <div style="width:100%;display:flex;
                                align-items:center;
                                justify-content:center;">
                                    <img src="images/product/element/date.png" style="width:15%;">
                                    <p style="width:40%;margin:0;text-align: center"><span>31</span>天</p>
                                    <div style="width:15%;text-align: center;" title="推測可食用天數"><i class="far fa-question-circle"></i></div>
                                </div>
                                <br>
                                <h5 style="margin:0 5%;text-align: center;">前往商城</h5>
                                <div style="width:90%;margin:0 5%;background-color:#EF5981;border-top-left-radius: 5px;border-top-right-radius: 5px;border:1px solid #EF5981;display:flex;
                                align-items:center;
                                justify-content:center;">
                                    <img src="images/product/element/price_range.png" style="width:15%;">
                                    <p style="margin:0;">$1233</p>
                                </div>
                                <div  style="width:90%;margin:0 5%;border:1px solid #EF5981;padding:1vh 0;">
                                    <div style="display:flex;align-items:center;justify-content:center;">
                                        <img src="images/product/element/market/pchome.png" style="width:30%;">
                                        <a href="#" style="width:50%;text-align:center;">$1233</i></a>
                                        <a style="width:10%;text-align:left;"><i class="fas fa-angle-right"></i></a>
                                    </div>
                                    <div style="display:flex;align-items:center;justify-content:center;">
                                        <img src="images/product/element/market/力奇.png" style="width:30%;">
                                        <a href="#" style="width:50%;text-align:center;">$1333</a>
                                        <a style="width:10%;text-align:left;"><i class="fas fa-angle-right"></i></a>
                                    </div>
                                    <div style="display:flex;align-items:center;justify-content:center;">
                                        <img src="images/product/element/market/愛寵.png" style="width:30%;">
                                        <a href="#" style="width:50%;text-align:center;">$1433</a>
                                        <a style="width:10%;text-align:left;"><i class="fas fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</body>
</html>
<script>
    var packageSize = 'xs';
    // Change Package Size
    function ChangePackageSizeByPic(id){
        id = id.split("_");
        if(id[1]==packageSize){} // do nothing
        else{
            $('#package_'+packageSize).toggleClass("package_select package");
            packageSize = id[1];
            $('#package_'+packageSize).toggleClass("package_select package");
            $('#packageSize').val(packageSize);
            // go to change price tag, refresh selector and redraw products
            ChangePriceSelector();
        }
    }
    function ChangePackageSizeBySel(){
        id = $('#packageSize').val()
        if(id[1]==packageSize){} // do nothing
        else{
            $('#package_'+packageSize).toggleClass("package_select package");
            packageSize = id;
            $('#package_'+packageSize).toggleClass("package_select package");
            // go to change price tag, refresh selector and redraw products with initial value
            ChangePriceSelector();
        }
    }
    function ChangePriceSelector(){
        var innerHTML = '';
        if(packageSize=='xs'){
            innerHTML += '<option value="A">每公斤 200-300元</option>';
            innerHTML += '<option value="B">每公斤 300-500元</option>';
            innerHTML += '<option value="C">每公斤 500-650元</option>';
            innerHTML += '<option value="D">每公斤 650-800元</option>';
            innerHTML += '<option value="E">每公斤 800+元</option>';
        }
        if(packageSize=='s'){
            innerHTML += '<option value="A">每公斤 200-300元</option>';
            innerHTML += '<option value="B">每公斤 300-450元</option>';
            innerHTML += '<option value="C">每公斤 450-600元</option>';
            innerHTML += '<option value="D">每公斤 600-750元</option>';
            innerHTML += '<option value="E">每公斤 750+元</option>';
        }
        if(packageSize=='m'){
            innerHTML += '<option value="A">每公斤 200-300元</option>';
            innerHTML += '<option value="B">每公斤 300-400元</option>';
            innerHTML += '<option value="C">每公斤 400-500元</option>';
            innerHTML += '<option value="D">每公斤 500-600元</option>';
            innerHTML += '<option value="E">每公斤 600+元</option>';
        }
        if(packageSize=='l'){
            innerHTML += '<option value="A">每公斤 100-200元</option>';
            innerHTML += '<option value="B">每公斤 200-300元</option>';
            innerHTML += '<option value="C">每公斤 300-400元</option>';
            innerHTML += '<option value="D">每公斤 400-500元</option>';
            innerHTML += '<option value="E">每公斤 500+元</option>';
        }
        if(packageSize=='xl'){
            innerHTML += '<option value="A">每公斤 100-150元</option>';
            innerHTML += '<option value="B">每公斤 150-200元</option>';
            innerHTML += '<option value="C">每公斤 200-250元</option>';
            innerHTML += '<option value="D">每公斤 250+元</option>';
        }
        document.getElementById('priceSelector').innerHTML = innerHTML;
    }

</script>