<!DOCTYPE html>
<html>
<head>
    <title>catcatmed| 寵物營養資訊推薦</title>
    <% include partials/head_layer2 %>
</head>
<body>
    <style>
        #navigationBar{
            background-color: #F1F1F2;
            box-shadow: 0px 1px 20px rgba(0,0,0,0.5);
        }
        .priceTag{
            margin-top: 2vh;
            width: 100%;
            height: 15vh;
            background-color: #F1F1F2;
            position: relative;
        }
        .priceTag p{
            font-size: 5vh;
            text-align: center;
            position: relative;
            top: 3.5vh;
        }
        .priceTag span{
            font-size: 3vh;
            position: absolute;
            right: 20%;
            bottom: 0.5vh;
            font-weight: normal !important;
        }
        .priceTagChild{
            height: 5vh;
            text-align: center;
            background-color: #EF5981;
            color: black;
            margin-bottom: 2vh;
            display:flex;
            align-items:center;
            justify-content:center;
        }
        .price{
            cursor: pointer;
            box-shadow: -5px 5px 15px rgba(0,0,0,0.5);
        }
        .price:hover .priceTag{
            background-color: #D0D2D3;
            transition: 400ms;
        }
        .food{
            margin: 2vh 0;
            padding: 2vh 0;
            background-color: #F1F1F2;
            box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        }
        .food h4{
            font-weight: normal !important;
        }
        .cusmomizeGram{
            display:flex;
            align-items:center;
            justify-content:center;
        }
        .square{
            overflow:hidden;
            width:100%;
            background-color: #3D5BA8;
        }
        .square:after{
            content:"";
            margin-top:100%;
            display:block;
            height: 0;
        }
        .square span{
            color: white;
            position: absolute;
            width: 100%;
            text-align: center;
            right: 0;
            top:50%;
            transform:translateY(-50%);
        }
    </style>
    <header class="row">
        <% include partials/nav_layer2 %>
    </header>
    <div style="height:10vh"></div>
    <body>
        <div style="height: 25vh;background-color: #3D5BA8;box-shadow: 0px 1px 20px rgba(0,0,0,0.5);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 text-center">
                        <h2 style="margin: 2vh 0;color:#F1F1F2">Sally</h2>
                    </div>
                    <div class="col-lg-10 col-md-10">
                        <div style="height: 21vh;margin: 2vh 0;background-color: #F1F1F2;border-radius: 10px;" id="catInfo" class="row">
                            <div class="col-lg-2 col-md-2">
                                img here
                                <br>
                                年齡：6歲5月
                                <br>
                                品種：米克斯
                                <br>
                                體重：3.6kg
                                <br>
                                BCS： 4
                            </div>
                            <div class="col-lg-6 col-md-6" style="border-right: #3D5BA8 1px solid;border-left: #3D5BA8 1px solid;">
                                根據您所選取的項目
                            </div>
                            <div class="col-lg-4 col-md-4">
                                最適營養攝取百分比
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--food Information here-->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="price">
                        <div class="priceTag"><p>$200-$300</p><span>/KG</span></div>
                        <div class="priceTagChild"><span>查看更多</span></div>
                    </div>
                    <div class="price">
                        <div class="priceTag"><p>$300-$400</p><span>/KG</span></div>
                        <div class="priceTagChild"><span>查看更多</span></div>
                    </div>
                    <div class="price">
                        <div class="priceTag"><p>$400-$500</p><span>/KG</span></div>
                        <div class="priceTagChild"><span>查看更多</span></div>
                    </div>
                    <div class="price">
                        <div class="priceTag"><p>$500-$600</p><span>/KG</span></div>
                        <div class="priceTagChild"><span>查看更多</span></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="food row">
                        <div class="col-lg-3 col-md-3 text-center">
                            product img here
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <h4>NUTRIENCE 紐崔斯天然糧</h4>
                            <h5>國旗</h5>
                            <span>icon1</span>
                            <span>icon1</span>
                            <span>icon1</span>
                            <span>icon1</span>
                            <div class="row">
                                <div class="col-lg-7 col-md-7">
                                    <br>
                                    The Progress Bar
                                </div>
                                <div class="col-lg-5 col-md-5 text-center">
                                    <span>最適每日飲食量</span>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 text-center cusmomizeGram"><div class="square"><span>-</span></div></div>
                                        <div class="col-lg-4 col-md-4 text-center cusmomizeGram">52<span style="font-weight: normal">g</span></div>
                                        <div class="col-lg-4 col-md-4 text-center cusmomizeGram"><div class="square"><span>+</span></div></div>
                                    </div>
                                    <p style="margin: 0">2.27 kg</p>
                                    <p style="margin: 0">34 days</p>
                                    <p style="color: #D0D2D3;margin: 0">賣場A $1599</p>
                                    <p style="color: #D0D2D3;margin: 0">賣場B $1699</p>
                                    <p style="color: #EF5981;margin: 0">賣場C $1299</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <% include partials/footer_layer2 %>
    </footer>
</body>
</html>
<script>

</script>