<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>

	<title>catcatmed</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
		var catName;
		//
		function enterPress(id,event){
			var x = event.which || event.keyCode;
			var y = id.slice(0,11) + "Button";
			if(x==13)  document.getElementById(y).click();
		}
		function setCatName(){
			catName = $("#questionA02Enter").val();
			for(i=1;i<10;i++){
				str = "catName" + i;
				document.getElementById(str).innerHTML = catName;
			}
		}
	</script>
</head>
<body>
	<style>
		.navBlock{
			cursor: pointer;
			transition: 300ms;
		}
		.navBlock:hover{
			background-color: #EEEEEE;
		}
		.navLink{
			padding-top : 20px;
			padding-bottom : 20px;
			font-family: Microsoft JhengHei;
			font-size: 16px;
			font-weight: bold;
			text-align: center;
		}
		input{
			outline: none;
			width: 100%;
			padding: 0px;
			text-align: center;
		}
		span{
			font-size: 20px;
		}
		.placeholder {
		  width: 100%;
		  overflow: hidden;
		  background-color: pink;
		  border: solid 2px black;
		  padding: 0px;
		  cursor: pointer;
		}
	</style>
	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		<nav class="col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 col-sm-4 col-sm-offset-8 col-xs-4 col-xs-offset-8">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navBlock">
				<p onClick="location.href='/'" class="navLink">儲存並回首頁</p>
			</div>
		</nav>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<!-- questionnaire here -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="questionA01">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<span>請問您的名字</span>
				</div>
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
					<input type="text" id="questionA01Enter" onkeypress="enterPress(this.id,event)">
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
					<button id="questionA01Button" onclick="javascript:alert('Hello World!')">></button>
				</div>
			</div>		
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="questionA02">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問貓貓的名字</span>
				</div>
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center">
					<input type="text" id="questionA02Enter" onkeypress="enterPress(this.id,event)">
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
					<button id="questionA02Button" onclick="setCatName();">></button>
				</div>	
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="questionA03">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>請問你是媽媽還是爸爸？</span>
				</div>				
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder">
						<span>媽媽</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder">
						<span>爸爸</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="questionA04">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span id="catName1">貓貓</span>						
					<span>是男生還是女生呢？</span>
				</div>				
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder">
						<span>男生</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder">
						<span>女生</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="questionA04">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">					
					<span>請問您幾歲？</span>
				</div>				
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder">
						<span>18以下</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder">
						<span>18-25</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder">
						<span>26-35</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder">
						<span>36-45</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder">
						<span>46-65</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeholder">
						<span>65歲以上</span>
					</div>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>