<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>

	<title>catcatmedLogin</title>

	<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
	<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <script src="javascript/jquery/jquery_v-3-3-1.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>

	<!-- AJAX -->
	<script type="text/javascript">
		function showErrMsg(errMsg){
			if(errMsg=="errAccountIsntExist") alert("此帳號不存在！");
			if(errMsg=="errInput") alert("帳號或密碼錯誤！");
			if(errMsg=="errWrongPassword") alert("密碼錯誤！");
		}
	</script>
	<style>
		@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
		{
			font-family: 'Noto Sans TC';
		}
        .bt{
            background-color: white;
            border: #3D5BA8 2px solid;
            border-radius: 15px;
            color: #3D5BA8;
            margin-top: 8px;
            transition: 300ms;
        }
        .bt:hover{
            background-color: #3D5BA8;
            color: white;
            transition: 300ms;
        }
	</style>
</head>
<body class="container">
	<nav>
		<div class="col-lg-3 col-lg-offset-9 col-md-4 col-md-offset-8">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 navBlock">
				<p onClick="location.href=''" class="navLink">聯絡我們</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 navBlock">
				<p onClick="location.href='/'"class="navLink">回首頁</p>
			</div>
		</div>		
	</nav>
	<div>
		<div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <img src="images/login/LOGO.png">			
                </div>
            </div>
            <h5>請輸入當初填寫問卷時所填入的資訊！</h5>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 loginBlock">
				
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>您的姓名(請填寫完整中文姓名)</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    <input autocomplete="off" type="text" name="keepername" id="keepername">
                </div>					
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>貓咪的名字</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    <input autocomplete="off" type="text" name="catname" id="catname">
                </div>					
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 bt" onclick="Send()">提交</button>
                </div>			
								
			</div>
		</div>
	</div>
</body>
</html>
<script>
    function UnfunctionalPart(){
        alert('這部分功能尚未開放，敬請期待！');
    }
    function Send(){
        $.ajax({
            method: 'POST',
            url: 'repeatusername',
            data:{
                keepername: $('#keepername').val(),
                catname: $('#catname').val()
            }
        }).done(function(data){
            if(data=='error'){
                alert('很抱歉，卡卡貓無法查詢到您訂購的資訊\n有可能是資訊不吻合，建議您私訊卡卡貓為您處理！');
                window.location.href = '/repeatusername';
            }else{
                alert('登入成功！');
                window.location.href = '/usercenter';
            }
        });
    }
</script>