<!--PRODUCT PART-->
<div class="def_container" style="position: relative;display:none;" id="product05">
    <div style="width:96%;margin-left:2%;margin-right:2%;box-shadow:0px 1px 20px rgba(0, 0, 0, 0.1);border-radius: 15px;">
        <div style="width:100%;background-color:white;margin-top:1vh;border-top-left-radius:15px;border-top-right-radius:15px;">
            <div style="width:45%;float:left;display:flex;align-items:center;justify-content:center;" id="product05_productImg">
                <img src="images/product/product/0003.png" style="width:100%;background-color:#F6E3D6;border-top-left-radius:15px;border-top-right-radius:15px;">
            </div>
            <div style="width:55%;float:left;">
                <p style="font-style:italic;margin:1px 0;" id="product05_brand">Gather 卡樂</p>
                <p style="font-weight:bold;margin:1px 0;" id="product05_name">牧野鮮雞</p>
                <div style="display:flex;" id="product05_scoreCommand">
                    <i class="fas fa-star" style="color:#FED144;"></i>
                    <i class="fas fa-star" style="color:#FED144;"></i>
                    <i class="fas fa-star" style="color:#FED144;"></i>
                    <i class="fas fa-star-half-alt" style="color:#FED144;"></i>
                    <i class="far fa-star" style="color:#FED144;"></i>
                </div>
                <div id="product05_icon">
                    <div style="float:left;font-size:0.7em;margin-top:5px;margin-right:5px;background-color:#F6E3D6;padding:5px 10px;border-radius:15px;">
                        <span><i class="fas fa-check" style="color:green;margin-right:5px;"></i>化毛</span>
                    </div>
                    <div style="float:left;font-size:0.7em;margin-top:5px;margin-right:5px;background-color:#F6E3D6;padding:5px 10px;border-radius:15px;">
                        <span>口腔保健</span>
                    </div>
                    <div style="float:left;font-size:0.7em;margin-top:5px;margin-right:5px;background-color:#F6E3D6;padding:5px 10px;border-radius:15px;">
                        <span>免疫力</span>
                    </div>
                    <div style="float:left;font-size:0.7em;margin-top:5px;margin-right:5px;background-color:#F6E3D6;padding:5px 10px;border-radius:15px;">
                        <span>心臟保健</span>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <p style="float:right;margin-right:2px;" id="product05_eatday">食用天數63天</p>
                <div style="clear:both;"></div>
                <div style="float:right;margin-right:2px;margin-bottom:2px;padding:5px 10px;background-color:#EF5981;color:white;">
                    <h4 style="margin:0;" id="product05_price">NT 1200</h4>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <hr style="margin:0;">
        <div id="product05_Collapse" class="collapse" style="width:90%;margin: 1vh 5%;">
            <!--protein progressbar-->
            <div style="width:20%;text-align:right;font-size:0.8em;float: left;">
                <span>蛋白質</span>
            </div>
            <div style="width:60%;text-align:right;font-size:0.8em;float: left;">
                <div style="width:90%;background-color:#F1F1F2;border-radius: 20px;margin:5px 5%;">
                    <div style="width:35%;height:0.8em;background-color:#C1CEE1;border-radius: 20px;"></div>
                </div>
            </div>
            <div style="width:20%;text-align:left;font-size:0.8em;float: left;">
                <span>32%</span>
            </div>
            <div style="clear:both;"></div>
            <!--fat progressbar-->
            <div style="width:20%;text-align:right;font-size:0.8em;float: left;">
                <span>脂質</span>
            </div>
            <div style="width:60%;text-align:right;font-size:0.8em;float: left;">
                <div style="width:90%;background-color:#F1F1F2;border-radius: 20px;margin:5px 5%;">
                    <div style="width:5%;height:0.8em;background-color:#C1CEE1;border-radius: 20px;"></div>
                </div>
            </div>
            <div style="width:20%;text-align:left;font-size:0.8em;float: left;">
                <span>5%</span>
            </div>
            <div style="clear:both;"></div>
            <!--fiber progressbar-->
            <div style="width:20%;text-align:right;font-size:0.8em;float: left;">
                <span>纖維素</span>
            </div>
            <div style="width:60%;text-align:right;font-size:0.8em;float: left;">
                <div style="width:90%;background-color:#F1F1F2;border-radius: 20px;margin:5px 5%;">
                    <div style="width:10%;height:0.8em;background-color:#C1CEE1;border-radius: 20px;"></div>
                </div>
            </div>
            <div style="width:20%;text-align:left;font-size:0.8em;float: left;">
                <span>10%</span>
            </div>
            <div style="clear:both;"></div>
            <p style="font-size:0.7em;">成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分成分</p>
        </div>
        <div style="width:100%;background-color:#D0D2D3;text-align:center;margin-bottom:1vh;border-bottom-left-radius: 15px;border-bottom-right-radius:15px;" data-toggle="collapse" data-target="#product05_Collapse">
            <p style="margin:0;font-size:0.8em;padding:5px 0;">查看詳細標示</p>
        </div>
        <div id="product05_flag">
            <img src="images/product/element/flags/美國.png" class="rounded" style="width:10%;position:absolute;right:20px;top:10px;">
        </div>
    </div>
</div>