@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
{
	font-family: 'Noto Sans TC';
}
h1{font-family: monospace, 'Noto Sans TC' !important;}
h2{font-family: monospace, 'Noto Sans TC' !important;}
h3{font-family: monospace, 'Noto Sans TC' !important;}
h4{font-family: monospace, 'Noto Sans TC' !important;}
h5{font-family: monospace, 'Noto Sans TC' !important;}
span{font-family: monospace, 'Noto Sans TC' !important;}
p{font-family: monospace, 'Noto Sans TC' !important;}
a{font-family: monospace, 'Noto Sans TC' !important;}
button{font-family: monospace, 'Noto Sans TC' !important;}
/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
	border-radius: 100px;
}
/* Track */
::-webkit-scrollbar-track {
    background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
	border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* NAV */
.navLogo{
	position: absolute;
	top: 0;
	width: 10%;
	left: 45%;
}
.nav{
	font-family: 'Noto Sans TC';
}
.navButton{
	background-color: white;
	font-size: 10px;
	padding: 5px 20px;
	border-radius: 20px;
}
.body{
	margin-top: 10vh;
}