.navLogo{
	position: absolute;
	top: 0;
	width: 10%;
	left: 45%;
}
.nav{
	font-family: 'Noto Sans TC';
}
.navButton{
	background-color: white;
	font-size: 10px;
	padding: 5px 20px;
	border-radius: 20px;
}