.librarySelector{
	background-color: #F1F1F2;
	border-radius: 10px;
}
.librarySelector_title{
	background-color: #F1F1F2;
	margin: 15px 0;
	font-size: 18px;
	font-weight: bold;
}
.librarySelector_item{
	margin: 10px 0;
	cursor: pointer;
	padding: 5px 15px;
	border-radius: 8px;
	transition: 500ms;
}
.librarySelector_item:hover{
	background-color: gray;
	color: white;
	transition: 500ms;
	padding-left: 40px;
}
.librarySelector_item_EN{
	color: #F1F1F2;
	padding-left: 10px;
}
.librarySelector_item:hover .librarySelector_item_EN{
	color: white;
}
.librarySelector_item_selected{
	padding-left: 40px !important;
	background-color: black  !important;
	transition: 500ms;
	color: white;
}
.libraryInformation{
	padding-left: 100px !important;
}