body {
	-moz-user-select:none; 
	-webkit-user-select: none;
}
p{
	font-family : 'Noto Sans TC',Microsoft JhengHei;
}
.body{
	/*overflow: hidden;*/
}
@media only screen and (max-width: 992px){
	.smSize{
		padding: 0;
	}
}
@media only screen and (max-width: 768px){
	.xsSize{
		padding: 0;
	}
}
button{
	margin: 10px 0;
}
/* USE FOR PADDING BLOCKS */ 
.paddingBlock{
	overflow:hidden;
	width:100%;
}
.paddingBlock:after{
	content:"";
	margin-top:10%;
	display:block;
}
.paddingBotBlock{
	overflow:hidden;
	width:100%;
}
.paddingBotBlock:after{
	content:"";
	margin-top:5%;
	display:block;
}
/* LINK BUTTON */
navBlock{
	cursor: pointer;
	transition: 500ms;
}
.navBlock:hover{
	background-color: #EEEEEE;
	transition: 500ms;
}
.navLink{
	padding-top : 20px;
	padding-bottom : 20px;
	font-family: 'Noto Sans TC',Microsoft JhengHei;
	font-size: 16px;
	text-align: center;
}
.backBlock{
	border-radius: 4px;
	border: none;
	color: #3D5BA8;
	background-color: #F1F1F2;
	text-align: center;
	padding: 10px;
	transition: 500ms;
	cursor: pointer;
}
.backBlock:hover{
	padding-right: 25px;
}
/* QUESTION PART */
.questionBlock{
	display: none;
	position: relative;
}
.questionnaireInner{
	width:100%;
	position: relative;
}
.elementInVisable{
	display: none !important;
}
.animationInvisable{
	display: none;
}
/*  */
input[type=text]{
	width: 100%;
	outline-color: #3D5BA8;
	padding: 10px;
	background-color: #F1F1F2;
	text-align: center;
	font-family: 'Noto Sans TC',Microsoft JhengHei;
	display: inline-block;
	border: 0px;
	margin: 10px 0;
}
input[type=number]{
	width: 100%;
	outline-color: #3D5BA8;
	padding: 10px;
	background-color: #F1F1F2;
	text-align: center;
	font-size: 1.1em;
	font-family: 'Noto Sans TC',Microsoft JhengHei;
	display: inline-block;
	border: 0px;
}
button{
	background-color: #F1F1F2;
	outline: none;
	transition: 200ms;
	border: none;
	border-radius: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	font-family: 'Noto Sans TC',Microsoft JhengHei;
	font-size: 15px;
	color: #3D5BA8;
}
button:hover{
	background-color: #3D5BA8;
	color: #F1F1F2;
	transition: 200ms;
}
.speciesButton{
	margin: 5px;
}
/*font block*/
span{
	font-size: 1.3em;
	font-family: 'Noto Sans TC',Microsoft JhengHei;
}
.smallSpan{
	font-size: 1.1em;
}
.question{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.6em !important;
	font-weight: bold;
	font-family: 'Noto Sans TC',Microsoft JhengHei;
}
/*color block*/
.AIC_IMG{
	cursor: pointer;
	border-radius: 15px;
}
.AIC_IMG:hover{
	background-color: #DDDDDD;
}
.answer {
	width: 100%;
	transition: 200ms;
	overflow: hidden;
	background-color: #F1F1F2;
	color: #3D5BA8 !important;
	border: none;
	border-radius: 999em;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}
.answer:after{
	content:"";
	margin-top: 100%;
	display: block;
}
.answer:hover{
	background-color: #3D5BA8;
	color: #F1F1F2 !important;
	transition: 200ms;
}
.answer .options{
	position: absolute;
	width: 100%;
	text-align: center;
	right: 0;
	top:50%;
    transform:translateY(-50%);
}
.answer img{
	position: absolute;
	width: 100%;
	text-align: center;
	right: 0;	
}
.answer_TOP{
	cursor: pointer;
}
.answer_TOP:hover p{
	color: #3D5BA8;
}
.answer_TOP:hover .answer{
	background-color: #3D5BA8;
	color: #F1F1F2 !important;
	transition: 200ms;
}
.icon{
	background-color: #F1F1F2;
	color:  #3D5BA8;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	overflow: hidden;
	border-radius: 999em;
}
.icon:after{
	content:"";
	margin-top: 100%;
	display: block;
}
.icon:hover{
	background-color: #87A7D6 !important;
	color: #F1F1F2;
	transition: 200ms;
}
.icon .options{
	position: absolute;
	width: 100%;
	text-align: center;
	right: 0;
	top:50%;
    transform:translateY(-50%);
	font-size: 1.1em !important;
}
.iconSelected{			
	background-color: #3D5BA8 !important;
	color: #F1F1F2 !important;
}
/* dropdown */
/* Style The Dropdown Button */
.dropbtn {
    background-color: #F1F1F2;
    color: gray;
    padding: 10px;
    font-size: 16px;
	font-family: 'Noto Sans TC';
    border: none;
	border-radius : 0 !important;
    cursor: pointer;
	width: 60%;
	margin: 10px 0;
	outline: none;
}
.dropbtnSquare{
	border-radius : 999em !important;
}
.dropbtnSquare:after{
	content:"";
	margin-top: 100%;
	display: block;
}
.dropbtnSquare .options{
	position: absolute;
	width: 100%;
	text-align: center;
	right: 0;
	top:50%;
    transform:translateY(-50%);
	font-size: 1.1em !important;
}
/* dropbutton */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	width: 20%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
	left: 20%;
    background-color: #f9f9f9;
    width: 60%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p{
    color: gray;
    padding: 5px 5px;
    text-decoration: none;
	font-family: 'Noto Sans TC';
    display: block;
	cursor: pointer;
	margin: 0;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
	background-color: #3D5BA8;
	color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3D5BA8;
	color: white;
}
.dropPlace{
	position: absolute;
	top: -50px;
}
.progressBar{
	background-color: #5675C4;
	width: 100%;
	position: fixed;
	overflow: hidden;
	bottom: 0;
	transition: 300ms;
}
.progressBar:after{
	content: "";
	margin-top: 6em;
	display: block;
}
.progress{
	background-color: #3D5BA8;
	width: 6em;
	height: 6em;
	bottom: 3em;
	left: 50%;
	transform:translateX(-50%);
	margin: 0 auto;
	position: fixed;
	border-radius: 999em;
	border: none;
}
.progress * {
	position: absolute;
}
.progress-left,.progress-right{
	background-color: #F1F1F2;
	width: 6em;
	height: 6em;
	margin: 0 auto;
	position: absolute;
	border-radius: 999em;
	border: none;
}
.progress-right{clip:rect(0,auto,auto,3em);}
.progress-left{clip:rect(0,3em,auto,0);}
.progressImg{
	background-color: #F1F1F2;
	width: 5em;
	height: 5em;
	margin: 0.5em;
	position: absolute;
	border-radius: 999em;
	border: none;
}
.backButton{
	position: fixed;
	width: 10em;
	height: 3em;
	bottom: 8em;
	left: 6em;
	background-color: #F1F1F2;
	color: #3D5BA8;
	border-radius: 5em;
	box-shadow: 1px 6px 10px 0px rgba(0,0,0,0.3);
	cursor: pointer;
	transition: 300ms;
}
.backButton:hover{
	background-color: #3D5BA8;
	color: #F1F1F2;
	transition: 300ms;
}
.backButton .options{
	position: absolute;
	width: 100%;
	text-align: center;
	right: 0;
	top:50%;
    transform:translateY(-50%);
}
/* ANIMATION */
.BHELLO-img{
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
}