select{
	width: 80%;
	margin: 0 10%;
}
.productBlock{
	background-color: azure;
	padding: 30px 20px;
	border-radius: 10px;
	margin-top: 30px;
}
.productBlock_item{
	padding: 15px;
	margin: 10px 0;
	border-radius: 10px;
	border: 2px black solid;
	background-color: #F1F1F2;
	cursor: pointer;
}
.productBlock_item:hover{
	background-color: gray;
	transition: 300ms;
}
.productBlock_item_selected{
	background-color: red !important;
}
.productInformation{
	background-color: aquamarine;
	padding: 30px 30px;
	border-radius: 10px;
	margin-top: 50px;
}
