nav{
	padding: 10px 0;
}
.navBlock{
	cursor: pointer;
	transition: 300ms;
}
.navBlock:hover{
	background-color: #EEEEEE;
}
.navLink{
	padding-top : 20px;
	padding-bottom : 20px;
	font-family: 'Noto Sans TC',Microsoft JhengHei;
	font-size: 15px;
	text-align: center;
	margin: 0 !important;
}
.signupBlock{
	background-color: #F1F1F2;
	padding-bottom: 30px;
	padding-top: 30px;
	box-shadow:0 3px 5px 2px rgba(0,0,0,0.5);
}
.signupBlock input[type=text]{
	width: 100%;
	background-color: white;
	text-align: center;
	outline: none;
	border: none;
	margin-top:10px;
	margin-bottom:10px;
	padding: 5px 0;
	font-family: 'Noto Sans TC',monospace,Microsoft JhengHei;
}
.signupBlock input[type=password]{
	width: 100%;
	background-color: white;
	text-align: center;
	outline: none;
	border: none;
	margin-top:10px;
	margin-bottom:10px;
	padding: 5px 0;
	font-family: 'Noto Sans TC',monospace,Microsoft JhengHei;
}
.signupBlock input[type=submit]{
	color: white;
	background-color: #3D5BA8;
	padding:5px;
	margin-top:20px ;
	margin-bottom:20px;
	border-radius: 20px;
	border: none;
	font-family: 'Noto Sans TC',Microsoft JhengHei !important;
	font-size: 15px;
	cursor: pointer;
}
.signupBlock input[type=submit]:hover{
	color: white;
	background-color: #87A7D6;
	transition: 300ms;
}
p{
	margin: 0 auto !important;
	font-family: 'Noto Sans TC',Microsoft JhengHei;
	color: black;
	font-size: 15px;
}
p1{
	font-size: 8px;
	color: red;
}
img{
	width: 100%;
	margin: 20px 0;
}