.qrbody{
  background-color: #F6E3D6;
  overflow-x: hidden;
  height: 100vh;
}
.qrBlock{
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border-radius: 8px;
  background-color: #F1F1F2;
  height: 75vh;
  border: #F1F1F2 solid 12px;
}
.selectorButton{
  height: 5vh;
  margin-right: 1px;
  background-color: #D0D2D3;
  padding: 0 12px;
  color: white;
  border-bottom: rgba(0,0 ,0 ,0.2 ) solid 1px !important;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none !important;
  cursor: pointer;
  transition: 300ms;
}
.selectorButton:hover{
  background-color: gray;
  transition: 300ms;
}
.selectorButton_select{
  background-color: #87A7D6 !important;
  color: white !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none !important;
  transition: 300ms;
}
.informationInner_block{
  height: 55vh;
  width: 95%;
  background-color: white;
  border: 5px solid #87A7D6;
  border-radius: 5px;
  border-top-left-radius: 0 !important;
  overflow: auto;
}
.generalButton{
  font-size: 1em;
  font-weight: bold;
  outline: none !important;
  padding: 3px 20px;
  margin: 8px 0;
  cursor: pointer;
  background-color: white;
  border: #3D5BA8 solid 3px;
  border-radius: 30px;
  color: #3D5BA8;
}
.generalButton:hover{
  background-color: #3D5BA8;
  color: white;
  transition: 500ms;
}
.generalButton_select{
  background-color: white !important;
  border: #EF5981 solid 3px !important;
  color: #EF5981 !important;
}