.qrbody{
  background-color: #F6E3D6;
  overflow-x: hidden;
  height: 100vh;
}
.qrBlock{
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border-radius: 8px;
  background-color: #F1F1F2;
  border: #F1F1F2 solid 12px;
}
.selectorButton{
  margin-right: 1px;
  max-width: 25%;
  background-color: #D0D2D3;
  padding: 0 12px;
  color: white;
  border-bottom: rgba(0,0 ,0 ,0.2 ) solid 1px !important;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none !important;
  cursor: pointer;
  transition: 300ms;
}
.selectorButton:hover{
  background-color: gray;
  transition: 300ms;
}
.selectorButton_select{
  background-color: #87A7D6 !important;
  color: white !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none !important;
  transition: 300ms;
}
.informationInner_block{
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 5px solid #87A7D6;
  border-radius: 5px;
  border-top-left-radius: 0 !important;
  overflow: auto;
}
.generalButton{
  font-size: 1em;
  font-weight: bold;
  outline: none !important;
  padding: 3px 20px;
  margin: 8px 0;
  cursor: pointer;
  background-color: white;
  border: #3D5BA8 solid 3px;
  border-radius: 30px;
  color: #3D5BA8;
}
.generalButton:hover{
  background-color: #3D5BA8;
  color: white;
  transition: 500ms;
}
.generalButton_select{
  background-color: white !important;
  border: #EF5981 solid 3px !important;
  color: #EF5981 !important;
}
/* Progress Circle */
.circle {
  position: absolute;
}
.myProgress{
  width: 100%;
  background-color: #F1F1F2;
  border-radius: 8px;
}
.myBar{
  width: 0;
  height: 15px;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 15px; /* To center it vertically */
  font-size: 0.5em;
  color: white; 
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.productInformationInner-content{

}
.tinyArrow{
  width: 4%;
  height: 100%;
  top: -13px;
  position: absolute;
}
.select_img{
  width: 70%;
  cursor: pointer;
  border: #D0D2D3 solid 3px;
  border-radius: 12px;
  transition: 300ms;
}
.select_img:hover{
  border: gray solid 3px;
  transition: 300ms;
}
.select_img_select{
  border: #EF5981 solid 3px !important;
  background-color: rgba(239, 89, 129, 0.3);
  transition: 300ms;
}
.tab{
  padding-left: 20px;
}
.doubletab{
  padding-left: 40px;
  font-weight: normal;
}
.tripletab{
  padding-left: 60px;
  font-weight: bold;
}