<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    

	<title>catcatmed| questionnaire</title>

    <link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
    <link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/qn.css">
    <script src="../javascript/jquery/jquery_v-3-3-1.js"></script>
    <script src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>

</head>
<body onselectstart="return false" class="qnbody" id="body" style="display:none">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-10 col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-9 col-xs-5 col-xs-offset-7">
            <button class="indexButton" onclick="window.location.href='/'">回首頁</button>
        </div>
    </div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
            <% if(name){ %>
                <h3>請問<%= name %>幾歲幾個月呢?</h3>
            <% }else{ %>
                <h3>請問貓孩幾歲幾個月了呢?</h3>
            <% } %>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <select class="form-control" id="ageYear">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26+">26+</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center"><span style="font-size: 20px;">歲</span></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <select class="form-control" id="ageMonth">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center"><span style="font-size: 20px;">月</span></div>
            </div>
        </div>
    </div>
    <!-- For mobile -->
    <div class="row hidden-lg hidden-md hidden-sm">
        <div class="col-xs-10 col-xs-offset-1 text-center">
            <% if(name){ %>
                <h3>請問<%= name %>幾歲幾個月呢?</h3>
            <% }else{ %>
                <h3>請問貓孩幾歲幾個月了呢?</h3>
            <% } %>
            <div class="row padding"></div>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1">
                    <select class="form-control" id="ageYear_m">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26+">26+</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <span style="font-size: 20px;">歲</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1">
                    <select class="form-control" id="ageMonth_m">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <span style="font-size: 20px;">個月</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row  text-center"><span class="warningSpan" id="warningSpan"></span></div>
    <div class="row hidden-xs">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <button class="nextButton" onclick="Send()">下 一 題</button>
        </div>
    </div>
    <div class="row hidden-lg hidden-md hidden-sm">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <button class="nextButton" onclick="Send_m()">下 一 題</button>
        </div>
    </div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
            <button class="backButton" onclick="Back()">Back</button>
        </div>
    </div>
</body>
</html>
<script>
     $(document).ready(function(){
        $('#body').fadeIn(500);
    });
    function Back(){
        $.ajax({
            method : "POST",
            url : 'back'
        }).done(function(data){
            window.location.href = '' + data;
        });
    }
    function Send(){
        let ageYear = $('#ageYear');
        let ageMonth = $('#ageMonth');
        const today = new Date();
        if(ageYear.val()=='null' || ageMonth.val()=='null'){
            document.getElementById('warningSpan').innerHTML = '請確認兩個格子都有輸入正確的值喔！';
        }else if(ageYear.val()==0 && ageMonth.val()==0){
            document.getElementById('warningSpan').innerHTML = '卡卡貓沒辦法幫還沒出生的貓咪做飲食控管喔！';
        }else if(ageYear.val()==0 && (ageMonth.val()==1 || ageMonth.val()==2)){
            document.getElementById('warningSpan').innerHTML = '卡卡貓不建議兩個月以下的幼貓食用乾飼料喔～';
        }else{
            $.ajax({
                method : 'POST',
                url : 'BCA',
                data : {
                    ageYear : $('#ageYear').val(),
                    ageMonth : $('#ageMonth').val()
                }
            }).done(function(data){
                window.location.href = '' + data;
            });
        }
    }
    function Send_m(){
        let ageYear = $('#ageYear_m');
        let ageMonth = $('#ageMonth_m');
        const today = new Date();
        if(ageYear.val()=='null' || ageMonth.val()=='null'){
            document.getElementById('warningSpan').innerHTML = '請確認兩個格子都有輸入正確的值喔！';
        }else if(ageYear.val()==0 && ageMonth.val()==0){
            document.getElementById('warningSpan').innerHTML = '卡卡貓沒辦法幫還沒出生的貓咪做飲食控管喔！';
        }else if(ageYear.val()==0 && (ageMonth.val()==1 || ageMonth.val()==2)){
            document.getElementById('warningSpan').innerHTML = '卡卡貓不建議兩個月以下的幼貓食用乾飼料喔～';
        }else{
            $.ajax({
                method : 'POST',
                url : 'BCA',
                data : {
                    ageYear : $('#ageYear_m').val(),
                    ageMonth : $('#ageMonth_m').val()
                }
            }).done(function(data){
                window.location.href = '' + data;
            });
        }
    }
</script>