<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    

	<title>catcatmed| questionnaire</title>

    <link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
    <link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/qn.css">
    <script src="../javascript/jquery/jquery_v-3-3-1.js"></script>
    <script src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>

</head>
<body onselectstart="return false" class="qnbody" id="body" style="display:none">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-10 col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-9 col-xs-5 col-xs-offset-7">
            <button class="indexButton" onclick="window.location.href='/'">回首頁</button>
        </div>
    </div>
    <div class="row padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
            <% if(name){ %>
                <h3><%= name %>的品種是<span id="sp">?</span></h3>
            <% }else{ %>
                <h3>貓孩的品種是<span id="sp">?</span></h3>
            <% } %>
            <div class="row">
                <div class="col-lg-2 col-lg-offset-3 col-md-2 col-md-offset-3 col-sm-4 col-xs-4"><div class="answer" data-toggle="modal" data-target="#A" id="sp_A"><span class="options"><img src="../images/questionnaire/icons-18.png"></span></div></div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4"><div class="answer" data-toggle="modal" data-target="#B" id="sp_B"><span class="options"><img src="../images/questionnaire/icons-16.png"></span></div></div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4"><div class="answer" data-toggle="modal" data-target="#C" id="sp_C"><span class="options"><img src="../images/questionnaire/icons-17.png"></span></div></div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="A" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">無毛貓品種選擇</h4>
                        </div>
                        <div class="modal-body">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('A','加拿大無毛貓')">加拿大無毛貓</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="B" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">短毛貓品種選擇</h4>
                        </div>
                        <div class="modal-body">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','美國短毛貓')">美國短毛貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','英國短毛貓')">英國短毛貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','異國短毛貓')">異國短毛貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','歐洲短毛貓')">歐洲短毛貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','藍貓')">　藍　貓　</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','暹羅貓')">暹　羅　貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','狸花貓')">狸　花　貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','埃及貓')">埃　及　貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','雪鞋貓')">雪　鞋　貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','曼赤肯')">曼　赤　肯</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','新加坡貓')">新加坡　貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','日本短尾')">日本　短尾</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','蘇格蘭折耳')">蘇格蘭折耳</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','阿比西尼亞')">阿比西尼亞</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('B','孟加拉貓')">孟加拉　貓</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="C" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">長毛貓品種選擇</h4>
                        </div>
                        <div class="modal-body">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('C','波斯貓')">波斯貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('C','布偶貓')">布偶貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('C','伯曼貓')">伯曼貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('C','緬因貓')">緬因貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('C','金吉拉')">金吉拉</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('C','挪威森林')">挪威森林</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('C','西伯利亞')">西伯利亞</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('C','喜馬拉雅')">喜馬拉雅</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('C','索馬利貓')">索馬利貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('C','長毛暹羅貓')">長毛暹羅貓</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="SP('C','塞爾凱克捲毛貓')">塞爾凱克捲毛貓</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="row">
                <div class="col-lg-2 col-lg-offset-3 col-md-2 col-md-offset-3 col-sm-4 col-xs-4 text-center"><h4>無毛貓</h4></div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-center"><h4>短毛貓</h4></div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-center"><h4>長毛貓</h4></div>
            </div>      
        </div>
    </div>
    <div class="row hidden-xs padding"></div>
    <div class="row  text-center"><span class="warningSpan" id="warningSpan"></span></div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button class="nextButton nextButtonLock" id="sp_mix" onclick="SP('mix','米克斯')">米克斯</button></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button class="nextButton" onclick="Send()">下一題</button></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h4 style="color:gray;">※若不確定可選擇「米克斯」即可</h4></div>
    </div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
            <button class="backButton" onclick="Back()">Back</button>
        </div>
    </div>
</body>
</html>
<script>
    let currentModal = 'Z';
    let mixLock = 0;
    let sprecord = 'null';
    $(document).ready(function(){
        $('#body').fadeIn(500);
    });
    function Back(){
        $.ajax({
            method : "POST",
            url : 'back'
        }).done(function(data){
            window.location.href = '' + data;
        });
    }
    function Send(){    
        if(sprecord!='null'){
            $.ajax({
                method : "POST",
                url: 'BSP',
                data: {
                    name: sprecord
                }
            }).done(function(data){       
                window.location.href = '' + data;
            }); 
        }else{
            document.getElementById('warningSpan').innerHTML = '卡卡貓提醒您，要記得選擇貓咪的品種喔~\n\n不確定的話選擇米克斯即可！';
        }
    }
    function SP(id,sp){
        sprecord = sp;
        if(id!=currentModal){
            if(currentModal!='Z' && currentModal!='mix') $('#sp_'+currentModal).toggleClass('selected');
            currentModal = id;
            if(id!='mix'){
                $('#sp_'+currentModal).toggleClass('selected');
                if(mixLock==1){
                    mixLock = 0;
                    $('#sp_mix').toggleClass('nextButtonLock');
                }
            }
            else{
                if(mixLock==0){
                    mixLock = 1;
                    $('#sp_'+currentModal).toggleClass('nextButtonLock');
                }                
            }
            document.getElementById('sp').innerHTML = sp;            
        }else{
            document.getElementById('sp').innerHTML = sp;
        }
    }
</script>