<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    

	<title>catcatmed| questionnaire</title>

    <link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
    <link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/qn.css">
    <script src="../javascript/jquery/jquery_v-3-3-1.js"></script>
    <script src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>

</head>
<body onselectstart="return false" class="qnbody" id="body" style="display:none">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-10 col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-9 col-xs-5 col-xs-offset-7">
            <button class="indexButton" onclick="window.location.href='/'">回首頁</button>
        </div>
    </div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center"><img src="../images/questionnaire/icon/qn/joint.png"></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
            <% if(name){ %>
                <h3><%= name %>是否有骨關節疾病等病史?</h3>
            <% }else{ %>
                <h3>貓孩是否有骨關節疾病等病史?</h3>
            <% } %>            
            <div class="row"><div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-xs-5 col-xs-offset-1"><div class="answer" id="yes" onclick="Send(this.id)"><span class="options">有</span></div></div>
            <div class="col-lg-3 col-md-3 col-xs-5"><div class="answer" id="no" onclick="Send(this.id)"><span class="options">沒有</span></div></div></div>
        </div>
    </div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row padding"></div>
    <div class="row padding"></div>
    <div class="row padding"></div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
            <button class="backButton" onclick="Back()">Back</button>
        </div>
    </div>
</body>
</html>
<script>
     $(document).ready(function(){
        $('#body').fadeIn(500);
    });
    function Back(){
        $.ajax({
            method : "POST",
            url : 'back'
        }).done(function(data){
            window.location.href = '' + data;
        });
    }
    function Send(id){        
        $.ajax({  
            method : "POST",
            url: 'joint_now',
            data: {
                name: id
            }
        }).done(function(data){       
            window.location.href = '' + data;
        });        
    }
</script>