<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>catcatmed| questionnaire</title>

    <link rel="shortcut icon" type="image/png" href="../images/favicon.png" />
    <link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/qn.css">
    <script src="../javascript/jquery/jquery_v-3-3-1.js"></script>
    <script src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <style>
        .answerIMG{
            margin-top: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
        }
        .answerIMG:hover{
            transition: 300ms;
            background-color: #D0D2D3;
        }
        .selectedIMG{
            background-color: #A6A8AB !important;
        }
    </style>
</head>

<body onselectstart="return false" class="qnbody" id="body" style="display:none">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-10 col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-9 col-xs-5 col-xs-offset-7">
            <button class="indexButton" onclick="window.location.href='/'">回首頁</button>
        </div>
    </div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs">
        <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h3>這次想特別注重/探索的項目為何呢？</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answerIMG" id="A" onclick="Icon(this.id)"><span class=""><img src="../images/questionnaire/icon/black/JOINT.png"></span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answerIMG" id="B" onclick="Icon(this.id)"><span class=""><img src="../images/questionnaire/icon/black/HEART.png"></span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answerIMG" id="C" onclick="Icon(this.id)"><span class=""><img src="../images/questionnaire/icon/black/MOUTH.png"></span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answerIMG" id="D" onclick="Icon(this.id)"><span class=""><img src="../images/questionnaire/icon/black/LIHAIR.png"></span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answerIMG" id="E" onclick="Icon(this.id)"><span class=""><img src="../images/questionnaire/icon/black/IMMU.png"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answerIMG" id="F" onclick="Icon(this.id)"><span class=""><img src="../images/questionnaire/icon/black/KIDNEY.png"></span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answerIMG" id="G" onclick="Icon(this.id)"><span class=""><img src="../images/questionnaire/icon/black/URINARY.png"></span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answerIMG" id="H" onclick="Icon(this.id)"><span class=""><img src="../images/questionnaire/icon/black/STOMA.png"></span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answerIMG" id="I" onclick="Icon(this.id)"><span class=""><img src="../images/questionnaire/icon/black/MEHAIR.png"></span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answerIMG" id="J" onclick="Icon(this.id)"><span class=""><img src="../images/questionnaire/icon/black/STRESS.png"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hidden-xs padding"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4 style="color:gray">※最多可以選擇三個喔～</h4>
        </div>
    </div>
    <div class="row  text-center"><span class="warningSpan" id="warningSpan"></span></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <button class="nextButton" onclick="Send()">下 一 題</button>
        </div>
    </div>
    <div class="row hidden-xs padding"></div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
            <button class="backButton" onclick="Back()">Back</button>
        </div>
    </div>
</body>

</html>
<script>
    $(document).ready(function () {
        $('#body').fadeIn(500);
    });
    let A = 0;
    let B = 0;
    let C = 0;
    let D = 0;
    let E = 0;
    let F = 0;
    let G = 0;
    let H = 0;
    let I = 0;
    let J = 0;
    let count = 0;
    let last_select = '#';
    function Back() {
        $.ajax({
            method: "POST",
            url: 'back'
        }).done(function (data) {
            window.location.href = '' + data;
        });
    }
    function Send() {
        let sum = A + B + C + D + E + F + G + H + I + J;
        if (sum == 0) {
            document.getElementById('warningSpan').innerHTML = '請至少選擇一個需要關心的項目喔！';
        }else {
            //send data
            let s = [];
            if(A==1) s.push('A');
            if(B==1) s.push('B');
            if(C==1) s.push('C');
            if(D==1) s.push('D');
            if(E==1) s.push('E');
            if(F==1) s.push('F');
            if(G==1) s.push('G');
            if(H==1) s.push('H');
            if(I==1) s.push('I');
            if(J==1) s.push('J');
            $.ajax({
                method : "POST",
                url : 'select_icon',
                data : {
                    name : JSON.stringify(s)
                }
            }).done(function(data){
                window.location.href = '' + data;
            });
        }
    }
    function Icon(id) {
        if(count!=3){
            if(FindValueOfid(id)==0){
                //change and add count
                count += 1;
                last_select = id;
                ChangeValueOfid(id);
            }else{
                //change and minus count
                count -= 1;
                last_select = '#';
                ChangeValueOfid(id);
            }
        }else{
            if(FindValueOfid(id)==0){
                //already has 3 and plus 1
                //remove last_select and add new one
                count = 3;
                ChangeValueOfid(last_select);
                ChangeValueOfid(id);
                last_select = id;
            }else{
                //3 minus 1
                //minus count and change
                count -= 1;
                last_select = '#';
                ChangeValueOfid(id);
            }
        }
    }
    function FindValueOfid(id){
        if(id=='A') return A;
        if(id=='B') return B;
        if(id=='C') return C;
        if(id=='D') return D;
        if(id=='E') return E;
        if(id=='F') return F;
        if(id=='G') return G;
        if(id=='H') return H;
        if(id=='I') return I;
        if(id=='J') return J;
    }
    function ChangeValueOfid(id){
        if(id=='A') {if(A==0)A=1;else A=0;$('#'+id).toggleClass('selectedIMG');}
        if(id=='B') {if(B==0)B=1;else B=0;$('#'+id).toggleClass('selectedIMG');}
        if(id=='C') {if(C==0)C=1;else C=0;$('#'+id).toggleClass('selectedIMG');}
        if(id=='D') {if(D==0)D=1;else D=0;$('#'+id).toggleClass('selectedIMG');}
        if(id=='E') {if(E==0)E=1;else E=0;$('#'+id).toggleClass('selectedIMG');}
        if(id=='F') {if(F==0)F=1;else F=0;$('#'+id).toggleClass('selectedIMG');}
        if(id=='G') {if(G==0)G=1;else G=0;$('#'+id).toggleClass('selectedIMG');}
        if(id=='H') {if(H==0)H=1;else H=0;$('#'+id).toggleClass('selectedIMG');}
        if(id=='I') {if(I==0)I=1;else I=0;$('#'+id).toggleClass('selectedIMG');}
        if(id=='J') {if(J==0)J=1;else J=0;$('#'+id).toggleClass('selectedIMG');}
    }
</script>