<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>catcatmed| questionnaire</title>

    <link rel="shortcut icon" type="image/png" href="../images/favicon.png" />
    <link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/qn.css">
    <script src="../javascript/jquery/jquery_v-3-3-1.js"></script>
    <script src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>

</head>

<body onselectstart="return false" class="qnbody" id="body" style="display:none">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-10 col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-9 col-xs-5 col-xs-offset-7">
            <button class="indexButton" onclick="window.location.href='/'">回首頁</button>
        </div>
    </div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs padding"></div>
    <div class="row hidden-xs">
        <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answer" id="A" onclick="Icon(this.id)"><span class="options">joint</span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answer" id="B" onclick="Icon(this.id)"><span class="options">heart</span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answer" id="C" onclick="Icon(this.id)"><span class="options">mouth</span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answer" id="D" onclick="Icon(this.id)"><span class="options">fur</span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answer" id="E" onclick="Icon(this.id)"><span class="options">immu</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answer" id="F" onclick="Icon(this.id)"><span class="options">kidney</span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answer" id="G" onclick="Icon(this.id)"><span class="options">urinary</span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answer" id="H" onclick="Icon(this.id)"><span class="options">stoma</span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answer" id="I" onclick="Icon(this.id)"><span class="options">melt</span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="answer" id="J" onclick="Icon(this.id)"><span class="options">stress</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hidden-xs padding"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <button class="nextButton" onclick="Send()">下 一 題</button>
        </div>
    </div>
    <div class="row hidden-xs padding"></div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
            <button class="backButton" onclick="Back()">Back</button>
        </div>
    </div>
</body>

</html>
<script>
    $(document).ready(function () {
        $('#body').fadeIn(500);
    });
    let A = -1;
    let B = -1;
    let C = -1;
    let D = -1;
    let E = -1;
    let F = -1;
    let G = -1;
    let H = -1;
    let I = -1;
    let J = -1;
    let last_select = '#';
    function Back() {
        $.ajax({
            method: "POST",
            url: 'back'
        }).done(function (data) {
            window.location.href = '' + data;
        });
    }
    function Send() {
        let sum = A + B + C + D + E + F + G + H + I + J;
        if (sum == -10) {
            alert('請至少選擇一個需要關心的項目喔！');
        } else if (sum > -4) {
            alert('最多只能選擇三個要關心的項目喔！');
            window.location.href = 'select_icon';
        } else {
            //send data
        }
    }
    function Icon(id) {

    }
    function IconChange(id) {

    }
</script>